[2021-11-08 05:05] yihuaf commented on #454
It is probably easier to add `--debug` flag. `runc` has the same flag, even though it is not in the OCI spec. The option should have the same effect as `YOUKI_LOG_LEVEL=debug`.

[2021-11-08 05:11] utam0k commented on #454
Ok, I decided to add it.
@unknowndevQwQ Why don't you try to implement it if you are interested in it? I believe it is not too difficult for the first contributor.

[2021-11-08 09:42] #444 closed

[2021-11-09 01:55] unknowndevQwQ commented on #454
Sorry, I will most likely not have the free time to do this for some time in the future
Although this matter should not be too difficult

[2021-11-10 04:33] utam0k commented on #454
@unknowndevQwQ Have you started implementing this feature? If not, I'll implement it.

[2021-11-10 05:14] utam0k opened #464 "establish a benchmarking method"
## Why
For youki, performance is one of the most important concerns. Until now, we have relied on our individual senses for this, but we should prepare the official and easy way to measure it more accurately.

## Goal
Provide documentation and scripts to measure performance.
Ideally, it should be incorporated into the CI and measured by PR every time.

[2021-11-10 05:16] utam0k commented on #464
a example https://github.com/containers/youki/pull/447#issuecomment-958991982

[2021-11-10 05:22] utam0k commented on #464
I am looking for people who are willing to take on this challenge.

[2021-11-10 05:40] tsturzl commented on #464
I had actually been fooling around with benchmarking Youki. I had previously used the Criterion crate to benchmark Rust projects for work and have really enjoyed it. I'm also aware of flamegraph-rs which can give performance profiles. I'm not sure how well these things might work since Youki works in a different way from many other applications, such as forking processes, but currently I have a mo

[2021-11-10 05:53] tsturzl commented on #369
I think we probably already support arm64, but I don't really have a good setup to test that. If we didn't link against C libs it'd be easy to just cross compile. I might actually be able to test this out on a embedded system one of these days, but that said I think we should focus on x86_64 until we are feature complete with runc. I agree with @yihuaf, we probably already support other architectu

[2021-11-10 06:33] unknowndevQwQ commented on #454
WIP

[2021-11-11 05:26] yihuaf commented on #369
Agree arm64 is not that nitch, and will become bigger and bigger in the future. To reiterate our decision,
* Kernel: ≧ 5.4(May raise in the future)
* OS: Linux
* Architecture: x86_64. (arm64 in the future when when have the use-case)

[2021-11-11 11:53] utam0k commented on #369
I also think that arm64 should be supported.

[2021-11-11 11:56] utam0k commented on #369
I think this will be fine for the first release. How about you guys?

OS: Linux
Architecture: x86_64. (arm64 in the future when when have the use-case)

[2021-11-11 13:01] utam0k opened #468 "Support for default errno of seccomp"
opencontainers/runtime-spec#1087

[2021-11-12 03:54] yihuaf commented on #468
I will fix this. I already made changes to the spec, so this should be easy.

[2021-11-12 05:42] yihuaf commented on #457
Is this still reproducible?

[2021-11-12 05:45] utam0k commented on #457
As far as I know, this is still a mystery.

[2021-11-12 05:51] utam0k opened #469 "Support for SELinux label"
I don't know what we need. The first step is to identify what we need to do.
https://github.com/opencontainers/runtime-spec/blob/a3c33d663ebc56c4d35dbceaa447c7bf37f6fab3/config.md?plain=1#L213-L214

[2021-11-12 16:58] YJDoc2 commented on #469
I also found https://opensource.com/article/18/2/understanding-selinux-labels-container-runtimes, which is from the author who contributed to selinux go bindings for OCI : https://github.com/opencontainers/selinux

[2021-11-12 17:03] tommady commented on #457
agreed...
I tried to use the vagrant of fedora os, the youki provided one but with the libvirt as the provider,
it looks ok not to hang or delay on that point of conmon but with some not important cgroup cleanup issues.

and my host device is
[code]

it just hangs a little while at this point of conmon
[code]
very weird...

I think if it is not reproducible for everyone...
then this issue can be c

[2021-11-12 17:31] tommady commented on #464
@tsturzl I agree with your point, so what I wanna raise here is a part of the benchmark progress.

Since I have some idea with the libcontainer lib wanna do some modifications, but I am afraid to effect the performance, so I want to add a PR to do the relative benchmark by the GitHub action with a label triggering way to get the benchmark criteria of each PR'd build compares to main branch's build

[2021-11-13 00:35] utam0k commented on #464
@tommady
Your suggestion is a good first step. Looks good. I agree with you. Let's give It a try
I'm imagining https://github.com/TaKO8Ki/frum/pull/16.

[2021-11-13 00:36] utam0k commented on #464
@Furisto @yihuaf If you have any suggestions, please let me know.

[2021-11-13 01:24] #468 closed

[2021-11-13 03:05] yihuaf commented on #464
@tommady In general I am not a fan of github action or CI for performance benchmark. A local machine, ideally a physical box for this, should be preferred. There are too many variables we can't control using github actions and we run the risk of garbage in and garbage out.

In terms of benchmark, we have two separate pieces.

The first is benchmark youki as a binary. The goal here should be automa

[2021-11-13 03:34] tsturzl commented on #464
@yihuaf absolutely, and I was about to say the same thing actually. GitHub actions are simply not a good or stable way of performing benchmarks. We don't know how those VMs are setup, they could burst in performance, they could be suffocated by a noisy neighbor, the performance is too varied to expect reliable benchmarks.

Flamegraph actually has an excellent and detailed guide on analyzing perfor

[2021-11-13 03:39] tsturzl commented on #464
As far as a strategy for benchmarking regressions and improvements. I think benchmarks should be specific to the local machine your benchmarking on, as in you never check in your benchmark results, they are not tracked by git. Instead you record the last benchmark to compare against that way you can change branches to compare performance against main branch or a specific release. This does leave a

[2021-11-13 03:58] tsturzl commented on #369
@utam0k looks mostly good, but my concern with distros is that some distros meet that criteria and still Youki would not run or compile on them because they do not have a suitable version of libseccomp, or in some cases like Alpine Linux there is no systemd and thus there is no systemd library to link against. So if we don't want to target specific distros then we should at least know the dependen

[2021-11-13 04:05] tsturzl commented on #369
On a side note. I'd be very interested in taking on the arm64 support once I have some time. I have worked a lot with arm64 boards both in C++ and Rust. We use  arm processors a lot at my work, as I work largely with robotics and embedded devices.

[2021-11-13 04:54] tsturzl opened #471 "test_make_parent_mount_private is finding corrent parent mount of when `/tmp` is mounted by tmpfs"
Some systems mount a `tmpfs` filesystem at `/tmp` and some systems just treat it as a regular directory on the root filesystem. When `/tmp` is mounted, the temporary directory used by the test has the parent mount `/tmp` instead of the expected `/`. This means that currently this test is failing on any system that mounts `/tmp`. This is a bug with the test, not the function it's testing, because i

[2021-11-13 05:23] tommady commented on #464
Hi @tsturzl @yihuaf ,
I totally agreed with your points, but what I am thinking about is just like this [article](https://labs.quansight.org/blog/2021/08/github-actions-benchmarks/) said:

[code]

so let the CI do a relative benchmark ( in my idea the benchmark should be fast and small )
to provide a matrix for everyone to have a quick view.

WDYT? 🙇🏻

[2021-11-13 06:16] tsturzl commented on #464
@tommady I think the relative benchmark can even be inconsistent enough to provide misleading results. I think sometimes a benchmark might not be super influenced by the system, but in this case in order to even get a reliable or useful benchmark you need to warmup and then run a number of iterations which could be influenced by too many external factors. I'd be willing to see this be tested, but

[2021-11-13 07:36] utam0k commented on #464
Sorry, I didn't word that well. Of course, local machine measurement is preferable. However, I think it is useful enough to compare the performance with the main branch in PR's CI, although it is only a rough guide. I don't think it's realistic for reviewers to benchmark against all PRs at reviwer's local machine every time.
However, I have never attempted this and would like to hear your insights

[2021-11-13 07:55] #471 closed

[2021-11-14 04:09] tiqwab opened #475 "Flag `--log` is broken?"
I found that the current youki can't write logs to a file.

[code]

youki uses env_logger, but `env_logger::Target::Pipe` is broken according to https://github.com/env-logger-rs/env_logger/issues/208.

[2021-11-15 11:18] #457 closed

[2021-11-15 21:53] tsturzl commented on #464
Maybe a good strategy here is to inform the need for benchmarks on a specific PR using something that's more deterministic to get performance insight? Maybe using something like Cachegrind to analyze a PR branch to see if CPU instructions count falls beyond a certain threshold, we can inform a person to run the benchmark tools to compare against master? So cachegrind can be used in some capacity t

[2021-11-16 14:15] Furisto commented on #475
I had noticed this too, but hoped that env_logger fixes this soon<sup>TM</sup>.

[2021-11-17 19:36] #454 closed

[2021-11-18 03:12] unknowndevQwQ opened #481 "Folder /run/youki mode is not 0700"
`sudo rm -Rf /run/youki && sudo podman --cgroup-manager cgroupfs --runtime /bin/youki --runtime-flag log=/tmp/youki.log run --rm hello-world && ls -ahl /run | grep youki`

[code]

youki version: 2120d33b8080d19

[2021-11-18 04:49] utam0k commented on #481
Thanks for your report. Why is `0700` correct? Does runc or something work like it?

[2021-11-18 09:38] yihuaf commented on #475
Hmm this is unfortunate... I was hoping `env_logger` to be more stable and save us the boilerplate. Let me take this issue and see if we should just revert to having our own logger implementation.

[2021-11-18 10:09] unknowndevQwQ commented on #481
yep

[2021-11-19 04:41] utam0k commented on #78
@Furisto Since the devices controller is the only special implementation, can I cut it out with another issue about handling devices and this issue complete?

[2021-11-21 21:11] Furisto commented on #78
@utam0k Yes, we have [this](https://github.com/containers/youki/issues/230) issue for devices.

[2021-11-23 04:18] dgibson opened #487 "determine_root_path() isn't quite right for XDG_RUNTIME_DIR and /run/user/{} cases"
For rootless operation, `determine_root_path()` will select from one of four options for the root state directory:

1. `$XDG_RUNTIME_DIR`
2. `/run/user/<uid>`
3. `$HOME/.youki/run`
4. `/tmp/youki/<uid>`

Options (1) and (2) will often amount to the same thing, since `/run/user/<uid>` is the default value for `$XDG_RUNTIME_DIR` on most systems.  But, in both these cases we don't include "youki", or

[2021-11-23 04:45] utam0k commented on #487
@dgibson Thanks for your report. Your point is here, right?
https://github.com/containers/youki/blob/e766310a899fac41766c3e6589fb68f84ac17793/crates/youki/src/main.rs#L136-L174
I didn't know the normal convention.

[2021-11-23 08:27] dgibson commented on #487
Yes, that's it.

I should clarify - I don't have some special knowledge here, I just looked at what's in that directory on my system, and it appears to be subdivided by the program using it:

[code]

[2021-11-23 12:20] #487 closed

[2021-11-24 03:17] dgibson opened #496 "Final fallback for determine_root_path() will fail with multiple users"
`determine_root_path` goes through various options to find a state storage location, the last of which is `/tmp/youki/<uid>`.

Unfortunately, if two different users are using youki and this fallback option is used, then the second user will fail on this option as well.

That's because not just the final directory, but newly created directories leading up to it will be created with the permissions

[2021-11-24 03:38] dgibson opened #498 "prestart_fail.t leaves a stale youki process running"
Although all the `runtime-tools` testcases run by the `integration_tests.sh` script pass, one of the - `prestart_fail.t` - leaves a stale youki process running that must be manually removed with `kill -9`.  I'm assuming this is some sort of failure in the cleanup / exit path.

[code]

[2021-11-24 03:40] dgibson commented on #498
The logfile contains the following:

[code]

[2021-11-24 08:22] utam0k commented on #498
@dgibson Thanks for your report. Could I ask you to put the result of `./youki info`?

[2021-11-24 09:21] dgibson commented on #498
Sure
[code]

[2021-11-24 13:05] #496 closed

[2021-11-27 14:17] abalmos commented on #369
We are using containers on the edge in mobile IoT/telematics applications ([oats-center/isoblue-avena](http://github.com/oats-center/isoblue-avena)). This project hits home with that use case, but, unfortunately, often calls for ARM/ARM64.

[2021-11-28 04:51] yihuaf commented on #498
Let me help and take a look

[2021-11-28 09:36] utam0k commented on #78
Special Thanks @Furisto @tsturzl @0xdco @TinySong @duduainankai

[2021-11-28 09:36] #78 closed

[2021-11-28 12:56] utam0k commented on #369
I'm sorry for the delayed reply.  I think we should solve this problem. Could I ask you to create an issue about this and describe now status?

[2021-11-28 12:57] utam0k commented on #369
@abalmos Thanks for your advice. hmm... I don't have any way to prepare for the environment. Do you have any good ideas?

[2021-11-28 13:08] utam0k commented on #464
@tsturzl I'd like to see performance measurements using `Cachegrind. Could you please, I think it would be to see how messy the performance measurement on github actions can be. We have already gotten `hyperfine` measurements with a simple command.

[2021-11-28 13:11] utam0k commented on #481
@unknowndevQwQ Would you like to try to fix it?

[2021-11-30 02:06] dgibson opened #508 "Command line parsing front end would be useful in its own crate"
Some colleagues and I have a use case for a rather specialized OCI runtime tool.  The idea is that it wouldn't implement the container backend itself, but rather would just be a frontend which then calls into another implementation to do the actual container operations.  We have a couple of uses in mind for this:

- Instrumenting / tracing an existing runtime for debugging purposes
- Translating t

[2021-11-30 11:50] Furisto commented on #508
Seems reasonable. We have done similar things with other parts of our code in the past, as one of our goals is to make it easier to write container implementations in Rust, so there is no conflict there. The required changes seem to be relatively low impact.

[2021-11-30 19:18] abalmos commented on #369
@utam0k I tend to use virtual machines as a starting pointing. I could potentially offer access to some of our devices for testing, but that may not be a long term solution.

[2021-12-01 01:56] dgibson commented on #508
Terrific!  I've made a suggested implementation of this change in PR #509

[2021-12-01 11:35] utam0k commented on #369
Youki probably works on arm/arm64, but I can't guarantee it because we can't confirm it works with CI in its current state :sob:

[2021-12-01 12:07] utam0k commented on #508
@dgibson
Furisto is right and I agree with him. Are you talking about kata-agent?
https://github.com/kata-containers/kata-containers/pull/2785
I had heard a bit of this story before. Let's move forward cooperatively. Thank you very much for your contribution to youki :100:

[2021-12-01 16:16] YJDoc2 commented on #369
Hey, I was looking around on how can we test this, and there are two options I have found, but none of them seems much reasonable :
- Github does not allow to specify arch in actions and CI/CD, but it allows using an external runner for CI jobs. This will require someone to set up an external account on something like Azure, which does allow selecting architecture, and possibly we can do this in i

[2021-12-01 16:26] tsturzl commented on #361
I got bored and started working on linux_cgroups_network, so I'll take that one also

[2021-12-01 16:39] tsturzl opened #512 "Put libsystemd behind a feature flag"
Currently we depend on libsystemd at runtime. I had previously put this behind a feature flag which was set to be a default feature, and therefore you could easily turn it off at compile time. In moving youki components into separate sub-crates this feature flag has broken. I'm not sure there is a simple way to have top level feature flags propagate into the sub-crates, and my hunch is that we may

[2021-12-01 16:40] tsturzl commented on #369
@utam0k I've created #512 to address the libsystemd feature flag.

[2021-12-01 17:00] tsturzl commented on #369
@YJDoc2 @utam0k

Another option for ARM is something like tiered support. We consider ARM64 a tier 2, and maybe ARMv6/7 (32bit) as tier 3 support. Of course x86_64 would be tier 1 support, meaning that CI is actively testing all code against x86_64 for every PR before it is merged into main, and therefore we guarantee that main will always be work in at least a development capacity on main. Then f

[2021-12-01 17:34] tsturzl commented on #369
I also have experience with Qemu for ARM64. I had done something similar to test embedded software written in Rust that was targeted for a ARM64. If that's a route we want to try I'd be willing to try it out, however I should make mention that running unit tests in CI in an emulator will be terribly slow, because that was exactly my experience with it. It's also very likely that the Github Actions

[2021-12-01 22:11] #475 closed

[2021-12-02 00:51] dgibson commented on #508
Actually, no.  I'm aware of that PR, and re-using the command line parsing there as well could certainly be useful, but it's not something I'm looking at myself.  Rather I'm looking at adding an OCI command line to the full Kata stack, with runtime, VM and agent.  Currently Kata (2.x) is controlled using the "shimv2" gRPC protocol which has similar operations to the OCI runtime spec, but with a fe

[2021-12-02 21:28] abalmos commented on #369
@tsturzl I think a tier based solution with ARM tier 2 is a great solution ... but that still leaves the need for devs to test occasionally and debug issue reports.

I also share the same experience with qemu in Github Actions ... it ends up being a /very/ slow pipeline (we used it through `docker buildx`) ... I would think just building youki may even exceed the maximum run time (which is what we

[2021-12-02 21:36] tsturzl commented on #369
@abalmos I'd agree that's probably a better solution here. We should probably create a ticket for this, and should probably discuss who creates the AWS resource. I'm wondering if @utam0k should create it since he's an actual containers org member, thoughts?

[2021-12-02 22:54] utam0k commented on #44
@yihuaf @Furisto @tsturzl @YJDoc2 @tommady
Hi! I'm currently working on this release blog and preparing for the release. Please let me know if there is anything you would like to include in the first release.

[2021-12-02 23:04] utam0k commented on #369
@tsturzl
I was looking at github actions of crun and found this. Maybe we can use it. How about this?
https://github.com/containers/crun/blob/main/.github/workflows/test.yaml
https://github.com/uraimo/run-on-arch-action

[2021-12-03 00:36] tsturzl commented on #369
I think `run-on-arch-action` is doing what @abalmos was saying with docker. Would youki tests run in a docker containers? I don't think the integration tests will run correctly like this. Compilation is really slow in an emulator, so I wonder how well this is working for crun. Maybe it's worth a try?

[2021-12-03 01:39] utam0k commented on #369
@tsturzl
Probably not that hard to try it, right? I'm actually writing a script to run a containerd integration test on docker with youki, which may be able to support a little the arm. BTW I'm mostly referring to crun for how to do it.
https://github.com/containers/youki/issues/331

[2021-12-03 01:40] utam0k commented on #369
It might be a good idea to discuss a separate issue from this for the supporting arm.

[2021-12-04 04:31] #508 closed

[2021-12-05 15:07] Dentrax opened #518 "Determine a benchmark comparison table format for the README"
This is a follow-up issue for #464, which we have to implement it in first place. Since that issue is about how to implement benchmarking method in right way, whereas this issue is about how can we visualize a fancy and simple _table_ in the README. Just dropping the idea here, so we do not forget!

@utam0k [measured](https://github.com/containers/youki/pull/447#issuecomment-958991982) the perform

[2021-12-05 21:13] Furisto commented on #44
@utam0k Can you share a draft of the blog article once you have it?

[2021-12-06 02:49] yihuaf commented on #44
Super. Looking forward to this.

[2021-12-07 11:54] utam0k commented on #518
@Dentrax
Thanks for your interest!
This table is very cool. however, the `winner` column may be a bit extreme, so I think we remove it. As for the superiority, just looking at the numbers should be enough.

[2021-12-09 03:04] utam0k commented on #44
@Furisto Sure. But I need more time to write this blog. I will prepare a blog in English and Japanese. Could you check my English?

[2021-12-09 03:05] utam0k commented on #44
Thanks. Do you want to see it before it will be published?

[2021-12-09 03:06] utam0k commented on #44
@yihuaf
Thanks. Do you want to see it before it will be published?

[2021-12-09 05:02] yihuaf commented on #44
Sure. I can help review it.

[2021-12-12 02:37] jhult opened #529 "dockerd/moby - failed to parse youki version: unknown output format"
`sudo systemctl status docker.service` produces this `WARNING`:

`Dec 10 15:14:29 hostname dockerd[20706]: time="2021-12-10T15:14:29.259763302-05:00" level=warning msg="failed to parse /usr/bin/youki version: unknown output format: youki 0.0.1\n"`

Here is how the parsing is being done: https://github.com/moby/moby/blob/65cc84abc522a564699bb171ca54ea1857256d10/daemon/info_unix.go#L280

Related iss

[2021-12-12 11:02] utam0k opened #531 "Support for containerd"
# Goal

Pass the integration test of contained

# Status
Done!

### How to run containerd's integration test with youki

https://containers.github.io/youki/developer/containerd_integration_test_using_youki.html

[2021-12-14 19:05] #529 closed

[2021-12-18 16:00] knight42 commented on #147
@utam0k Hi! I would like to work on this!

[2021-12-19 01:38] utam0k commented on #147
@knight42 Sure!

[2021-12-22 21:12] gattytto commented on #78
this is what I get when I try youki rust runtime in cri-o engine for kubernetes, trying to run a native rust-only binary pod using the runtimeClass yaml flag in a kube pod yaml:
[code]

this is crio.conf relevant sections:
[code]

[code]

[2021-12-23 20:07] jhult commented on #369
For whatever it is worth, I was able to compile and run on [Oracle Linux 7](https://docs.oracle.com/en/operating-systems/oracle-linux/7/).

[code]

[2021-12-23 20:48] Furisto commented on #78
@gattytto Thanks for the detailed report. The pod is specified without resource restrictions but still the config.json that is created by CRI-O for youki sets a value for quota/period and somehow this causes a value to be written to the cgroup file that is outside of the accepcted range. Can you build youki with the changes from [here](https://github.com/containers/youki/pull/562)? Would like to k

[2021-12-24 16:27] gattytto commented on #78
[code]

[code]

[2021-12-25 15:50] Furisto commented on #78
@gattytto You have hit one of these areas where the runtime spec does not specify the expected behavior and leaves it up to the interpretation of the implementer. I have already noted down a few of these areas as I implement the runtime tests for cgroup v2 and once I am finished I plan to address this on the runtime spec repository, so that we can get it incorporated into the spec.

Some backgroun

[2021-12-25 19:41] gattytto commented on #78
thank you so much for explaining, I Will try with pod resource restrictions and come back

[2021-12-25 19:57] gattytto commented on #78
I have tried both "1200ms" and "1" for cpu values with the same results:
[code]

[2021-12-27 18:20] Furisto commented on #44
See https://www.utam0k.jp/en/blog/2021/12/27/youki_first_release/

[2021-12-27 18:20] #44 closed

[2021-12-27 18:35] Furisto commented on #78
@gattytto That's odd. The only explanation I can think of at the moment is that CRI-O is creating a pause container for the pod and that container does not have resource restrictions. Can you try it with #569?

[2021-12-29 01:50] gattytto commented on #78
[code]

[code]

[2021-12-30 16:56] Furisto commented on #78
@gattytto The name of the interface file was wrong. Fixed with #579.

[2021-12-31 03:12] whereistejas commented on #361
Hi! I would like to contribute to this issue by adding a few tests, too. I have been working with rust for about 6 months, now. However, I have no exp with container runtimes, thus, would like to start with small and low priority tests.

I though I could start by adding the `root_readonly_true` test? Any thoughts?

[2021-12-31 06:39] YJDoc2 commented on #361
Hey @whereistejas , thanks for your interest in contribution. I would suggest that rather than starting with `root_readonly_test` , you might start with `craete`. The reason behind this is that `root_readonly` uses a function `test_inside_runtime` a util function, which I am currently implementing for another test, but facing some issues. I hope to get it worked out in some days.

The create test

[2021-12-31 11:08] whereistejas commented on #361
Hi @YJDoc2, if my understanding is correct you are referring to the following [`create`](https://github.com/opencontainers/runtime-tools/blob/master/validation/create/create.go) tests. I can see these tests are already implemented as part of `lifecycle/container_create.rs`. Please, correct me if I'm wrong.

[2021-12-31 13:07] YJDoc2 commented on #361
Hey, yes that are the tests, but they were created as part of proof-of-concept of integration tests themselves, and should be replaced in sometime for their own dedicated tests as per the runtime tools.

Or if you are fine with it, you can wait till merging of #582 which implemented the `test_inside_container` , then you can work on `root_readonly` as well.

[2021-12-31 14:03] whereistejas commented on #361
So, we would like to have the `create` tests extracted/refactored out of `lifecycle` into their own module?

[2021-12-31 17:52] gattytto commented on #78
Thank you for your answer, now it gives a different outcome

logs:
[code]

[2022-01-01 09:42] utam0k opened #584 "Using youki and cri-o to run Kubernetes"
# Goals

- [ ] Anyway, to be able to create a simple pod
- [ ] Integrate cri-o integration test into youki CI
- [ ] Pass the cri-o integration test.
- [ ] Add the documentation how to run

refs https://github.com/containers/youki/issues/78#issuecomment-999882807

[2022-01-01 09:51] utam0k commented on #78
@Furisto @gattytto Hi! I'm sorry for the delay to take care of this problem.  As this problem is very interesting and exciting for youki, I created the issue about this problem. To make it easier for other persons who is interesting in youki and cri-o  to find and view later, we can continue in this issue.  If you have any ideas on how to recreate this using kind or others, please comment this iss

[2022-01-01 09:55] utam0k commented on #584
The status of latest main branch.

[2022-01-01 09:57] utam0k opened #585 "Using youki and containerd to run Kubernetes"
## Goals

- [ ] Anyway, to be able to create a simple pod
- [ ] Integrate containerd integration test into youki CI
- [ ] Pass the containerd integration test.
- [ ] Add the documentation how to run

[2022-01-01 10:45] utam0k commented on #585
@yihuaf @tsturzl Hi! Are you interested in this issue? This could be quite interesting.

[2022-01-01 10:45] utam0k commented on #331
Duplicate #584 #585

[2022-01-01 10:45] #331 closed

[2022-01-01 15:39] tsturzl commented on #585
I'd be interested in working on this.

[2022-01-01 15:50] gattytto commented on #584
[here](https://github.com/gattytto/lxd_kube) are reproduction steps for multi-node cri-o kubernetes cluster using LXD vm's.

this can also be replicated using minikube but I use a manual configuratino approach and am unaware of minikube ways to use cri-o instead of docker (docker-less setup).

[2022-01-01 17:57] gattytto commented on #331
I have been playing around to integrate other runtimes to cri-o for use with kubernetes in different scenarios, like single-node clusters, different architectures (like arm) and different host underlying filesystems (zfs/lvm/xfs), and then trying to find the more canonical way to implement them by using templates (lxc, snap, aptitude, yaml for kubernetes finally).

I hink this solution has 2 parts

[2022-01-02 07:39] utam0k commented on #585
@tsturzl
Thanks for your reaction. I'm glad to hear of your intention. I'll assign you to this issue.
BTW I am working on integrating the contained integration test into youki CI. https://github.com/containers/youki/pull/514
This is the only one I'll do.

[2022-01-02 08:04] utam0k opened #586 "Be published crate.io"
- [ ] license or license-file
- [ ] description
- [ ] homepage
- [ ] documentation
- [ ] repository
- [ ] readme

[2022-01-03 05:39] YJDoc2 opened #591 "Deciding How to implement runtimetool"
In the implementation of integration tests, I have started implementing tests which rely on test_inside_container functionality. I had some issues while understanding it originally, but as @Furisto helped in https://github.com/containers/youki/pull/582#discussion_r777129673, now I understand that we need a standalone binary which will run inside the container and test the properties from inside.

[2022-01-03 05:42] YJDoc2 commented on #361
Hey @whereistejas , yes I meant that create tests should be refactored in there own module, as you are working on in #583  :+1:
Thank you for contributing!

[2022-01-05 04:05] wyaow opened #594 "podman runtime specify youki create container Error"
version
Linux version 3.10.0-957.el7.x86_64
gcc version 4.8.5 20150623 (Red Hat 4.8.5-36) (GCC) ) #1 SMP Thu Nov 8 23:39:32 UTC 2018
podman version 1.6.4

youki version 0.0.1
commit: 0.0.1-0-91b7632
..............................................................................................................
[root@localhost local]# podman --runtime /usr/local/youki run -d --name niginx -p 80:80 xx

[2022-01-05 14:36] gattytto commented on #584
@Furisto you think the "EACCES" may be the same case as the previous errors of a wrong symlink or reference to the entrypoints?

[2022-01-05 23:16] Furisto commented on #594
@wyaow Can you post the output of youki info?

[2022-01-05 23:34] Furisto commented on #584
@gattytto The container is successfully created, but when it comes to executing the specified executable the error happens. Looks like it's a permission issue but we are running as root, so that's strange. I do not entirely understand your setup but could it be that youki itself is running in a user namespace created by LXD and it is not actually root but trying to access files in the rootfs that

[2022-01-06 00:31] Will-Shanks opened #595 "Panic when running rootless container example"
After following the rootless docker install steps in the [ArchWiki](https://wiki.archlinux.org/title/Docker#Docker_rootless) and this docker [guide](https://docs.docker.com/engine/security/rootless/) I attempted to follow the rootless container example in the readme, which caused a panic.

Steps to repro: (follow rootless guide in readme)
[code]
It appears the panic stems from the comment at the t

[2022-01-06 02:20] wyaow commented on #594
[root@localhost local]# youki info
Version           0.0.1
Kernel-Release    3.10.0-957.el7.x86_64
Kernel-Version    #1 SMP Thu Nov 8 23:39:32 UTC 2018
Architecture      x86_64
Operating System  CentOS Linux 7 (Core)
Cores             4
Total Memory      7821
Cgroup setup      legacy
Cgroup mounts
  blkio           /sys/fs/cgroup/blkio
  cpu             /sys/fs/cgroup/cpu,cpuacct
  cpuacct

[2022-01-06 05:15] gattytto commented on #584
this error is only happening with youki (not runc) and also the container. I will put a middleman bash script to add the strace command to the youki runtime execution and come back with more details on the error, thanks for pointing out the possible source of the error.

you can see the current setup in [the config generator](https://github.com/gattytto/kubeinlxd/blob/main/configgen.sh) and the [l

[2022-01-06 06:15] gattytto commented on #584
I'm using the following script to wrap the youki runtime with strace: to get rid of the first "--runtime-arg" arg
[code]

[code]

[2022-01-06 11:44] #77 closed

[2022-01-06 11:55] darleybarreto commented on #10
Recently they have [released](https://www.reddit.com/r/rust/comments/rv0yh6/zbus_20_super_easy_barely_an_inconvenience_is_out/) zbus 2.0, tbf I'm not sure if adding this would pay off at the end.

[2022-01-06 11:58] utam0k commented on #10
@darleybarreto Thanks for telling me! I'll check it later ;)

[2022-01-06 12:14] #24 closed

[2022-01-06 19:11] tsturzl commented on #594
@wyaow I don't believe CentOS 7 satisfies the appropriate version for libseccomp either.

You can check with this simple script to see if you have the appropriate version of libseccomp: `pkg-config --atleast-version=2.5 libseccomp && echo "good" || echo "bad"`

[2022-01-06 20:02] jhult commented on #594
Here is a good overview of packaging for `libseccomp` for various OSes: https://repology.org/project/libseccomp/versions

[2022-01-06 22:16] Furisto commented on #595
@Will-Shanks Thank you for reporting this issue. Can you confirm that #597 fixes your problem?

[2022-01-07 14:31] utam0k commented on #594
@wyaow Youki needs a linux kernel version of 5.4 or later 😭

[2022-01-07 14:31] #594 closed

[2022-01-07 14:56] wyaow commented on #594
@utam0k tks you anyway, I guess it would be better to note on README.
@tsturzl actually i tried it on an other Centos8 (Linux Kerner of 4.18 with libseccomp.so.2.5.1) os, it was same.

[2022-01-08 08:01] utam0k commented on #331
Thanks for your advice. Now, I'm trying this!
https://github.com/containers/youki/pull/514

[2022-01-09 09:54] utam0k opened #601 "Organize integrationtest-related directories"
The runtime-tools tests, the HCR integration tests that we will be adding, and the youki integration tests are scattered all over the place, making it difficult to understand.
I want to organize these directories to make them easier to understand.
Incidentally, this is because I did not design it properly the first time. Sorry...

[2022-01-09 09:59] utam0k commented on #601
Current directory structure
[code]

[2022-01-09 10:02] utam0k commented on #601
@YJDoc2
I'd like to hear your option.

[2022-01-09 10:30] YJDoc2 commented on #591
Closed in #582

[2022-01-09 10:30] #591 closed

[2022-01-09 10:35] YJDoc2 commented on #601
Hey, I have some ideas, however, I request a couple of days to try it out in a test crate, so I can understand what works and what doesn't better. I will get back to you after I'm done with that.

An option that I'd be focusing on is separating the integration test related crates and dirs from the youki / container related dirs. Currently both of them are in same workspace, and even though that do

[2022-01-09 12:53] utam0k commented on #591
Oh, I missed this issue😭 But I feel that the first option looks good to me.

[2022-01-10 02:28] gattytto commented on #584
IT WORKS!

it turned out to be an error on my end, when using [this[(https://github.com/gattytto/dockerrusttest) docker image. I can not troubleshoot it in detail, I tried with nushell (a shell made with rust) but it didn't work.

then I tried just using a basic example as starting point, it uses musl and it now works, at least for the most basic I am testing which is "wait" for 5 minutes, it gets

[2022-01-10 02:48] gattytto commented on #584
after that, if I try to copy youki_config.json to config.json in the same folder and try to "exec" again using kubectl I get:
[code]

[2022-01-10 02:56] Will-Shanks commented on #595
Thanks! Your PR fixes the panic, but the container still doesn't run successfully. I get this output.

[code]

Any idea what is wrong with my setup?

[2022-01-10 04:41] #595 closed

[2022-01-11 01:43] electrocucaracha opened #607 "openSUSE Tumbleweed remove failure"
I'm only getting the following error when I use podman with with `--rm` argument

[code]

Another way to reproduce it:

[code]

[2022-01-11 01:54] electrocucaracha opened #608 "undefined seccomp_notify_fd symbol in openSUSE Leap"
I got the following error:

[code]

[2022-01-11 06:30] YJDoc2 commented on #601
@utam0k
I think something along this would be a good idea
[code]

This will separate the three different concerns (youki, oci-tests, rust-integration-tests) into their own separate dirs, as well as separate youki_integration_tests crates from the workspace of youki crates.

Note that in this, the build.sh are scoped, i.e. a build script in a directory will be only concerned with building the stuff

[2022-01-11 12:46] utam0k commented on #601
That's a good idea!

I wonder if `oci-tests` and `rust-integration-tests` are of the same concern. So how about creating `intefation_test` directory and then creating these two directories in`integration_test` directory. This way, I think we can take care of running contained and cri-o integration tests using youki.
https://github.com/containers/youki/issues/585
https://github.com/containers/youki

[2022-01-11 13:09] YJDoc2 commented on #601
Hey @utam0k , can you please once give some link of the containerd tests (not in our repo, but maybe in some other runtime)

That makes sense , as those do fall in the same concern, and as we go on, we might add integration tests for something else as well, which might be useful to determine if youki is compatible with that or not ( eg containerd and cri-o). I also have a bit of worry that it migh

[2022-01-11 19:21] electrocucaracha commented on #584
FYI, I have just submitted a [PR](https://github.com/kubernetes-sigs/kubespray/pull/8411) to add support into the [Kubespray project ](https://kubespray.io/#/).

[2022-01-11 21:15] Furisto opened #609 "Revert back to saving full config.json instead of youki config"
We introduced a lightweight version of the config.json a while ago in order to improve performance. This broke youki exec however as exec is still looking for the full config.json. Given that we need a lot of the stuff in config.json for exec and that it would also mean that ContainerBuilderImpl would need to be split up into an init and exec part if we want to keep the current way (because they w

[2022-01-11 23:00] gattytto commented on #609
in my use case I have kubernetes with cri-o:
[code]

maybe you could use the state.json file which has a bundle field
[code]
then in that path /config.json has the full thing.

[2022-01-11 23:32] gattytto commented on #584
@utam0k the first steps for using youki with cri-o for kubernetes pods is succesfull. pod runs and executes [app](https://github.com/gattytto/dockerrusttest), then app(check ip) fails because it was expected (no internet connectivity given to it).
the second test is also succesfull, running the "wait" command for some minutes, the container shows as restarting itself after the countdown finishes.

[2022-01-12 13:19] utam0k commented on #609
@Furisto
Ok, Let's revert to https://github.com/containers/youki/pull/447 this time once. However, the performance will probably go down. So you will need to inspect and improve the performance.

[2022-01-12 13:36] utam0k commented on #601
@YJDoc2
I am working in progress now, but so you can see my previous challenge [here](https://github.com/utam0k/youki/tree/feature/containerd-test/tests/containerd). I guess it will probably same way in this challenge which I'm working.

[2022-01-12 13:37] utam0k commented on #601
It feels fine 💯

[2022-01-12 13:43] utam0k commented on #584
@gattytto 💯 Thanks for your challenge!

I'm sorry, but I don't know about kubernetes a lot. What will the test look like?

[2022-01-12 16:48] gattytto commented on #609
@utam0k maybe you can pull it from the state only when exec is called so you don't affect the rest of the operations

[2022-01-12 17:36] gattytto commented on #584
yes I will bring some more info here for everyone that wants to participate in growing the test pod image spec [here](https://github.com/gattytto/dockerrusttest).

here is a rough diagram that depicts part of that structure:
![image](https://user-images.githubusercontent.com/407397/149188522-09394aed-0669-4dfc-be33-c8776614610c.png)

when the container is started, it is provided with network conne

[2022-01-12 20:37] electrocucaracha commented on #584
@gattytto can you help me to support [this use case](https://github.com/kubernetes-sigs/kubespray/pull/8411#issuecomment-1010776395), I'm not aware of the current status of the project

[2022-01-13 13:28] utam0k commented on #609
I think we need to organize what the exec command needs from the original config(`config.json`). And we may need to make some major code change to apply them. Either way, It's not that easy.

[2022-01-13 14:34] electrocucaracha commented on #608
This is the output of the subcommand:
[code]
And this is the [script](https://github.com/electrocucaracha/pkg-mgr_scripts/blob/master/scripts/podman/main.sh) that I use to install podman+youki. That project has a Vagrantfile which helps to automate the provision with `vagrant up opensuse_leap` instruction.

[2022-01-13 20:58] electrocucaracha commented on #608
It wasn't but even after its installation I'm getting the same error

[code]

[2022-01-13 21:15] Furisto commented on #608
You need at least version 2.5

[2022-01-13 21:36] electrocucaracha commented on #608
IMHO this issue can be closed as long as the libseccomp lib supported version is documented

[2022-01-14 14:15] YJDoc2 commented on #601
Hey, sorry for the late reply, I was a bit busy.

I think then making a single dir for all integration test related stuff, and then making subdirs for respective tests seem a good idea, we should go ahead with that. :+1: :+1:

I would like to re-iterate again on the scoping the shell scripts, so even in the integration tests, each dir will have its own script which will have responsibility of buil

[2022-01-14 14:33] YJDoc2 commented on #609
Hey @Furisto can you link which specific part of exec will face issue, or the builder impl will need to be split ? I am kind of lost where the issue would be :sweat_smile:
According to how the config issue is there, maybe one option can be adding the path of config.json in the YoukiConfig, and in the part which needs the full config, loading it using this path? Adding a single path string should n

[2022-01-14 15:04] gattytto commented on #584
I will try to replicate this for youki, thanks for bringing it up @utam0k
https://github.com/containers/crun/tree/main/tests/cri-o

[2022-01-16 11:17] adrianreber commented on #142
I started the discussion about a CRIU rust interface here https://github.com/checkpoint-restore/criu/issues/1722

[2022-01-16 21:47] Furisto commented on #142
@adrianreber Thanks! Will take a look.

[2022-01-16 22:19] jirutka opened #617 "Fails to build on Alpine Linux"
[code]

Alpine’s rust triplet is `x86_64-alpine-linux-musl`.

* * *
* youki 0.0.1
* rust 1.58.0
* Alpine Linux Edge

[2022-01-17 13:42] #607 closed

[2022-01-18 12:02] utam0k commented on #617
@jirutka Thanks for your report. Maybe you need to modify `.cargo/config`. Can I ask you to try to modify it?

[2022-01-18 12:12] utam0k commented on #617
@jirutka
How about this?
[code]

[2022-01-18 18:49] jirutka commented on #617
Oh my… I see where’s the problem. Why do you have [.cargo/config](https://github.com/containers/youki/blob/main/.cargo/config) in the repository? This is a local site-specific config, it shouldn’t be committed into the repository. And you definitely shouldn’t force the target triplet.

[2022-01-19 12:12] #584 closed

[2022-01-19 16:40] adrianreber opened #623 "All devices are 066 in my container"
Using an existing config.json (which works with runc and crun) to start apache httpd fails with youki.

All default devices created in crates/libcontainer/src/rootfs/utils.rs are 066 and probably should be 666. Following patch works for me locally:
[code]

Does that make sense?

[2022-01-20 12:48] utam0k commented on #617
@jirutka
Youki can only be built with a linux kernel. Therefore, I had to specify it for my environment, but it may not be necessary anymore.

[2022-01-20 12:57] jirutka commented on #617
And how is this related to linux kernel? Anyway, it shouldn’t be in the repository.

BTW, I successfully built youki on Alpine Linux (musl libc) aarch64, armhf, armv7, ppc64le, x86, and x86_64 (https://pkgs.alpinelinux.org/packages?name=youki), but haven’t tested it yet.
I had to patch few things: [fix-rlimit-type.patch](https://github.com/alpinelinux/aports/blob/4bc1a551012b08498edb1e5e32ce360274

[2022-01-20 13:07] utam0k commented on #617
@jirutka
It uses kernel calls that are only available in libseccomp and linux. Therefore, it cannot be built on mac os.

Thanks for your report!

I had to patch few things: fix-rlimit-type.patch and libcgroups-workaround-magic-constants.patch. The latter is a workaround for missing constants in the nix crate which is caused by missing constants in the libc crate (rust-lang/libc#2633).

[2022-01-20 13:18] jirutka commented on #617
I know, but again, this is not a reason for forcing `target` in `.cargo/config` for everyone.

[2022-01-20 13:25] utam0k commented on #617
Definitely, I agree with you. Do you have any good ideas about it? Maybe we have to use `build.rs`.

[2022-01-20 13:32] jirutka commented on #617
I don’t see any problem that needs to be addressed here, except removing adding `.cargo/config` to `.gitignore` and removing it from the repository. When you have linux-headers, libseccomp dev files and dbus dev files installed on the system (and this is already documented in readme), it just builds (except a few musl/Alpine-specific issues in my case).
What OS do you actually use that you had to

[2022-01-20 13:38] jirutka commented on #617
Yes, that’s the correct way.

[2022-01-20 17:00] adrianreber commented on #142
I tried to checkpoint a container and it almost works. The main problem currently is that `-d` `--detach` is missing which does a `setsid()`. Are there any plans to implement `--detach` soon? With `--detach` checkpointing should be possible pretty easily.

[2022-01-21 00:47] utam0k commented on #469
@yihuaf Hi! Maybe are you interested?

[2022-01-21 00:50] yihuaf commented on #469
I can try to do some investigation around this and see if I can come up with a design. Work starts to take up more time, so I may work slower than before.

[2022-01-21 00:58] utam0k commented on #469
@yihuaf That's right. If you will be busy and it gets difficult, please let me know via discord DM or something. It's no problem at your own pace. THanks again, you're a big help 😍

[2022-01-21 14:00] adrianreber commented on #142
Checkpointing works now, if I do `setsid()` after starting the container with stdin, stdout, stderr redirected to /dev/null.

It is also important that the youki re-opens `/dev/null` inside the container like I did it for `crun`: https://github.com/containers/crun/commit/bbb1fa9f380b0606165222a2414cb7d4d45dd97f

This is also needed: https://github.com/containers/youki/issues/623

[2022-01-21 14:06] utam0k commented on #142
@adrianreber
Awesome!
Oh, I forgot about it 😭 Can I ask you to create an issue?

[2022-01-21 14:08] utam0k commented on #623
@adrianreber Thanks for your report! May I ask you to create PR from this patch?

[2022-01-21 15:52] adrianreber opened #628 "Add --detach -d option"
To implement checkpoint/restore containers need to be started with `--detach`. This is currently missing.

The important part for checkpoint/restore is that `--detach` does `setsid()`. Hardcoding `setsid()` already helped me to be able to checkpoint a container.
[code]
I am not sure that is the right location, but that works for me. Having it done correctly in `--detach` is probably much better th

[2022-01-21 15:55] adrianreber opened #629 "Re-open /dev/null inside the container"
To use checkpoint/restore without `--console-socket` for testing it is necessary in runc/crun to start the container with `&> /dev/null < /dev/null`. This however results in using `/dev/null` from the host and not from the container. In this case stdin, stdout and stderr needs to be connected to `/dev/null` in the container. I did this for crun: https://github.com/containers/crun/commit/bbb1fa9f38

[2022-01-21 15:56] adrianreber commented on #142
* https://github.com/containers/youki/issues/628
 * https://github.com/containers/youki/pull/627
 * https://github.com/containers/youki/issues/629

[2022-01-21 20:29] #609 closed

[2022-01-22 17:18] Furisto commented on #628
We already call setsid(), but only if we allocate a pseudo terminal. Just looking through the runc code i see that they always seem to call setsid regardless of whether --detach is specified or not. Crun does the [same](https://github.com/containers/crun/pull/267).

[2022-01-23 11:05] timchenxiaoyu opened #633 "need rust shim"
replace go shim  memory friendly。

shim is long run ，so rust shim is urgently needed

[2022-01-23 11:10] timchenxiaoyu commented on #10
need rust shim for memory friendly！

[2022-01-24 07:14] adrianreber commented on #623
Fixed with #627

[2022-01-24 07:14] #623 closed

[2022-01-24 12:39] utam0k commented on #623
@adrianreber Thanks a lot!

[2022-01-28 16:46] tsturzl commented on #608
Yeah, you shouldn't need the development package outside of compilation time. Lots of platforms don't support libseccomp 2.5 yet, and the only real solution to this currently is #382, which would allow you to disable libseccomp at compile time.

I agree with @electrocucaracha, we should definitely disclose system runtime dependencies, and maybe even just make a short list of distros we know youki

[2022-02-03 09:05] mitnk opened #680 "Environment Variable Init: HOME"
Using youki as the runtime will missing the env HOME:
[code]

**Expected** (as using runc):
[code]

Where is environment variables initialized? I tried but not found in code of the repo.

[2022-02-03 13:29] utam0k commented on #680
@mitnk Thanks for your report. We set the environment variables here.
https://github.com/containers/youki/blob/a8e4003bc67b0eef7fcd59ec89928f7436d5c439/crates/libcontainer/src/process/container_init_process.rs#L415-L419

I couldn't find where the HOME environment variable gets, and I couldn't find it in the runtime-spec.
https://github.com/opencontainers/runtime-spec/blob/main/config.md

I'll do s

[2022-02-05 05:26] utam0k commented on #680
I found that runc has been implemented here.
https://github.com/opencontainers/runc/blob/eddf35e5462e2a9f24d8279874a84cfc8b8453c2/libcontainer/init_linux.go#L309-L398

[2022-02-05 05:30] utam0k commented on #680
Hi, @mitnk. If you have interested in this implementation, I'll leave this implementation to you. Of course, if you don't have time to do it, feel free to ask me to implement it 🙏

[2022-02-05 06:38] mitnk commented on #680
Thanks for the info, I'll have a try :)

[2022-02-05 09:45] utam0k commented on #680
Awesome! If you have any questions, please do not hesitate to contact me.

[2022-02-05 11:50] mitnk commented on #680
@utam0k Question 1: I tried adding a `syscall.get_pwdir(proc.user().uid())` before [setting envs](https://github.com/containers/youki/blob/a8e4003bc67b0eef7fcd59ec89928f7436d5c439/crates/libcontainer/src/process/container_init_process.rs#L415-L419), but the file `passwd` seems empty (all fields are null-like). So I cannot get the home of user like this. Any ideas?

[2022-02-05 12:14] mitnk commented on #680
Draft PR: #681

[2022-02-05 12:33] mitnk commented on #680
Another question: how to see the logs printed by code like `xxx.with_context(|| "some msg")`, while using `docker run --runtime youki ...`? Do we have a doc on this anywhere (I haven't read all the docs yet).

[2022-02-05 15:29] mitnk commented on #680
The file `/etc/passwd` exists. It's `libc::getpwuid_r()` returning `2` (No such file/dir?). still checking the reason.

Content of `/etc/passwd` (via `fs::read_to_string()` after `chroot()`):
[code]

[2022-02-06 02:15] mitnk commented on #680
Not sure why, but a re-build fixed the issue. It just works now..

[2022-02-06 04:29] utam0k commented on #680
It is hard to see the log while using docker. If you want to see the log, it would be good to use the youki directory without using docker.

[2022-02-06 04:38] utam0k commented on #680
Did you resolve this question by yourself?

[2022-02-06 05:18] mitnk commented on #680
Yes, resolved.

[2022-02-09 00:08] mitnk commented on #680
fixed in #681 Thanks!

[2022-02-09 00:08] #680 closed

[2022-02-09 05:33] utam0k commented on #680
@mitnk Nice work!

[2022-02-11 13:35] utam0k commented on #481
@Szymongib Sure! I'll assign you.

[2022-02-14 05:12] rapiz1 commented on #617
I think it's already addressed in the README.

[2022-02-14 05:16] rapiz1 commented on #344
I'm curious about what the [logo](https://github.com/containers/youki/raw/main/docs/youki.png) is after all? Is it a shield?

[2022-02-14 18:15] redthing1 commented on #344
it's a rusty container

[2022-02-15 12:22] #481 closed

[2022-02-17 06:43] cr0ax commented on #344
![rustycontainerflat](https://user-images.githubusercontent.com/60494319/154420186-e98dfbb4-8c85-48b2-8624-0e94dfeefd3b.png)

?

[2022-02-17 12:23] utam0k commented on #344
@cr0ax Can you even design! Wonderful 😍

[2022-02-17 19:14] yihuaf commented on #344
This is really good!! Thanks @cr0ax

[2022-02-17 19:53] ShadowJonathan commented on #344
@cr0ax that "eye" on the left side of the container initially made me thought this was kind of a deformed ferris...

I'd recommend making it a bit more jagged or less "eye"-like like the original pixelated logo, as that may help with mental ferris-pattern-matching :sweat_smile:

[2022-02-18 01:15] chenyukang commented on #344
@cr0ax thanks for creating it. It think the color is good.
But seems there are too many elements in the picture, besides it's a three-dimensional container.
@utam0k , can we use a flat container? 😉

[2022-02-19 11:33] ondra05 opened #719 "Unable to start rootless container under Podman when Youki used as runtime"
When I try to start a rootless podman container with Youki used as runtime, it tries to create a `/run/youki` directory, which, as not running as root, fails with permission denied.

Youki version: 0.0.2 (commit: 0.0.2-0-73dc75c)

[code]

[2022-02-19 14:29] Szymongib opened #720 "Failed to create container when using relative root path"
When using youki with relative root path creating container fails. From looking at a code it is probably due to not converting path to absolute path and using `chdir`.

Steps to reproduce:
[code]
Error: `Error: No such file or directory`

I can look into it and try to fix it.

[2022-02-19 19:49] YJDoc2 opened #721 "Requesting Temporary ignoring of default.go oci-runtime-validation test"
After two weeks of testing and a lot of digging of git commit history, I think I have finally found what has been causing CI failure for #694 's OCI validation test (there are some other failing tests, but this is not related to them).

The surprising reason behind that test failing is a knock-on effect of the way -
1. Our CI is set up (I have partial blame in this :sweat: )
2. We recently adding

[2022-02-20 05:11] utam0k commented on #720
@Szymongib First of all, thanks for your report. Can I leave it to you?

[2022-02-20 05:38] utam0k commented on #721
um... we got into trouble 😭
First of all thanks for the awesome research. If it was for you, I probably wouldn't have noticed it.
I don't want to remove as many tests as possible because default includes many tests. it gets a little weird, but how about hacking from stdout only when `default.go` run? e.g. ignore only the relevant test cans in default.go.

[2022-02-20 05:41] utam0k commented on #719
@ondra05 Thanks for your report. But, I couldn't reproduce this error in my environment.
[code]
Please tell me the result of `youki info`?

[2022-02-20 05:44] utam0k commented on #586
https://doc.rust-lang.org/cargo/reference/publishing.html

[2022-02-20 08:39] YJDoc2 commented on #721
Hey @utam0k
I agree that removing the test should be the very last option, as we have already commented few tests as they do not work, and removing tests will make more bugs slip through.

Currently my suggested approach is this :
1. Build runc 1.1 locally and run oci tests on it
2. If runc also fail the tests, then the tests themselves need to update :
3. then I will open an issue on the runtime-

[2022-02-20 08:51] YJDoc2 commented on #721
Hmm I cloned and built runc from main branch, and it seems that it is passing the default.go tests, but failing the delete.go tests :thinking: :thinking: :thinking:
That should not be happening right? If you get time, can you also get runc 1.1 and verify this on your end as well?

If that is right, it would mean that is is some bug from our end, likely that we need to check the kernel version and

[2022-02-20 09:06] YJDoc2 commented on #721
@utam0k I'll use this single message to keep updating status, so that there is not much mail / notification spam

(updates are from top oldest to bottom newest)

Update : It seems that the default tests fail when we run the script with sudo permission, instead of getting sudo from inside the script itself, i.e. running sudo ./oci-tests will make the default fail, but just running ./oci-tests and t

[2022-02-20 09:20] ondra05 commented on #719
Sure thing!
[code]

Well, the issue happnens when I tried to start the container, creation the container worked just fine.

[2022-02-20 10:19] YJDoc2 commented on #721
I think I figured out what is causing the issue, and _I think_ solution is simple if I understand it correctly :
As far as I know, we currently support CAP_PERFMON, CAP_CHECKPOINT_RESTORE, and CAP_BPF but in the capabilities code, we still ignore them when setting capabilities, Here : https://github.com/containers/youki/blob/main/crates/libcontainer/src/syscall/linux.rs#L136-L140

That is why I th

[2022-02-20 18:52] Furisto commented on #721
@YJDoc2 Makes sense to me. We should support these capabilities in Youki as well.

[2022-02-23 04:54] utam0k commented on #721
@YJDoc2 Sounds good to me to support them. But If we will support these capabilities, we have to check the linux kernel version. That's the only thing I want to pay attention to.

[2022-02-23 06:15] harche opened #730 "Kubernetes node e2e tests fail while deleting a container"
I replaced the `runc` binary with `youki` to run kubernetes node e2e tests using `youki`. The delete container seems be returning invalid data.

[code]

Let me know if you would like to see the complete journal logs.

[2022-02-23 06:23] utam0k commented on #730
@harche Thanks for your report. Please tell me how to reproduce using some commands?

[2022-02-23 06:31] harche commented on #730
After cloning kubernetes, and bringing up crio,

[code]
This works on Fedora CoreOS. But you can also run these tests with your choice of CRI implemention.

[2022-02-23 06:35] harche commented on #730
We run these tests in upstream k8s CI (with `runc` and `crio`) - https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv1-node-e2e-conformance

You can click on individual `green` box to get test report and click `Raw Build-log.txt` to see how the test job gets initialized.

[2022-02-23 06:37] harche commented on #730
Another pointer - https://github.com/kubernetes/kubernetes/blob/master/hack/e2e-node-test.sh

[2022-02-23 06:44] harche commented on #730
But eventually it boils down to this command,

`/usr/local/bin/runc --root /run/runc delete --force f6b72c56564b7cc16dfc7492cda08f1624035114212ab27b28668be0b052ea4b`

So you may not actually have to deal with k8s node e2e to reproduce this. @utam0k

[2022-02-23 08:22] saschagrunert opened #731 "critest conformance"
Hey folks, I'm wondering if this project would be ready to run against the critest suite: https://github.com/kubernetes-sigs/cri-tools/blob/master/docs/validation.md

I tested it locally and found some tests to not pass, which could be caused by the higher level runtime or youki. I can imagine that we add two new CI tests, one using the latest CRI-O release and another one for containerd.

What do

[2022-02-23 08:35] utam0k commented on #633
@timchenxiaoyu Thanks for your report. I'm sorry but I couldn't understand what you want me to do. Please tell me more concrete explanation?

[2022-02-23 08:43] utam0k commented on #731
@saschagrunert Thanks for your report. I didn't know it. Nice idea.  I'll add this test after I pass containerd and cri-o tests.

[2022-02-23 08:44] utam0k commented on #731
I would like to proceed with the following plan.
1. Add a script for the means to test.
1. Identify the test cases that fail
1. Fix them.
1. Incorporate the tests into CI

[2022-02-23 08:59] saschagrunert commented on #731
I can provide a report with:

- crio version: 1.23.1
- critest version: 1.23.0
- youki commit: 673d2e1a094bf29ee87f71e5b8350ee5044ee73e

<details>
 <summary>CRI-O configuration</summary>

[code]
</details>

### The test

[code]

Results: [testlog.txt](https://github.com/containers/youki/files/8123010/testlog.txt)

It looks like that:

- The portforward test does not seem to work on my local machin

[2022-02-23 12:02] harche commented on #633
@timchenxiaoyu https://github.com/containers/conmon-rs

[2022-02-23 12:20] timchenxiaoyu commented on #633
@utam0k
![image](https://user-images.githubusercontent.com/9782796/155318312-5b2b0b17-3fe3-4638-8a65-4dedf0d81c73.png)

rust implement

[2022-02-23 12:22] utam0k commented on #633
@timchenxiaoyu Maybe is this it, by any chance?
https://github.com/containerd/rust-extensions/pull/22

[2022-02-23 12:23] utam0k commented on #633
@harche
Thank you for trying to help. I appreciate it.

[2022-02-23 12:31] harche commented on #633
CRI-O uses https://github.com/containers/conmon right now, and the rust version is getting developed at https://github.com/containers/conmon-rs

[2022-02-23 12:36] saschagrunert commented on #731
I think the logging causes issues with the console redirection. Either we disable logging generally in youki or we log to systemd.

[2022-02-24 01:30] timchenxiaoyu commented on #633
Thank you ！！！ @utam0k @utam0k

[2022-02-25 13:12] utam0k commented on #731
You can suppress the error message by setting this environment variable to error.
https://github.com/containers/youki/blob/7d4fe2d892705d20db0e6c20d994f0b9519f9600/crates/youki/src/logger.rs#L13
I will try to do this when I have time.

[2022-02-25 13:17] #633 closed

[2022-02-25 15:44] YJDoc2 commented on #731
Hey, after my refactor in #694 , we will have a directory dedicated to integration tests, so we can add both containerd and crio tests there and add them to CI as well.

[2022-02-27 10:50] #720 closed

[2022-02-28 05:13] tsturzl opened #743 "List dependencies with their version in the readme"
We should list all the dynamic libraries, and system requirements required to build and run Youki. We currently provide a section that has commands for installing the dependencies, but this does not include the versions. We also have requirements for things like kernel version which should probably be communicated. I don't think anyone has done a deep dive on which kernel version Youki can actuall

[2022-02-28 05:16] tsturzl commented on #608
I'm closing this issue as I think it's safe to conclude that this isn't a bug, and more so a compatibility issue. Currently there is a pending task to allow seccomp to be turned off at compile time(#382), and another issue to document the dependencies and version of those depedencies that youki relies on(#743). I think those issues should better track the actual solutions.

[2022-02-28 05:16] #608 closed

[2022-02-28 05:29] tsturzl commented on #512
Unknowing to me this issue was actually fixed shortly before this ticket was made.

[2022-02-28 05:29] #512 closed

[2022-02-28 06:12] tsturzl commented on #617
Seems the issue now is tests failing on Alpine. We probably need to look into this, and figure out why. Until there's some discovery work done I'll leave this ticket open. I may have time in the near future to look into this. @jirutka if you can provide any additional context as to what tests are failing and which architectures they are failing on that would incredibly helpful.

[2022-02-28 08:27] saschagrunert commented on #731
Yes, I was thinking if we have a behavioral mismatch between youki and runc (maybe intentional?). It looks like that runc does also support the `_LIBCONTAINER_LOGPIPE` on `runc init`:

https://github.com/opencontainers/runc/blob/2436322fef995f60194554c5ce2947df2e18661d/init.go#L25-L28

Do we have to redirect the logs as well?

[2022-02-28 12:35] utam0k commented on #743
or do we provide more friendly error messages?

[2022-02-28 15:25] tsturzl commented on #743
@utam0k I really like that idea, but I'm worried that the way shared libraries are loaded Youki probably can't run at all. In the case that you had the wrong libseccomp version you'd get a failure immediately and won't even be able to execute Youki. At compile time we added a clear compiler warning for libseccomp, and maybe others need to be added as well, but that's the only one that we have dire

[2022-02-28 15:40] tsturzl commented on #743
Actually we could add more build checks (like this)[https://github.com/containers/youki/blob/5aad78e9bce853ce9b74617c5e9cbbfb89de456d/crates/libseccomp/build.rs] which can check all compile time dependencies are give informative errors. But I think in terms of runtime we need to provide some info for those who expect to just run the pre-built binary.

[2022-03-02 12:23] utam0k opened #757 "Fix youki's original integration test fialed"
https://github.com/containers/youki/pull/744#issuecomment-1056868987

[2022-03-05 11:22] #757 closed

[2022-03-09 13:23] YJDoc2 opened #771 "Resolve deprecation warnings for Clap"
Currently some of the clap options we use give deprecation warnings, with suggested changes. Perform those changes.

[2022-03-11 10:18] RMPR opened #772 "Linker error when building youki with the build.sh script"
Youki build fails with the error message:

[code]

OS: Fedora 35
Kernel: 5.16.11-200
Arch: x86_64
SELinux status: permissive

[2022-03-14 13:11] utam0k opened #776 "Fix integration tests not passing in debug builds"
How to reproduce
in https://github.com/containers/youki/pull/774
Prepare the following Makefile
[code]

[code]

[2022-03-14 15:55] titaneric commented on #10
Hi, is it possible to run the youki by calling gRPC directly?

I am not sure is it suppose to be provided by youki or containers.

As far I know, containers provide OCI command to run the container,  and youki is a container runtime implemented OCI.

However I notice that youki also provide crate to run the container, too, which is in [here](https://github.com/containers/containrs/blob/master/crat

[2022-03-14 17:56] yihuaf commented on #10
Can you elaborate on what do you mean? Are you looking for something similar to the docker backend? There is a possibility that you can use CRI interface with `cri-o` or `containerd`. The CRI apis are meant for kubelet consumption, but it is a well defined gRPC interface.

If you are looking to just launch containers using the OCI interface, you can build something on top of youki. Youki supports

[2022-03-14 19:35] tsturzl commented on #10
@titaneric Youki doesn't support any mechanism for communicating with it over a network. You're right in saying that Youki is an OCI runtime interface, and there is a crate within the project that would allow you to leverage most of the functionality without the CLI but you'd need link against that crate in order to use it's functionality. If you'd like to build your own gRPC service around that i

[2022-03-14 19:43] tsturzl commented on #10
@yihuaf We have yet to do a full cri-o or containerd evaluation yet. I'm supposed to be doing the containerd evaluation, but a lot of things have been changing to support CI testing for different high level runtime. Last I heard was CRI-O is mostly working.

[2022-03-15 00:56] titaneric commented on #10
thank you guys. I did not expect to receive these feedback  so quickly. Obviously, I am consufed between the meaning of OCI and CRI here.

Let me rephrase my question. I want a Rust library to run a container launched by OCI compatible runtime instead of calling docker or nerdctl command directly.

My use case is I want to rewrite the backend of Rust Playground by myself and I want to minimize the

[2022-03-15 01:28] yihuaf commented on #10
The first question would be to understand what isolation level is good enough for the "evil" code. Do we need VM-level isolation or hardened container-level isolation is good enough? If you want VM-level isolation, I would suggest you take a look at firecracker. You would need to decide on the trade-off between startup time vs. security.

Assuming we want to use containers. The first question is i

[2022-03-15 04:44] titaneric commented on #10
Again, thanks for thorough explanation and sharing ideas.

I would like to give firecracker a try (VM for safety, fast start-up and REST API) and have reference to [great post by jvns](https://jvns.ca/blog/2021/01/23/firecracker--start-a-vm-in-less-than-a-second/).

Still new in Rust, container, and VM, but I am willing to take part into the Rust community and container  ecosystem. Looking forward

[2022-03-16 11:50] utam0k commented on #10
@timchenxiaoyu @yihuaf @tsturzl Thanks for the great conversation! I've read.

[2022-03-17 13:20] #776 closed

[2022-03-23 13:53] scary4cat commented on #344
![rustycontainer_v2](https://user-images.githubusercontent.com/10859042/159714139-dd09f6bf-e023-45b0-84c7-0738834d1e8f.png)

![rustycontainer](https://user-images.githubusercontent.com/10859042/159714358-88c2298f-4fb1-4ec9-8fcb-8905e9b29359.svg)

srry meant to edit this a while ago but got distracted... also hi turns out i hav a github account
attaching the original svg so others can make changes

[2022-03-23 14:27] ShadowJonathan commented on #344
This looks fine, thanks a lot!

[2022-03-24 11:25] utam0k commented on #344
@scary4cat Wow! Amazing. I love this ❤️  I'm curious to see your other ideas. You don't have to stick to the previous design, especially if it's a rusty container and a flat design. By the way, I don't have any sense of design at all, so I envy your ability.
If you don't have time I really like the current one too. Would you be willing to send me a PR under `docs/`? If this is too difficult, pleas

[2022-03-26 13:30] utam0k opened #797 "Support CFS bandwidth burst"
https://github.com/opencontainers/runtime-spec/pull/1120

[2022-03-26 13:48] utam0k commented on #772
Please re-open if anything else comes up.

[2022-03-26 13:48] #772 closed

[2022-03-26 13:48] #400 closed

[2022-03-27 21:09] Furisto commented on #797
I can take this.

[2022-03-28 10:36] utam0k commented on #797
I'm glad to hear that. I leave to you this issue.

[2022-03-30 08:48] RMPR commented on #772
I commented on the linked PR.

[2022-04-02 10:26] YJDoc2 commented on #771
Resolved with #798

[2022-04-02 10:26] #771 closed

[2022-04-02 11:04] YJDoc2 opened #814 "rust checkpoint integration tests fail on kernel version 5.11"
In my system the checkpointing tests fail, even though those are passing in the CI. This might be due to kernel not compiled with support for checkpointing , or some other issues. If this is a support issue, then the tests should be put behind conditional tests, which will check the support. In any case the error message should be changed to include the file name which it is trying to read, so the

[2022-04-02 11:08] YJDoc2 commented on #361
Hey there was a pause recently on adding the tests as we were refactoring the directory structure, which is now completed! So if anyone is interested, you can work on adding the new tests and send PRs. Thank you :)

ping @Szymongib if you are still interested :sweat_smile:

[2022-04-03 04:20] utam0k commented on #814
Thanks for rising the issue. I've same trouble too.

[2022-04-03 04:21] utam0k commented on #814
@adrianreber If you know something, please help us 🙏

[2022-04-03 04:23] utam0k commented on #771
@YJDoc2 Thanks!!!

[2022-04-03 04:54] utam0k opened #815 "Support for `feature` subcommand"
Initially, we would like to respond statically. It means hard coding.
https://github.com/opencontainers/runtime-spec/pull/1130

[2022-04-03 06:17] adrianreber commented on #814
Can the criu log file be attached to this issue? I was always developing with newer kernels than mentioned here.

[2022-04-03 09:15] adrianreber commented on #814
Tests are also working on my system with 5.16.16-200.fc35.x86_64

[2022-04-06 11:44] utam0k commented on #814
Here are the integration test results on my local. But I couldn't find the dump.log because after running the integration tests, I couldn't find the dump file.
[code]

[2022-04-06 11:55] adrianreber commented on #814
Any idea what link ipip is? In the criu message. There is some kind of unsupported network link on your system.

[2022-04-06 11:56] adrianreber commented on #814
Both log files as mentioned in the output do not exist? Could you verify that they are not cleaned up by the tests suite.

[2022-04-06 12:15] utam0k commented on #814
I couldn't find them 😭 I'll check.

I don't have idea. hmm...

@YJDoc2 Did you encounter same errors?

[2022-04-07 11:15] YJDoc2 commented on #814
Hey, sorry for late reply

I think my error was different... my error message is in the issue comment itself

Yes, currently the test framework deletes all the container files ones the tests are done. I have an improvement for this test in mind which can copy the log file if failed, but I am a bit busy today, so will try to get the file and send here tomorrow or day after tomorrow.

[2022-04-08 14:03] YJDoc2 commented on #814
Hey, so I looked into it, and it appears that the dump file itself is probably not getting created. I tried to open the path from the container checkpoint function itself, where we set the logfile path in the error message, but it is showing that the path is invalid in that function itself.

As far as I have traced the execution, it seems to work fine till https://github.com/containers/youki/blob/

[2022-04-11 04:58] adoerr opened #838 "Integration tests should be part of the `cargo` workspace"
Currently the workspace virtual manifest is located in `./crates` and workspace members are the crates below the `./crates` folder.

None of the integration test crates below `./tests/rust-integration-tests` are workspace members. This means that tools like `rust-analyzer` will basically ignore them. IMO, the whole codebase including the tests should be part of the workspace.

I'm also always a bi

[2022-04-11 07:05] YJDoc2 commented on #838
Hey,

So the separation of integration tests from the youki crates was a deliberate decision, as the integration test binaries, specifically the `runtimetest` binary needs to be statically linked, unlike rest of binaries which are dynamically linked. This crates an issue, as then for each compilation, crates which both youki and tests depend on such as oci-spec are compiled twice , once for each l

[2022-04-11 07:19] adoerr commented on #838
Thanks for the feedback!

Understood. You might want to consider moving the integration tests into a separate project / repo in order to make the separation explicit and obvious.

Anyways, fell free to close the issue.

[2022-04-11 10:30] #838 closed

[2022-04-11 16:04] YJDoc2 commented on #814
It is likely some issue with the system setup on our side

It is 1, maybe that is the issue, but I tried changing it using `sudo echo "0" | sudo tee /proc...` and even after its changed, it still does not pass the tests, fails with same error

Yes, I am running it as root

Thanks for this, I'll be trying this to see exactly where the error is getting generates, and report back :+1:

[2022-04-12 11:52] YJDoc2 commented on #814
Hey @adrianreber as I expected it was an issue with my system setup : particularly, I had not installed criu binary :sweat_smile: :sweat_smile:
Apologies for the confusion :sweat:
@utam0k can you check if you have the same issue? If so, then we must add `criu` as a dependency in the installation instruction in Readme and docs.

That said, now there is another issue that is occurring : the checkpoi

[2022-04-12 11:54] adrianreber commented on #814
Do you have runc 1.1.0? runc changed its checkpoint behavior in 1.1.0 and I followed runc 1.1.0 for the youki implementation.

[2022-04-12 12:06] YJDoc2 commented on #814
Hey, so my distribution had 1.0.3, which is why the issue was happening. I have tested on 1.1.0 and it works perfectly.

Thanks for all the help, and apologies for the confusion caused  just because of my setup issues :sweat: :sweat:

If @utam0k 's issue was due to the same reason, I will open a PR and update the Readme to mention these requirements, and then we can close this issue.

Thanks :)

[2022-04-13 06:27] adrianreber commented on #814
Maybe we should provide a better error message if the binary is missing at some level of the stack.

[2022-04-13 07:57] YJDoc2 commented on #814
I was thinking the same thing. Along with the binary other errors are also reported as-are which can benefit from additional context information, especially when trying to locate where exactly the error is occurring. I have opened  https://github.com/checkpoint-restore/rust-criu/issues/1 , if that is fine, I would work on adding context messages to the errors that are propagated from the library t

[2022-04-13 18:55] #797 closed

[2022-04-13 18:59] #601 closed

[2022-04-13 23:51] electrocucaracha opened #845 "The `0.0.3` release has runtime issues in Ubuntu focal"
These are the host details:

[code]

If I use the previous release, I got the following:

[code]

but I'm getting an error with the latest one.

[code]

Is there something new to consider with this release?

[2022-04-14 14:10] riyad commented on #719
I have the same issue with Podman 3.4.2 and Youki 0.0.3 on Ubuntu 21.10:

[code]

[code]

[2022-04-18 11:52] #845 closed

[2022-04-18 11:58] Furisto commented on #845
@electrocucaracha Thanks for the report! The issue should have been fixed. Let me know if you still encounter problems.

[2022-04-25 20:18] chinzhiweiblank commented on #279
Hi! I would like to try my hand at this. I am intermediate in Rust. I don't know about container runtimes but I know about how containers work (cgroups, capability, unshare). Is there anything you could let me do? Thank you

[2022-04-25 22:46] chinzhiweiblank commented on #815
Hi! I would like to try this. I am to implement `youki features` which returns the result in a parseable JSON format like [runc](https://github.com/opencontainers/runc/blob/eddf35e5462e2a9f24d8279874a84cfc8b8453c2/features.go). Just that the fields are hard-coded for now. The fields are found [here](https://github.com/opencontainers/runtime-spec/pull/1130/files#diff-16b9eec6e4989729099f8d2502570dd

[2022-04-28 12:15] utam0k commented on #815
@chinzhiweiblank  We need to consider how to dynamically search for fields. I think hard coding is fine for once. If you're up for the challenge, I'll assign it. What do you think?

[2022-04-28 12:19] utam0k commented on #279
@chinzhiweiblank Thanks for your interest! I'm happy to hear that.
How about AppArmor for starters? If you want something more difficult, by all means, let me know.
https://app.codecov.io/gh/containers/youki/blob/main/crates/libcontainer/src/apparmor.rs
https://github.com/containers/youki/blob/main/crates/libcontainer/src/apparmor.rs

[2022-04-29 19:59] chinzhiweiblank commented on #815
No problem. I can take it. @utam0k

[2022-04-29 20:00] chinzhiweiblank commented on #279
No problem. I'll take this up.

[2022-04-30 06:26] utam0k commented on #279
@chinzhiweiblank Thank you. I'm looking forward to seeing your PR.

[2022-05-01 20:58] Furisto opened #874 "Support recursive readonly bind mounts"
See https://github.com/opencontainers/runtime-spec/pull/1090

[2022-05-06 00:14] utam0k commented on #316
Rust 1.60 introduced a new feature for test coverage. Can we use it?

[2022-05-06 13:28] YJDoc2 commented on #316
I think we can incorporate that, we might need an additional component to be installed in the CI `grcov` which converts the data generated to lcov format needed for coverage report. I'm looking into if we can directly generate lcov from cargo.
I think the CI action that we use also have updated to the new feature, updating the action version in CI might be able to give us this as well.

[2022-05-06 18:21] YJDoc2 commented on #814
@utam0k can you confirm if you had the same issue or not? My PR for updating error messages in rust-criu has been merged, so if you had the same issue, then with a PR here updating the Readme to add criu binary as dependency for dev  we can close this issue. Else we'll need to further investigate if  you are still having the issue.

[2022-05-06 18:55] taiki-e commented on #316
cargo-llvm-cov (v0.2+) uses `-C instrument-coverage` that stabilized in 1.60. (v0.1 uses `-Z instrument-coverage` that is old version of `-C instrument-coverage`.

By the way, the feature mentioned in this issue has already been implemented as `llvm show-env` subcommand, It should be possible to use cargo-llvm-cov for integration testing. like:

[code]

[2022-05-07 07:09] YJDoc2 commented on #316
Hey, thanks a lot for this!
I'll try to update according to this and adding integration tests into code coverage, although we might need to build them separately to the youki, as we don't want to consider them into code coverage.
Thanks :)

[2022-05-07 08:08] utam0k commented on #585
Hi, @inductor Are you interested in this issue?

[2022-05-08 00:54] utam0k commented on #344
Special thanks @scary4cat

[2022-05-08 00:54] #344 closed

[2022-05-08 01:08] utam0k opened #902 "Put the integration test of docker and podman into CI"
Recently, we got some bugs and errors related to docker and podman. We have to support those two at least.  Incorporating testing into CI could help solve this problem.

[2022-05-08 07:04] guni1192 commented on #531
@utamk0
What is the status of this issue?
I am doing containerd integration tests with runc replaced by youki.
Do you need the procedure and results of the test in my local environment?

[2022-05-08 07:44] utam0k commented on #531
@guni1192 I would love to have it. Can you please do it? Or can you give me a PR with a shell of the test means?

[2022-05-08 13:24] guni1192 commented on #531
OK.　First, I will share the results of the test conducted in my environment.
I published it on my Gist because the lines in the log are very long.

https://gist.github.com/guni1192/af931310dca8dfc5b2a0f5b79acbad32

[2022-05-08 13:34] guni1192 commented on #531
@utam0k
I would like to go through the steps to automate integration testing using PR.
Can I edit the Vagrantfile in the repository for this purpose?
Specifically, I want to set up containerd and golang.
If you don't mind, I would like to send a PR this week.

[2022-05-08 13:47] guni1192 commented on #531
I am concerned about a number of failed test cases in the containerd integration test, as follows.
I think containerd may have used runc-specific options( `runc kill --all <CONTAINER_ID> <SIGNAL>` ).

[code]

[code]

[2022-05-09 09:36] utam0k commented on #531
Sure, Let's do it. Probably this will help you.
https://github.com/containers/youki/pull/514/commits/4492752ed13b802e1fcdf617944936012ee2da61

[2022-05-09 09:37] utam0k commented on #531
@guni1192 Thanks for your analytics. It may be a contributing chance to the runtime spec! But for new youki doesn't support this option, we have to support it.

[2022-05-10 00:57] kzys commented on #531
Thanks @guni1192 and @utam0k!

# The lack of `--all`
* TestTaskForceDelete
* TestContainerKillInitKillsChildWhenNotHostPid
* TestContainerKill
* TestTaskForceDelete

# pid/user namespace?
* TestContainerKillInitPidHost
* TestUserNamespaces

# containerd flakiness?
* TestRestartMonitor - This test is new. So it may be more about containerd, less about youki.

# Unknown
* TestShimDoesNotLeakPipes
*

[2022-05-10 06:14] kzys commented on #531
I've updated the comment above. Some of them are actually working for me.

It would be better to run the tests in GitHub Actions first even if some of them are failing. So that we could agree which tests are actually failing.

[2022-05-11 12:21] utam0k commented on #814
@YJDoc2 Can I ask you to give me some commands to install it?

[2022-05-11 14:42] YJDoc2 commented on #814
Hey @utam0k I use Ubuntu, so I just did `sudo apt-get update && sudo apt-get install criu`
Also, I have updated the error messages in the rust-criu library. Can you try updating the git dependency to latest commit and then running test, so you might get a better error message to understand what exactly is going wrong?
Thanks :)

[2022-05-13 13:17] YJDoc2 commented on #814
@utam0k it is possible , I tried digging through the source, and this is where the error originates in criu C source : https://github.com/checkpoint-restore/criu/blob/criu-dev/criu/net.c#L643

Checking through the device numbers and stuff, I guess wsl2 uses host ip to create a tunnel to running Linux kernel, and connect to it, however when running criu , it does not support ipip (ip in ip tunnel)

[2022-05-13 13:20] YJDoc2 commented on #814
I am using native Linux system, and the tests seem to work fine for me

[2022-05-15 12:15] utam0k opened #915 "Add function to get list of all processes in a container"
Since supporting for `--all` option of kill and delete command, we need to add a function to get list of all processes in a container

relates: https://github.com/containers/youki/issues/531

- [ ] cgroup v1
- [ ] cgroup v2

ref: https://github.com/opencontainers/runc/blob/9524366183517b379a1fca8b9b250002ba3b1be7/libcontainer/cgroups/getallpids.go#L10

[2022-05-16 11:29] utam0k commented on #814
@YJDoc2 Thanks!! In the case of wsl2, should we skip the test and just walk away for once?

[2022-05-17 08:40] orimanabu commented on #719
Hi,

I encountered the same issue on Fedora 36 with podman v4.1.0.
It seems that mkdir /etc/youki got EACCESS.

[code]

[code]

[2022-05-18 21:24] riyad commented on #719
Hmm .. I tried some "dbg!-ing" and found out that the check for [`rootless_required()` in `determine_root_path()`](https://github.com/containers/youki/blob/main/crates/youki/src/main.rs#L143) behaves weirdly.

When running e.g. `./youki info` it returns `true` (UID is 1000):

[code]

But when running it though podman (as a non-root user) it returns `false` (UID is 0, but should be 1000) :raised_ey

[2022-05-19 23:14] chinzhiweiblank commented on #815
Hey @utam0k, currently I have a struct with these fields. How do I find out what I should fill in for the fields?
[code]

[2022-05-20 12:44] utam0k commented on #815
@chinzhiweiblank Why don't you try using youki with these features you want to know?

[2022-05-20 12:52] utam0k commented on #719
Thanks @stefins @orimanabu @riyad!

[2022-05-20 12:54] utam0k commented on #719
Hi, @Furisto Do you have time to check this because you assigned it by yourself. But if you don't have time, please let me. I'll check.

[2022-05-21 14:08] lisonok opened #930 "Is it possible to encrypt a container in youki and prevent other users from viewing its contents?"

[2022-05-23 12:03] #915 closed

[2022-05-24 11:06] utam0k commented on #930
@lisonok Sorry, I couldn't get what you want to say. Please give me some examples?

[2022-05-26 19:01] Furisto commented on #719
Hey, sorry for the late reply. I will check this.

[2022-05-27 04:50] utam0k commented on #719
@Furisto No problem. Thanks ❤️

[2022-05-30 12:40] utam0k opened #951 "Pass the `TestUserNamespaces` in containerd's integraion test"
We have to support `spec.root.readonly` to pass the container's test
https://github.com/containers/oci-spec-rs/blob/6df620e6d372fe080322f2a4b5e164f11f209bb0/src/runtime/miscellaneous.rs#L24-L28

related: https://github.com/containers/youki/issues/531

[2022-05-31 12:31] utam0k opened #953 "`exec` command returns failure when the command doesn't exist"
## Bugs

Follow the tutorial in the README to create `config.json` and the rootfs. Then change `process` in `config.json` to sleep 1000, etc., and execute the following commands.

[code]

## Expected behavior

`echo $?` should return the failure exit code.

## Goal

Pass the integration test `TestContainerExecNoBinaryExists` in contianerd.
related: https://github.com/containers/youki/issues/531

[2022-06-03 15:53] tony84727 opened #958 ".gitignore ignores `integration_test` files/directories"
Hello,

AFAIK, there was a directory refactor for integration tests.

When editing the integration tests (under `tests/rust-integration-tests/integration_test`), git complains that the source code is ignored.
because:
https://github.com/containers/youki/blob/3644c008f1604f698f9b40a21f06f024a107cad7/.gitignore#L15

Is that intentional? Or should we update the `.gitignore`?

Edit:
Just realized that

[2022-06-06 06:31] utam0k commented on #958
@tony84727 That's right. I'd like to only ignore the `integration_test` executable file. Can I ask you to help us?

[2022-06-06 11:32] tony84727 commented on #958
Sure, this one should be easy. I will submit a PR later today (or maybe tomorrow)!

[2022-06-06 12:53] #958 closed

[2022-06-08 12:14] utam0k commented on #531
latest results
[code]

[2022-06-14 00:24] terinjokes commented on #719
I wrapped youki in a scrip that set the environment variable `YOUKI_USE_ROOTLESS=true`, which allowed this to progress farther. It then complained "rootless container requires valid user namespace definition", which I seemed to have resolved by passing `--userns=auto` to `podman run`.

This results in another failure, where youki attempts to connect to the system dbus (instead of the session dbus)

[2022-06-14 00:44] terinjokes opened #974 "namespace info depends on /boot files"
Running `youki info` prints information about the running system. Part of this information is the enabled Linux namespaces. However this information is silently omitted if the file at `/boot/config-$(uname -r)` is not available:

https://github.com/containers/youki/blob/a72a33b3e946a33d83d555f210e89401ef57cef6/crates/youki/src/commands/info.rs#L180-L183

[code]

I propose two enhancements to this

[2022-06-14 21:59] Furisto commented on #974
1. Seems reasonable. Back when I implemented this, I left out checking /proc/config.gz because I did not want to add an additional dependency for reading gzipped files without knowing on which distributions this is actually a problem. What distro are you using? Would you be interested in implementing it?

2. I do not see a reason to print a warning message, because the intended audience is not the

[2022-06-14 22:00] #930 closed

[2022-06-14 22:33] terinjokes commented on #974
I'm on NixOS, but also work with systems that network boot (and thus don't have a `/boot` partition). I can take a look at implementing this, but my Rust isn't super great, so I might not be successful.

[2022-06-15 07:34] Furisto commented on #974
Sure, I will assign you. You can reach out here if you are facing any problems.

[2022-06-15 11:20] utam0k opened #987 "Support idmapping"
https://github.com/opencontainers/runtime-spec/pull/1143
- [ ] lib support
- [ ] nix support

[2022-06-18 07:15] stefins commented on #902
Hi, I would like to work on this.

[2022-06-18 07:30] utam0k commented on #902
@stefins Sure! I'll assign you.

[2022-06-19 18:20] Furisto commented on #719
The behavior I am seeing is weird. Podman is not started as root, but youki seems to be. If I create a rootless container with youki without podman it works and I am seeing the correct (unprivileged) uid, so this does not seem to be a bug with the detection of the user in youki.

The config.json that podman provides to youki does not contain a user namespace either, which is further evidence that

[2022-07-24 18:34] kotx commented on #344
Not that it contributes to any productive discussion, and no offense to anyone, but I preferred the old logo. It really stood out with the level of detail and frankly resembles a container more than the flat version. Would love to see it back.

[2022-08-05 09:12] zzyyzte opened #1105 "When I use youki, got an error of "/proc/timer_stats" not exist AND youki did not terminate successfully: exit status 1 in docker and containerd"
Description

1. When I use youki to create a container, I got an error of "[WARN crates/libcontainer/src/process/container_init_process.rs:90] 2022-08-05T07:09:54.215862570+00:00 masked path "/proc/timer_stats" not exist"  AND  "Error: failed to create container"
2. When I use youki in docker, I got an error of "docker: Error response from daemon: failed to create shim: OCI runtime create failed:

[2022-08-08 18:35] Furisto commented on #1105
Hi @zzyyzte we currently require a kernel >= 5.4.

[2022-08-16 11:19] utam0k opened #1121 "CI sometimes is broken"

[2022-08-16 11:20] utam0k commented on #1121
@Furisto Can I ask you to write down what you know?

[2022-08-18 20:08] dmitris commented on #902
with #1009 merged, is there still work left on this or is this ready to be closed?

[2022-08-19 05:08] cyyzero opened #1129 "Can't kill a paused container in cgroup v1 environment."
Test case is below:

[code]

Container status is wrong because killing paused container failed. The container process won't receive SIGKILL and quit until it is thawed. It also makes `youki delete --force test` failing, since cgroup directory can't be removed until there's no tasks in it.

Here's the solution. https://github.com/opencontainers/runc/pull/3217 Maybe I could help fix the issue.

[2022-08-19 12:04] YJDoc2 commented on #1121
Hey, which part is broken? I see that the run on master is working
Although there is an issue, where there is a daily run of podman_tests on my fork's master, and it constantly fails, even even though the commit that it is currently at passed it here

[2022-08-20 12:25] utam0k commented on #1121
@YJDoc2 cc; @adrianreber
I'm not sure but why rust-criu build failed 😭
https://github.com/containers/youki/pull/1123

[2022-08-20 13:10] YJDoc2 commented on #1121
In the CI logs, it is showing that rust-criu version 0.2.0 is used? even though all cargo.toml and lockfile has version 0.5.7 specfified in it?
[code]
The crates.io only has v 0.2 published : https://crates.io/crates/rust-criu , so there might be some mismatch somewhere, although I can't see why it is failing now, and didn't fail before

[2022-08-20 13:15] stefins commented on #1121
I think the CI was fixed with https://github.com/containers/youki/pull/1125

[2022-08-21 00:37] utam0k commented on #1121
@stefins Thanks for your effort! I tried to rebase #1123 , but still failed 😭

[2022-08-21 05:46] YJDoc2 commented on #1121
I believe this is regarding to one of my previous comments :

That is fixed by the PR they have mentioned. but as you have said, the PR CI is still broken for some reason. As I have mentioned, the CI is still using rust-criu v0.2.0 , even though the github has release v0.5.7, as crates io still only has release 0.2.0 , maybe that is causing the issue.

[2022-08-23 04:58] YJDoc2 commented on #1129
Hey @cyyzero , sorry there hasn't been a reply. I'll try taking a look at the issue you have linked and getting back to you.

cc @Furisto

[2022-08-24 12:16] utam0k commented on #1105
@zzyyzte Please feel free to reopen if there is another issue.

[2022-08-24 12:16] #1105 closed

[2022-08-29 04:58] YJDoc2 commented on #1129
Hey @cyyzero , I took a look at the issue you linked, and we should also implement the same, i.e. if the cgroup on system is v1, then first thaw the container and then send a fatal kill signal , _iff_ --force option is given.

Would you be interested in working on this? My guess is following things will need to be done :
- whenever kill command is given, check if force is given or not
     - if fo

[2022-08-29 06:08] YJDoc2 opened #1153 "The container bundle path stored should be canonicalized when creating"
Currently we store the bundle path for the container as-is given to the `-b` of the create command. The direct effect of this can be seen when using the list command :
[code]
The path should be canonicalized before storing, so we can get the proper path whenever we need it.

The problems with this can be that if any part of youki assumes that the bundle path is non-canonicalized, , and uses someth

[2022-08-29 12:35] #1153 closed

[2022-08-30 14:30] orimanabu commented on #719
It seems to me that checking `nix::unistd::geteuid().is_root()` only is not enough to determine rootless.
Maybe we should consult `/proc/self/uid_map` also?

[2022-08-31 08:03] cyyzero commented on #1129
Hey @YJDoc2., thanks for your reply!  I'm willing to fix this issue. I will firstly deal with the bug of `kill --force` under cgroup v1.  Maybe some time later I will ask you about some details of writing integration test (I'm not familiar with github CI).

[2022-09-01 11:27] utam0k commented on #719
@orimanabu Thanks.
@Furisto WDYT? If you don't have time, please tell me, and I can take over

[2022-09-01 11:43] utam0k commented on #344
@kotx Thanks for your advice. I didn't delete the previous log from the repo.

[2022-09-02 08:47] orimanabu commented on #719
My previous comment was just a guess, but I did some more research.

When in rootless mode, podman creates user namespace in the very early phase. (userns is created in PersistentPreRunE of rootCmd.)
So When youki is invoked by podman, youki runs as root, uid mapped in the userns.

[runc](https://github.com/opencontainers/runc/blob/v1.1.3/libcontainer/userns/userns_linux.go#L33) and [crun](https:/

[2022-09-04 03:49] utam0k commented on #719
@orimanabu Perfect 💯 I think your investigation is right.

[2022-09-19 05:05] YJDoc2 commented on #1129
Hey @cyyzero , are you encountering any issue with this? Feel feel to ask for help, or let us know if any issue!

[2022-09-20 02:18] #953 closed

[2022-09-21 10:11] cyyzero commented on #1129
@YJDoc2 Sorry for the slow progress, I've been preparing for job applications recently.
Integration tests is still in development.

[2022-09-21 10:41] YJDoc2 commented on #1129
Hey, no worries, I wanted to just check in if you're having any issues :+1:
I'll take a look at the draft PR you have opened if possible this weekend :)

[2022-09-23 08:24] utam0k opened #1209 "Support rust 1.64.0"

[2022-09-24 03:57] Hoverbear opened #1212 "Git submodules using `git` urls can break `cargo install`"
Currently if a user attempts to install `youki` via Cargo, they may meet an error if they do not have git keys configured fully:

[code]

It may be desirable to use a different Git submodule remote URL protocol.

While attempting to build `youki` in a sandbox without configured git keys I notably saw this error which I think might be related?:

[code]

[2022-09-25 06:20] utam0k opened #1213 "Support `domainname`"
https://github.com/opencontainers/runtime-spec/pull/1156

runc: https://github.com/opencontainers/runc/pull/3600

# Goal

- [ ] Implement
- [ ] Add a test for it

[2022-09-25 14:32] higuruchi commented on #1213
Hi @utam0k ,
May I take this challenge?

[2022-09-26 04:30] utam0k commented on #1213
@higuruchi Sure!

[2022-09-26 11:51] utam0k commented on #1121
Again :sob:

[2022-09-27 03:47] YJDoc2 commented on #1212
Hey @Hoverbear the first issue will probably be solved by using https instead of ssh for git submodules, however, that particular submodule isn't even necessary for using youki, so I'm looking into some ways we can make it optional .

As for the  second issue, can you provide the setup to reproduce it, and possibly the complete log (the log says `last 10 log lines`)?
Thanks!

[2022-09-27 03:50] #1209 closed

[2022-09-27 04:11] YJDoc2 commented on #1121
Hey @utam0k , if you are talking about podman tests, it is due to the rust 1.64 changes, which should be fixed in #1211 . I tried to re run the workflow, but that still uses older commit, so is still failing at build stage, I think when it will run tomorrow,  it should work again.

[2022-09-27 11:56] utam0k commented on #1121
@YJDoc2 Thanks for your comment. I think we have trouble with the cache of ci.
https://github.com/containers/youki/pull/1206

[2022-09-27 12:37] utam0k commented on #1121
I cleared all caches.

[2022-09-27 12:37] #1121 closed

[2022-09-28 11:36] utam0k commented on #585
Dup https://github.com/containers/youki/issues/531

[2022-09-28 11:36] #585 closed

[2022-09-28 11:49] utam0k commented on #951
https://github.com/containers/youki/issues/531

[2022-09-28 11:49] #951 closed

[2022-09-28 13:03] utam0k opened #1225 "containerd: TestContainerKillInitPidHost"
This issue is a part of [supporting containerd](https://github.com/containers/youki/issues/531)
[code]

[2022-09-29 06:11] YJDoc2 commented on #1213
@utam0k I think #1214 completed this?

[2022-09-29 07:36] YJDoc2 commented on #1225
This might get partial support in #1204
When done, it should implement support for killing all process of a container's cgroup, then we might need to check again if this still fails, and see the reason.
We can try running tests against that PR's branch, but not sure how much complete it is, as still in draft

[2022-09-29 12:18] utam0k commented on #1213
@YJDoc2 True

[2022-09-29 12:18] #1213 closed

[2022-09-29 12:19] utam0k commented on #1225
@YJDoc2 maybe yes...

[2022-09-29 16:56] Silcet commented on #586
Hi @utam0k . I'm interested in taking this task because I want to use youki in a project I'm working on and I'd instead pull it from crates than from GitHub. However, the part I'm mostly interested in is taking the commands of the youki crate and turning them into a library so they can be used from a different main.

Would that part interest you too? If so, should we just make another issue and ta

[2022-09-30 18:37] Hoverbear commented on #1212
Yeah! Let me get a reproduction branch this weekend. :) Sorry about the wait.

[2022-09-30 23:21] Hoverbear commented on #1212
You can reproduce this with `nix run github:hoverbear/nixpkgs/init-youki#youki --print-build-logs --extra-experimental-features "nix-command flakes"` if you have `nix` installed.

<details>
  <summary>Full log</summary>

[code]
</details>

[2022-10-01 15:29] YJDoc2 commented on #1212
Hey @Hoverbear Thanks a lot for the complete logs! I am not much familiar with nix, so trying to work it out, however I have two questions :
- the nix run command you gave points to a repo at your github acc, I checked the repo manually but couldn't find anything related to youki. I haven't run the nix run command, and I don't know how it works, so might be my bad, but by any chance have you not p

[2022-10-02 11:56] utam0k opened #1236 "Bump clap from 3.X to 4.X"
https://github.com/containers/youki/pull/1235

[2022-10-04 02:46] Hoverbear commented on #1212
That'd be because it's a branch! https://github.com/hoverbear/nixpkgs/tree/init-youki

That command would build this: https://github.com/Hoverbear/nixpkgs/blob/init-youki/pkgs/applications/virtualization/youki/default.nix

I think you're right about the missing `.git`.

Earlier in the build (I forced a clean cache) I noticed it downloaded: https://github.com/containers/youki/archive/c5ab61fcfdbd5d

[2022-10-04 09:16] YJDoc2 commented on #1212
Hey, for the testing I have made a branch which has a potential fix that will avoid issues when .git is not present. However, note that it will work only is you're are running `cargo build` ,  as the makefile needs git for somethings.
Can you check if the issue resolved by my branch : https://github.com/YJDoc2/youki/tree/vergen-fix
I'm not sure if this will get merged as it is / at all in the main

[2022-10-04 15:10] Hoverbear commented on #1212
That does fix that specific issue! I get a different error now, but it does fix this!

<details>
  <summary>Full log</summary>

[code]
</details>

[2022-10-06 05:23] YJDoc2 commented on #1212
Hey @Hoverbear , that is interesting. For this I'll have to run the nix build myself and do some debugging, as I do not have any guesses why this might be failing. I'll try to do it this weekend, and get back here. Thanks a lot for reporting this and giving full log!

[2022-10-07 04:59] YJDoc2 commented on #1212
Hey, Sure! I'll keep this issue open till weekend and then close but please let know if any other issues, or if it works! :)

[2022-10-10 05:30] utam0k commented on #586
@Silcet Sorry for the late reply. Currently, youki is already divided into several crates. What crate do you want to use?

[2022-10-11 10:35] YJDoc2 opened #1259 "Update action versions in CI"
Some of the actions we use in our workflows use node 12 which is now deprecated, simply updating the action version should solve the issue.
https://github.com/containers/youki/actions/runs/3226105120

[2022-10-11 10:38] YJDoc2 opened #1260 "Bump libbpf to 1.x.x"
https://github.com/containers/youki/pull/1217
Major version release, so likely a breaking change.
Judging from the failed CI, there might not be that much fixes to to for version change.

[2022-10-13 08:28] #1259 closed

[2022-10-14 08:50] YJDoc2 commented on #814
Closing, as the main issue was not really related to youki itself, more of a dependency/setup issue.
And yes, maybe we should walk away this time :smile:

[2022-10-14 08:50] #814 closed

[2022-10-14 08:55] YJDoc2 commented on #1212
Hey, unfortunately I didn't get to build with nix yet, and it might take some time. Meanwhile, the git url issue has to be solved separately with changes in what make targets are, I will open a separate issue for that.

As the vargen issue was solved with the merge of #1251 in main, closing this issue for now. If you have any issue, feel free to re-open or open a new issue.

Thanks for trying to b

[2022-10-14 08:55] #1212 closed

[2022-10-14 09:03] YJDoc2 opened #1267 "Make scripts should be more selective"
Currently there are following make targets :
- build
- release-build
- test-all
- test
- oci-integration-test
- integration-test
- validate-rust-tests
- clean

One of the big issue is that the build and release-build scripts currently compile 3 binaries : youki, integration-test (rust) and runtimetest.
This not only takes time, but is completely unnecessary in many cases : for release, tests shoul

[2022-10-14 09:04] utam0k commented on #1267
@YJDoc2 I was just thinking about this issue too. Thanks.

[2022-10-19 11:27] #1260 closed

[2022-10-19 12:36] utam0k commented on #531
@YJDoc2 Have you ever encountered [TestWaitStoppedProcess](https://github.com/containerd/containerd/blob/e61539ae84cd5af381fca5f685af7c77520adcc1/integration/client/container_test.go#L912) during doing #1252
I guess it is related to the output of the log problem you told me.

[code]

[2022-10-19 12:42] utam0k opened #1277 "Pass TestUserNamespaces of contaienrd"
https://github.com/containerd/containerd/blob/4bd8b5be444a8c381db7fa678def3bb6d416d0e1/integration/client/container_linux_test.go#L1123

# Error message

[code]

[2022-10-19 17:24] Jeffwan opened #1278 "Suppport wasm workloads using wasmtime"
We use wasmtime as the webassembly runtime and I would be interested to support wasmtime supported in youki since they are both rust stack.  I notice wasmr has been added in the youki and I would like to extend in a similar to support wasmtime.

I am actually a beginner of rust and I would like to contribute this part including tests and reports

[2022-10-20 14:36] YJDoc2 commented on #531
@utam0k Have you tried `TestWaitStoppedProcess` with the #1252 ? I tried it with changes of that PR, and it seem to pass without any issues.

[2022-10-20 15:03] YJDoc2 commented on #1277
The Youki Logs :
[code]
Somethings that I notice here are : use_systemd is None, it should probably be some(...) ? Also, this starts a rootless container? Should these two be the way they are? because in exec tests, the containers were not rootless, ans systemd was Some(false)

[2022-10-20 15:46] YJDoc2 commented on #1277
Also, this makes me question why do we have use_systemd in Option, if it is bool. It can be either to use it or not to use it, in which case we can se appropriate default value of it, rather than having to keep it None.
Is there any reason why it was of type Option, rather than just bool?

[2022-10-20 16:33] YJDoc2 commented on #1277
I did try making the use_systemd as bool, with default false ( as unless explicitly stated, we should not be using systemd) . That does not solve this issue, so the points I mentioned above might not be why the test is not passing

[2022-10-21 08:54] YJDoc2 commented on #1277
On doing more digging, this is possibly due to we setting the cgroups path incorrectly. Will update if find something concrete

[2022-10-21 11:51] utam0k commented on #531
Okay, I'll check it. Thanks

[2022-10-21 12:23] #1277 closed

[2022-10-21 23:53] utam0k commented on #1278
Hi, @Jeffwan. I'm a beginner at wasm, so please tell me what advantage we support `wasmtime`.

[2022-10-22 00:58] unknowndevQwQ opened #1289 "bug: youki is not friendly enough to specify the --log option more than once"
Earlier, I opened a similar issue #453, added my expected --debug to issue #454 and didn't check the interaction between docker and youki again
Until recently, I didn't notice the difference in behavior between youki and other oci runtimes when specifying --log multiple times. crun, runsc will use the last one when faced with multiple --log options

[2022-10-23 23:51] Jeffwan commented on #1278
@utam0k you mean the advantage of `wasmtime` over `wasmr`?

[2022-10-25 12:43] utam0k commented on #230
@Furisto I know you have already learned a lot about it from runc, but what do you think about this issue?

[2022-10-25 12:44] utam0k commented on #1278
@Jeffwan I  want to know what benefit we archive with this issue.

[2022-10-26 04:49] YJDoc2 opened #1305 "Pass all of runc integration tests"
https://github.com/opencontainers/runc/blob/main/Makefile#L120

Currently following tests are failing :

- [ ] not ok 1 runc exec (cgroup v2, ro cgroupfs, new cgroupns) does not chown cgroup
- [ ] not ok 2 runc exec (cgroup v2, rw cgroupfs, inherit cgroupns) does not chown cgroup
- [ ] not ok 3 runc exec (cgroup v2, rw cgroupfs, new cgroupns) does chown cgroup
- [ ] not ok 5 runc create (rootless

[2022-10-26 04:51] YJDoc2 commented on #1305
Error log :
[code]

[2022-10-26 05:33] utam0k commented on #1305
@YJDoc2 Thanks for creating the issue. Please ignore the tests related `checkpoitn` in this issue.

[2022-10-31 05:30] #1129 closed

[2022-10-31 05:30] #1225 closed

[2022-10-31 05:33] YJDoc2 commented on #531
With merge of #1204 , I think only one or two of the  tests are still failing, I will check later and update which ones are failing.

[2022-10-31 15:32] YJDoc2 commented on #531
The reason TestContainerKill is failing is because the way it checks for error here https://github.com/containerd/containerd/blob/main/pkg/process/utils.go#L135 is by string comparison of error message (mostly) , and as youki's error message is different from what is checked, it assumes that an "incorrect" error was given and fails the test. Simply changing the error message to match one of the co

[2022-11-01 06:02] YJDoc2 opened #1314 "Pass TestContainerKill containerd test"
The reason TestContainerKill is failing is because the way it checks for error here https://github.com/containerd/containerd/blob/main/pkg/process/utils.go#L135 is by string comparison of error message (mostly) , and as youki's error message is different from what is checked, it assumes that an "incorrect" error was given and fails the test. Simply changing the error message to match one of the co

[2022-11-05 01:45] 92hackers opened #1318 "Error[E0599] : no method named `get_notify_fd` found for struct `ScmpFilterContext` in the current scope."
When running command: `make build` and later, when compiling libcontainer v0.0.3.

Repo git hash: 184c21b79485ece170d1ee9da52eaf9ec745ce61

OS kernel: 5.15.0-47-generic
OS:  x86-64, ubuntu 22.04

[2022-11-06 03:38] unknowndevQwQ commented on #1289
@utam0k

[2022-11-06 05:51] utam0k commented on #1289
@unknowndevQwQ Thanks for raising an issue. What behavior do you want to expect? Developers are human beings. Please avoid calling them only with mentions.

[2022-11-06 12:06] YJDoc2 commented on #1314
As there is no response on that  discussion, I have opened PR 1319 to just add expected error message if the container couldn't be killed because it was stopped. Not the best way, but should make the test pass for now.

[2022-11-06 12:57] #1314 closed

[2022-11-06 15:06] unknowndevQwQ commented on #1289
The expected behavior is to use the contents of the last --log argument like any other OCI runtime

sorry

[2022-11-07 11:20] YJDoc2 commented on #531
It would appear that with latest main (d99b665283f06b827a8762dc05a4b96e3a98a0df) we are passing all the tests * :tada: :tada: :tada:

\* The tests themselves seem to be flaky, I ran the whole suit 3 times before every tests passed. The ones that failed in first 2 passed when run individually, and in the 3rd run every all of the tests passed!

[2022-11-07 11:28] YJDoc2 commented on #1318
Hey @92hackers , can you try running `make clean` and re-run `make build`? I tried building both main branch at current commit and the commit you have mentioned, and both seem to build fine without any errors.

It might be possible that some existing dependency of old version of libseccomp might be giving error , as I also remember getting a similar error in past. Unfortunately I don't remember wh

[2022-11-12 03:47] utam0k commented on #1318
@92hackers May I ask you to make sure that you can compile runc without errors in your env?

[2022-11-12 14:59] 92hackers commented on #1318
@utam0k , you are right.

After i installed `libseccomp-dev` on my ubuntu, then i can build `youki` successfully, with libcontainer `v0.0.3`。

Thanks.

[2022-11-12 14:59] #1318 closed

[2022-11-13 02:19] utam0k commented on #1318
@92hackers I'm glad to help you

[2022-11-14 12:00] YJDoc2 commented on #142
Sorry to ping the issue subscribers here, but is this still relevant? Two of the thing mentioned in above have been merged/closed, and the first issue has a related PR which has been merged. If I recall correctly, there are also some integration tests regarding the checkpoint-restore functionality. If this support is done, can we close this issue? If not, what else might be needed for it to work?

[2022-11-14 12:08] YJDoc2 commented on #317
Testing with latest main at the time of this comment, this no longer gives the above error, but give some other error:
<detail>

[code]

</detail>

After this only parent shell can be run, and even though the container cannot be seen running in youki list, we cannot create a container with same id either with error 'container with given id already exists'. That might be some unrelated error.

[2022-11-15 09:14] saschagrunert opened #1348 "OpenTelemetry tracing support to extend observability"
I think this project could outstandingly shine when featuring tracing support. We have a implementation in conmon-rs which supports exporting data to the OpenTelemetry exporter (OTLP): https://github.com/containers/conmon-rs/blob/6cfba5a/conmon-rs/server/src/telemetry.rs

Everything is based on the [tracing crate](https://docs.rs/tracing/latest/tracing), which is also used for logging.

What do yo

[2022-11-15 12:26] utam0k commented on #1348
@YJDoc2 @Furisto @yihuaf I'd like to hear your input.

[2022-11-17 14:32] adrianreber commented on #142
I only implemented the checkpoint part. I did not find the time yet to implement the restore part of the code. Once restore is implemented this can be closed.

[2022-11-24 12:00] utam0k opened #1372 "Upgrade wasmer to v3.0"

[2022-11-25 17:41] chermehdi commented on #1372
What's the goal here? is it just to bump a version and make sure that tests still pass?

[2022-11-26 09:46] chermehdi commented on #361
I'll try to tackle a couple as well

[2022-11-26 11:50] utam0k commented on #1372
@chermehdi
Thanks for your comment. That's right. Do you have interested it?

[2022-11-26 11:51] chermehdi commented on #1372
sure I can take it 👍

[2022-11-26 11:52] utam0k commented on #361
@chermehdi cc: @YJDoc2
Which test cases do you have interested in? If you can choose, I will assign you ;)

[2022-11-26 11:55] chermehdi commented on #361
Currently still taking a look at the runc tests, just to make sure we are on the same page, we are talking about porting these [tests](https://github.com/opencontainers/runc/tree/main/tests/integration) written in bat to Youki's own testing framework?

[2022-11-26 11:59] utam0k commented on #361
@chermehdi
In our case, we are writing in our own framework, although it is a bit more challenging so that we can be more flexible.
But first, we want to port the [runtime-tools test cases.](https://github.com/opencontainers/runtime-tools/tree/master/validation) Unfortunately, the maintainer is not active and is even less flexible.

[2022-11-26 12:01] chermehdi commented on #361
Aaa I see, let me take the create (first one I saw here), and once we have that, let's see how it goes from there, how does that sound?

[2022-11-26 12:02] utam0k commented on #361
Maybe a port of hostname to get into our development flow for starters?
https://github.com/opencontainers/runtime-tools/blob/master/validation/hostname/hostname.go

We're still in our infancy, so we'd love to hear about any improvements you've found unsatisfactory in the process!

[2022-11-26 12:05] chermehdi commented on #361
sure, sounds good 👍

[2022-11-26 12:07] utam0k commented on #361
@chermehdi I assigned you. Thanks :pray:

[2022-11-27 23:26] utam0k opened #1377 "Investigate to use `thiserror` in our crates"
# Introduction

Now we are using `anyhow` everywhere. But It would be better to provide some codes as crates(e.g. libcontainer, libcgroup...). Their crates in their current state are not very user-friendly of error handling.

# Goal

Investigate and implement to use of `thiserror` instead of `anyhow` in crates

# Tracking

- [ ] [liboci-cli](https://github.com/containers/youki/tree/main/crates/lib

[2022-11-27 23:28] utam0k commented on #1377
@chermehdi I'm happy if you have interested in this issue. But this issue is not easy and take a lof of time to achieve better than other good first issues.

[2022-11-28 07:41] chermehdi commented on #1377
Sounds good, let us do them in that order, the first one should give us a pretty good idea about how will the others look like, and how much effort is required as well.

[2022-11-28 11:53] YJDoc2 commented on #1267
Now that #1297 is merged, I'll try doing this one, although will take a little time

[2022-11-28 12:22] utam0k opened #1379 "YJDoc2 joins the containers org"
I would like to recommend @YJDoc2  to join the containers team. He is the most recent and most active youki member.

He has already achieved the following:
- Add a lot of great docs. He created https://containers.github.io/youki/
- Pass the containerd integration test with youki instead of runc
- Take a lot of reviews and create a lot of issues
- His communication skills are tremendous and I have

[2022-11-28 12:22] utam0k commented on #1379
@saschagrunert WDYT?

[2022-11-28 12:25] utam0k commented on #1377
@chermehdi That's right, libcontainer is going to be quite large task, so if there is a way to make it divisible that would be nice too. May I assign you? There is no deadline, etc. Of course, I can help you whenever.

[2022-11-28 13:25] utam0k commented on #1379
Thanks! Good news to me. I would like to create youki-maintainers.

[2022-11-28 13:27] lsm5 commented on #1379
@utam0k sure thing, are you ok with it being a public team? Or do you want it to be a secret team? https://docs.github.com/en/organizations/organizing-members-into-teams/changing-team-visibility

[2022-11-28 13:44] lsm5 commented on #1379
@utam0k @containers/youki-maintainers is now yours to maintain. Enjoy

[2022-11-28 14:30] saschagrunert commented on #1379
Awesome, SGTM!

[2022-11-28 14:55] YJDoc2 commented on #1379
@utam0k Thank you for the kind words! :heart:
@lsm5 @saschagrunert thank you for making me a part of this organization, it is an honor. Thank you :)

[2022-11-28 14:57] YJDoc2 commented on #1379
On that note, we should also add Furisto to this team, I think currently only @utam0k and me are part of it

[2022-11-28 15:30] Mossaka commented on #1278
(Disclaimer, I am a maintainer [runwasi](https://github.com/deislabs/runwasi), which supports running wasm/wasi workloads using wasmtime and other runtimes)

Let me add one benefit of enabling wasm workloads in the container ecosystem. Wasm/wasi is a lightweight, portable and secure binary format that enables devleopers to build server-side applicaitons in Rust, C++, Go and other languages. One ma

[2022-11-29 00:06] utam0k commented on #1379
Thanks. I have updated our team.

[2022-11-29 00:08] utam0k commented on #1379
@YJDoc2 Congratulations, and I'm happy to join you.

@lsm5 @saschagrunert Thanks for taking care of this issue :bow:

[2022-11-29 00:08] #1379 closed

[2022-11-29 00:08] utam0k commented on #1379
cc: @Furisto for :eyes:

[2022-11-29 11:37] chermehdi commented on #1377
@utam0k yeah sounds good, just assing me.

[2022-11-30 11:42] #1267 closed

[2022-11-30 11:46] YJDoc2 commented on #531
This is now completed with the merge of #968 !

[2022-11-30 11:46] #531 closed