[2021-03-29 14:00] sjames opened #2 "Have you looked at tailhook/unshare for the low level infrastructure?"
Hi,
Nice project.  Have you seen https://github.com/tailhook/unshare?  This may be a library you could use for your lower-level implementation.

Regards,
Sojan

[2021-03-29 14:37] utam0k commented on #2
@sjames
Hi! Thank you for your advice.
I haven't known https://github.com/tailhook/unshare. This project is very cool.
However, `youki` is also for my container study, so I'll look at it as a reference.
However, maybe we will use it in the future.

[2021-04-04 01:41] #2 closed

[2021-05-17 05:15] utam0k opened #8 "[Tracking Issue] Improve the test coverage"
The current youki has far too few unit tests.
We are planning to increase the test coverage for the following files.
Perhaps this is a very good opportunity to understand the code and how it works. If you are interested, please comment on the issue and declare the files you want to test.

- [ ] `src/spec.rs`
- [ ] `src/namespaces`
- [x] `src/cgrpups/devices.rs`(assigned @tsturzl) https://github.co

[2021-05-17 05:23] utam0k opened #9 "[Tracking Issue] Support for cgroups v1"
This issue is for tracking the implementation of [cgroups](https://www.kernel.org/doc/Documentation/cgroup-v1/cgroups.txt).
Since devices of cgoups has already been implemented, you can implement it while referring to it.
If you are interested, you can comment on this issue and I will assign it to you.

- [x] devices
- [x] network(assigned @tsturzl)
The integration test is this: https://github.com

[2021-05-17 11:08] sensaiankit commented on #9
I would like to work on this issue, but as I am a beginner i didn't understood the issue so can you please guide me

[2021-05-17 11:17] 0xdco commented on #9
Hi @utam0k, thanks for your work so far! I'm looking for some tasks to hone my Rust skills and I guess this issue looks like a perfect candidate, I'm interested in the assignment. I'll go through the [cgroups](https://www.kernel.org/doc/Documentation/cgroup-v1/cgroups.txt) to check the details, but I guess it would be beneficial to all if we could somehow have a in depth implementation discussion

[2021-05-17 11:40] utam0k commented on #9
@sensaiankit How about this issue(https://github.com/utam0k/youki/issues/8), which is more recommended for beginners?
For example, `src/namespaces` already has one sample test, so you can use that as an example to increase.

[2021-05-17 11:47] utam0k commented on #9
@0xdco Thanks! I'd like to assign you to one of cgroup's controller.
Which controller are you most interested in?
Or do you want to modify or refactor the architecture?  If you have any advice on architecture or code I'd love to hear it :)

[2021-05-17 12:22] sensaiankit commented on #9
Okay cool looking forward for that issue. I still would like to get guidance from you, would you mind connecting somewhere like either twitter or discord

[2021-05-17 12:29] utam0k commented on #9
@sensaiankit Of course! If you want my guidance you can contact me on Twitter DM. I will do my best to accommodate you as my time permits. Sorry if it takes me a while to reply.

[2021-05-17 12:35] sensaiankit commented on #9
I saw your twitter account but i cant really do a dm will you please open it ?

[2021-05-17 12:38] utam0k commented on #9
Sorry... I opened it.

[2021-05-17 13:53] utam0k opened #10 "Ideas"
Feel free to post ideas.

[2021-05-17 14:16] YJDoc2 commented on #10
Hey, this seems like a really cool project, specially as I am interested in both rust and stuff related to OS.
I was going through the code and even though it seems quite understandable, it'd be great if there was a high level guide or even comments giving an outerview. I saw that the design and implementation section is TBD in readme, and even though I don't have much knowledge of container runti

[2021-05-17 14:36] utam0k commented on #10
@YJDoc2
Thanks for the comment!
Currently, I have no idea about this yet. If you have any good ideas I'd love to hear them.

I think it might be a good idea to start with commenting on the code.

[2021-05-17 14:39] utam0k opened #11 "logo"
The current logo is too confusing.
I'm not very good at drawing, so I'm looking for help.

[2021-05-17 14:54] raravena80 opened #12 "CNCF TAG-Runtime Discussion/Presentation?"
Hello youki team,

I'm one of the co-chairs of the CNCF SIG-Runtime, I'm reaching out and think it would be great for you to present/discuss the project at one of our meetings. An overview of the project would be great.

Let me know if this something you'd be interested in doing. If yes, please feel free to add it to our [agenda](https://bit.ly/cncf-tag-runtime-meeting-notes) or reach out to me (r

[2021-05-17 15:55] YJDoc2 commented on #10
I think as implementation will grow, the documentation will become complicated, so rather than adding in Readme, having a dedicated 'thing' will be better. One way could be adding a repo wiki like this : https://github.com/dthain/basekernel/wiki
Or other option I can think of is having an mdbook like rust language, and maybe hosting it on github pages for this repo.

I will try to start commenting

[2021-05-17 16:05] utam0k commented on #10
It's nice!

You would use https://docs.rs, right?

Of course! I welcome questions from you on Twitter and elsewhere.

[2021-05-17 17:35] YJDoc2 commented on #10
Hey,As far as I know, docs.rs automatically makes and hosts the html documentation using the doc comments in the source, when crates are uploaded on crates.io .
I was talking about adding the in-source comments to explain structures and fields and functions etc, using doc comments according to conventions in
https://doc.rust-lang.org/book/ch14-02-publishing-to-crates-io.html
https://github.com/rus

[2021-05-17 21:03] 0xdco commented on #9
You can assign me to whichever controller you think is a good easy / introductory point to the project as I'm still reading the code and the documentation(s) to get started. I will be able to start tackling it during the weekend. Depending on how successful I am in my endeavor, I might take over other available controllers to write as well. I have no plans to modify or refactor the architecture bu

[2021-05-18 00:04] utam0k commented on #9
@0xdco
I assigned you to the pids of the controller. I'm thinking that it's probably not that difficult.
How about using this test provided by the opencontainers to guarantee operation? (You can test this by setting an environment variable called RUNTIME in the youki exec file.)
https://github.com/opencontainers/runtime-tools/tree/master/validation/linux_cgroups_pids
runtime-spec's document about

[2021-05-18 00:20] utam0k commented on #10
@YJDoc2
I feel that docs.rs also automatically generates the descriptions for struct and functions, etc.
https://docs.rs/futures/0.3.15/futures/io/struct.AllowStdIo.html
This is the code that will generate the comments for this document
https://docs.rs/futures-util/0.3.15/src/futures_util/io/allow_std.rs.html#43

At any rate, the current situation is that there is nothing to comment on, so adding

[2021-05-18 09:21] drahnr opened #13 "impl: hooks"
Hooks are a vital aspect when mapping complex input devices i.e. gpu or accelerator devices into the container namespace. The most common use case is using machine learning workloads in a container workload that requires cuda access i.e. for CI jobs of [juice](https://github.com/spearow/juice)

Spec ref: https://github.com/opencontainers/runtime-spec/blob/master/config.md#posix-platform-hooks

[2021-05-18 09:24] drahnr commented on #13
@utam0k please assign me for this issue, I lack permissions to do so

[2021-05-18 09:30] utam0k commented on #13
@drahnr
I assigned it to you and look forward to your PR.

[2021-05-19 00:39] utam0k opened #14 "More comments and docs"
Now, This project has too few comments and documentation.
I would like to improve the development experience by improving them.

[2021-05-19 00:41] utam0k commented on #14
@YJDoc2
Can I assign this issue to you? Of course, I'm going to help.

[2021-05-19 00:41] utam0k commented on #10
I created https://github.com/utam0k/youki/issues/14

[2021-05-19 14:24] YJDoc2 commented on #14
Yes sure, I'd be happy to work on this :+1: I am a bit busy this week, so probably will start working on this weekend or next week.
Currently my plan is to start with main.rs, comment that and recursively work on the imports. I am also thinking to make a rough md file to describe the control flow as the program is run, so someone new can get a quick high level overview of things. Let me know if yo

[2021-05-19 15:00] utam0k commented on #14
I assigned this issue to you. Your plan looks great and I am looking forward to it!

I prefer to have them proceed slowly at their own pace. Can I ask you to send out PRs in small sections so I can see the progress if possible?

This is a diagram I made to explain the process flow of youki to others. It is a wrong diagram because the process is different from now, but it may be helpful to see the

[2021-05-20 05:16] reynn commented on #9
Can I be assigned the CPU and/or Memory, any tips you may already know of would be awesome but should be able to handle either way!

[2021-05-20 06:09] utam0k commented on #9
@reynn
Thanks for your interest!
I would like to assign the CPU of the controller to you. If you finish soon, I may assign another. to you.
I look forward to your PR.

[2021-05-20 21:32] tsturzl commented on #9
I'd be happy to take the memory cgroup controller.

[2021-05-20 21:39] tsturzl commented on #9
this is another great resource for everyone: https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v1/index.html

[2021-05-20 23:05] tsturzl commented on #10
I was thinking it might be possible to use async/await to concurrently handle cgroup controller configuration. This might be a pretty minor improvement to performance since these IO operations are relatively small, but might be worth looking into.

[2021-05-20 23:52] utam0k commented on #9
@tsturzl
Thanks for your interest. Of course, I assigned it to you.

I think so too. That's why I'm making this issue a `good first issue`.

[2021-05-21 00:38] constreference commented on #8
Hi, @utam0k  I"d be happy to take capability and tty

[2021-05-21 00:51] utam0k commented on #8
@constreference
Thanks for your interest!  Sorry, the `capability.rs` was already assigned to @sensaiankit  through a DM exchange. I forgot to update it.
`tty.rs` is definitely something you should do, but it is the least maintained and may need refactoring. It may be a bit of a challenge, but I'd love to see it done.
Can I assign `tty.rs` to you?

[2021-05-21 03:51] cr0ax commented on #11
How about these?

![rustycontainer](https://user-images.githubusercontent.com/60494319/119079398-e0163f80-b9ac-11eb-91ff-b332bf276b16.png)
![rustycontainer2](https://user-images.githubusercontent.com/60494319/119079400-e0aed600-b9ac-11eb-9a00-104616eaea20.png)

- It kind of looks like your existing logo
- It has the letters R and C outlined in rust (for Rust and Container)
- It has the name of the

[2021-05-21 04:13] constreference commented on #8
Sure !, I'll give it a shot !

[2021-05-21 05:22] utam0k commented on #8
I assigned it to you. Looking forward to your PR!

[2021-05-21 05:58] utam0k commented on #11
@cr0ax
Oh! That's a very nice picture! Thank you very much.

This idea is so great, I'm impressed. However, I felt it was a little difficult to convey to others. The Rust and Container concept is achieved by adding rust to the container, so how about making it a square like a standard container?

Nevertheless, I'm trying to respect your opinion and would love to hear it.

By the way, you don't hav

[2021-05-21 07:28] utam0k commented on #11
@cr0ax
Sorry, my comment above was heavily edited from my first comment.
I think it's a very nice logo and I'd like to use it!

[2021-05-21 14:32] Furisto commented on #9
I would like to work on the hugepage cgroup controller.

[2021-05-21 15:44] utam0k commented on #9
@Furisto
Sure! I assigned you. I am sincerely waiting for your PR.

[2021-05-22 01:10] utam0k commented on #10
@tsturzl
That's a very good idea. I was actually wondering if I could use some of that.
According to [railcar's article](https://blogs.oracle.com/developers/building-a-container-runtime-in-rust), it seems that creating a cgroup waits for a kernel lock.
I'm thinking that using async/await for cgroups might actually improve performance a bit.
Are you interested in this?

[2021-05-22 04:34] tsturzl commented on #10
@utam0k I've been reading through some of the runc source while writing the memory controller. It seems like order of writes to certain files within a controller matters in some situations. I believe it might have to do with validation between 2 values in the kernel. See: https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/fs/memory.go#L89

I'd be happy to take look into it. Ma

[2021-05-22 06:14] utam0k commented on #10
@tsturzl
Your ability to read the runc code so quickly is amazing! I'm still getting used to it and can only read what I need little by little.
The use of async/await is a great advantage that youki has implemented in Rust and I would love to incorporate it.
Can you create an issue about it?  I'll assign it to you.
And when it's done, I'd love to invite you to be a member of this repository and wo

[2021-05-22 06:29] tsturzl commented on #9
I can go ahead an take the network controller on. The memory controller PR is just waiting to be merged after I integrate with the changes @Furisto made. I can probably be finished up with the network controller by Monday.

[2021-05-22 06:44] tsturzl opened #17 "Asynchronous cgroup controller configuration"
We should be able to concurrently configure each of the  cgroup subsystems to hopefully see some performance improvements. One thing to note is write order within a controller is important to keep track of since values can be validated against each other by the kernel. Initially it may be best to write configs in each controller in series and have each controller be executing concurrently with the

[2021-05-22 06:49] utam0k commented on #9
@tsturzl
Your work is amazing!
Okay, I'll assign you to it. I don't intend to rush it, so it would be great if you could proceed. I am sincerely waiting for your PR.

[2021-05-22 07:00] utam0k commented on #17
I think this is a wonderful thing to be able to achieve. I would love to verify and implement this.

[2021-05-22 10:40] minakawa-daiki opened #20 "impl: exec sub command"
The exec command is not listed in the [runtime-spec](https://github.com/opencontainers/runtime-spec), but I consider it one of the required features. For example, when I run `docker exec -it [container id] bash`, I currently get the following error.

![Screenshot from 2021-05-22 19-39-11](https://user-images.githubusercontent.com/22878067/119223639-842af280-bb35-11eb-84c1-c9a3b96a9df2.png)

[2021-05-22 15:18] minakawa-daiki commented on #20
@utamoku Can I have you assign me to solve this issue?

[2021-05-22 15:21] utam0k commented on #20
@minakawa-daiki
Thanks for your interest. Oh... That was definitely not implemented there.
I'd love to have it for you! I've assigned you to it.

[2021-05-23 01:26] cr0ax commented on #11
how about this?

![rustycontainer3](https://user-images.githubusercontent.com/60494319/119245074-2ee9e380-bb2b-11eb-9772-2862f2bb0b46.png)
![rustycontainer4](https://user-images.githubusercontent.com/60494319/119245075-2ee9e380-bb2b-11eb-987b-0a60a7c3771e.png)

[2021-05-23 02:06] utam0k commented on #11
@cr0ax
Your first one and this one are both great!
Hmm, I'm pretty torn on which one to choose, so would you mind submitting your favorite in PR?
In PR, you can have docs/youki.png overwritten.

[2021-05-23 09:18] utam0k opened #24 "Support for systemd cgroup driver"
I'm considering supporting podman, but I don't know the details of podman, so I'm looking for opinions.
I don't know what features youki lacks to support podman yet.
I'm also looking for people to support this issue.

[2021-05-23 12:10] JonathanBerhe opened #25 "Add seccomp"
Hi, thanks for the project, it's very intresting!
I would like to work on seccomp feature if possible.

[2021-05-23 13:42] flxo commented on #25
@JonathanBerhe Just a note: @inorik recently implemented some basic BPF stuff for something similar: https://github.com/esrlabs/northstar/blob/master/northstar/src/runtime/island/seccomp.rs Maybe this is helpful.

[2021-05-23 13:43] utam0k commented on #25
@JonathanBerhe
Of course! I welcome your challenges.
I assigned you for this issue.
If possible, it would be helpful if you could keep the following points in mind
- Try not to make the build process too complicated or wrapped(e.g. using build.rs).
- Minimize rework by breaking the implementation into tiny PRs.

[2021-05-23 14:10] 0xdco commented on #9
I'm happy to take another controller if there is still any available :)

[2021-05-23 14:25] Furisto commented on #9
I have started with the blkio controller. Can you assign me @utam0k ?

[2021-05-23 14:42] utam0k commented on #9
@0xdco
Sorry, the blockio controller has already started by @Furisto. So, All of the controller issues have been filled.
Your PR is so great, why don't you try https://github.com/utam0k/youki/issues/24 or supporting cgroups v2 instead, which is a bit of a challenge?
If you want to make it a little less difficult, you can make it so that other integration tests will pass.
For example, you can chall

[2021-05-23 14:42] utam0k commented on #9
@Furisto Ok, I assigned it to you.

[2021-05-23 14:52] utam0k opened #27 "[Tracking Issue] Pass command line interfaces tests"
This issue is for tracking PR to pass the command line integration test.
If you are interested, you can comment on this issue and I will assign it to you. This issue is for tracking PR to pass the command line integration test. Some of them may already pass the tests.

- [ ] create(assigned @0xdco)
https://github.com/opencontainers/runtime-tools/tree/master/validation/create
- [ ] kill
https://git

[2021-05-23 16:17] 0xdco commented on #9
All fine! I'll start with #27 to keep me busy just right now. I'm really interested in cgroups v2, and it is indeed more challenging (I'll review the doc this week), so it would be nice to have a tracking issue for cgroups v2 implementation so that we can discuss the implementation details and track it.

[2021-05-23 16:18] 0xdco commented on #27
@utam0k, I'll take `create`.

[2021-05-23 19:21] fabjan commented on #27
@utam0k all the tasks described (except create) link to https://github.com/opencontainers/runtime-tools/tree/master/validation/kill

[2021-05-24 04:38] #11 closed

[2021-05-24 04:38] utam0k commented on #11
@cr0ax Thanks!

[2021-05-24 09:30] JonathanBerhe commented on #25
Many thanks for the input!

[2021-05-24 12:14] utam0k commented on #27
@0xdco Sure, I assigned it to you.

[2021-05-24 12:16] utam0k commented on #27
Ops, I fixed them. Thanks for pointing that out!

[2021-05-24 12:22] utam0k opened #32 "Support for cgroups v2"
I am looking into supporting cgroups v2.
However, I'm not an expert, so I'm looking for what I need, useful documentation, design suggestions, etc.
Also, if anyone would like to challenge me, I welcome you to challenge me with me.

# References
- opencontainers/runc#654
- https://www.youtube.com/watch?v=P6Xnm0IhiSo&list=WL&index=58
- https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v2.htm

[2021-05-24 12:27] fabjan commented on #27
NP! I was actually checking the issues out to see if there was something I could maybe help out with but it seems to me that working on things like this without Linux is not the way to go.

[2021-05-24 12:36] utam0k commented on #27
Thanks for your interest. You can develop by using the devcontainer.
However, I haven't used it recently, so it may take a while to build if it's not well maintained.  If you want, you can challenge it.

[2021-05-24 13:16] utam0k opened #33 "Extract spec.rs as a crate"
The [spec.rs](https://github.com/utam0k/youki/blob/92fa6bbda72137f0262283c5c8bd5c57c4dac5c4/src/spec.rs) that reads the oci-spec specification is a general-purpose code that can be used not only in this project.
Therefore, I would like to extract and provide it as a separate crate from youki in this repository.
Ideally, the youki itself should use the crate.
If anyone is interested in this, I woul

[2021-05-24 15:08] Furisto commented on #32
Sure, would be happy to help. How do you want to proceed @utam0k ? I thought about getting through the references and then attempting a spike of the cgroup v2 manager.

[2021-05-24 15:23] utam0k commented on #32
@Furisto
It is a very good idea as a first step. I think an eventual implementation like the crun about it would be nice.
https://github.com/containers/crun/blob/master/crun.1.md#cgroup-v2

I'd love to hear other people's opinions as well as mine, so please let me know what you think.
If you are interested, you can try to implement a cgroups v2 manager?

[2021-05-24 20:21] stappersg commented on #24
If I understand correct  opens `podman` the path to _IPv6_ support.

[2021-05-24 20:21] stappersg commented on #10
IPv6 support. See also #24

[2021-05-24 23:37] utam0k commented on #24
@stappersg
Thank you for your valuable information! I don't understand much about it yet, but what kind of implemental do you need to accomplish this?

[2021-05-25 01:39] tsturzl commented on #24
Has anyone tried dropping Youki into Podman as a runtime? I've only used Podman a handful of times, but I don't believe there is a whole lot different from docker. It seems like a good starting off point would be to see if how they work together.

[2021-05-25 01:45] tsturzl commented on #24
@stappersg I'm actually working on the network cgroup controller right now. So far as I can tell the network subsystem of cgroups doesn't really seem to be concerned with the transport layer you're mostly configuring the priority of each interface irrespective to the IP layer. So I wouldn't assume anything special needs to be done to support IPv6, but I could be wrong.

[2021-05-25 01:47] utam0k commented on #24
I've rarely tried the podman, and when I tried it this past weekend, it seemed to lack support for some of the arguments passing to the youki.
I haven't looked deeper into the details yet.

[2021-05-25 01:51] utam0k commented on #24
Unlike docker, the podman allows you to specify a container runtime when creating a container, which is useful when using container runtimes other than the runc. For this reason, I think it is good to support it as much as possible.

[2021-05-25 06:10] stappersg commented on #24
Elaborating my humble

I do like the idea of an OCI runtime implemented in Rust.
Please do things different (and possible better) as Docker. One such thing is supporting _IPv6_.

My websearch on _"Podman IPv6"_ learnt me that it would make sense to tell about a possible road to success on _IPv6_ support in `youki`.

[2021-05-25 06:30] utam0k commented on #24
@stappersg
Thanks for the advice! Let me clarify the situation a bit.
It is the same container layer software as youki and runc. This means that youki is the software used by Docker, and podman is software in the same layer as Docker. This issue tries to support podman.
Is it correct that if youki will support podman, then podman has IPv6 support and therefore youki has IPv6 support?

[2021-05-25 08:53] flxo commented on #25
The crucial point is the mapping of syscall names to numbers. You have two options: A static to maintain list or the very very messy `build.rs` thing we do. If I would have to decide again I'd go for the list. Syscall number never change.

[2021-05-25 08:56] utam0k commented on #25
@flxo
Thanks for the advice! I too am wondering what to do in this area rather than implement.

[2021-05-25 10:01] Furisto commented on #32
Progress can be seen here: https://github.com/Furisto/youki/tree/cgroupv2. I am currently fleshing out the cgroups v2 manager and 1-2 subsystems.

[2021-05-25 11:58] utam0k commented on #32
@Furisto
I took a look at your commit. As a first step it was exactly what I imagined. I think it's a good policy.
Can I assign this problem to you?
If it looks like it needs to be handled by a variety of controllers, I think it would be a good idea to provide an example like in v1 to give others a chance to try.

[2021-05-25 14:15] Furisto commented on #32
@utam0k
You can assign it to me. Yes, the idea is to do the first one or two myself and then the rest can be done by other people.

[2021-05-25 20:41] tsturzl commented on #17
I'll probably be building out some kind of profiling and benchmarking on this to see what kind of improvements this feature brings. I've got a lot of the initial work done for making the manager async. I need to do some work to get the unit tests working again. Hoping to have the integration tests running on this by tonight.

[2021-05-25 20:42] tsturzl commented on #8
I can take the device cgroup controller testing. I'll just implement the same tests I had done on the other controllers.

[2021-05-25 20:47] tsturzl commented on #10
Should Youki come up with some kind of central objectives or further out design goals? Perhaps it's too soon to tell, but some easier objectives could be just an emphasis on safety and speed. Eventually it might be nice to have some kind of goal beyond just having a workable runtime, since it seems like we're surprisingly close to having a totally functional runtime. Something to think about and d

[2021-05-26 00:38] utam0k commented on #10
@tsturzl
I think it's a great time to think about some big final goals.
When I first started making it, I started with the same thoughts as those in the railcar release blog. So basically, I think there is a big point in implementing it in Rust, just as there is in the linux kernel. It's a big advantage that Rust can break through the linguistic difficulties of Go and C, which are the current typi

[2021-05-26 00:44] utam0k commented on #17
I was trying it out at my local computer, and I am very aware that cgroups is making things run slower than before.
Therefore, I still think that improving performance by async/await will be quite an interesting challenge.
For benchmarking, here may be helpful.
https://github.com/TaKO8Ki/frum/pull/16

[2021-05-26 00:45] utam0k commented on #8
@tsturzl Ok! I assigned you.

[2021-05-26 01:17] utam0k commented on #10
As one major policy, we would like to consider a style of preparing resources that can be prepared in advance, instead of preparing resources at the time of container creation.
In particular, I would like to consider whether this can be done with cgroups.
I would like to consider if it is possible to prepare a sub-command for pre-preparation or prepare some resources at the time of initial creatio

[2021-05-26 04:50] utam0k commented on #10
@tsturzl For example, how about starting to create cgroups at the starting of the create command as a first step?

[2021-05-26 05:09] tsturzl commented on #10
@utam0k it could be interesting to make all of youki's IO operation async, and then we could possibly kick off cgroups and the rest of the startup concurrently. It's possible with async runtimes like tokio to do n:m threading, where blocking operations can be pushed off on another thread in a thread pool. The question for something like that is if thread startup defeats the purpose entirely, but I

[2021-05-26 05:45] utam0k commented on #10
@tsturzl
For now, I think it would be better to apply async/await in the current processing order, and then separate the steps of creating and applying cgroups.
I think the project in this issue will be an interesting development. If this can be achieved, I think it will be a great feature of youki.
https://github.com/utam0k/youki/issues/17

[2021-05-26 06:26] nimrodshn commented on #24
@utam0k It looks like `podman` is using [conmon](https://github.com/containers/conmon) to run the container runtime[1][2]

From what I understand it seems like _theortically_ it is suffices to make sure that `youki` can run on `conmon` ?

[1] https://github.com/containers/podman/blob/8f71881a63b5b5422efe523d10d360650ecf9c67/libpod/oci_conmon_linux.go#L73-L79
[2] https://github.com/containers/podma

[2021-05-26 06:31] utam0k commented on #24
@nimrodshn Thanks for your advice! hmm... I failed starting container by podman :_(
However, I feel that it is not that difficult to deal with.
[code]

[2021-05-26 06:34] nimrodshn commented on #24
@utam0k I agree. I will try as well locally.

BTW is there a slack channel for `youki`?

[2021-05-26 06:38] utam0k commented on #24
@nimrodshn
Thanks! Can you submit a PR or write a comment, If you notice something,

I haven't prepared it yet. I'm thinking about the communication place, but I don't think it's the right time yet. If you have any interesting ideas or questions, please feel free to use the issue.
If you have any interesting ideas or questions, please feel free to use this issue in particular.
https://github.com/u

[2021-05-26 06:41] utam0k commented on #24
@nimrodshn
If you are interested, I can assign this issue to you, would you like to try? Of course I'll help you if you need anything.

[2021-05-26 06:41] nimrodshn commented on #24
@utam0k
For me `ps` works out of the box:
[code]

[2021-05-26 06:43] nimrodshn commented on #24
Ah but I see the same error on `podman run`:

[code]

[2021-05-26 06:44] nimrodshn commented on #24
@utam0k Yeah sure I can try and hack at it :crossed_fingers:

[2021-05-26 06:50] utam0k commented on #24
@nimrodshn i'm looking forward your PR! i assigned this issue to you.

[2021-05-26 17:01] tsturzl opened #39 "Multisystem testing"
The integration tests can pass or fail depending on the system it's actually running on, one example of this is the network cgroups. On some systems the network cgroups mount into 2 different directories "net_prio" and "net_cls", on others they mount into one directory "net_cls,net_prio" or "net_prio,net_cls". I'd assume this is probably specific to how distributions are setup. So it might be wort

[2021-05-27 00:33] utam0k commented on #32
@Furisto cc: @tsturzl
I decided to make cgroups v2 support a key feature for the first release of youki.
I'm looking forward to it.

[2021-05-27 06:35] utam0k commented on #14
@YJDoc2
I'd like to invite you to join this repository in a little while, with you in charge of maintaining the documentation. Maybe I'll ask for other ranges as well.
If you're up to the challenge, I'd love to work with you.

[2021-05-27 19:46] Furisto commented on #32
@utam0k @tsturzl
I am planning to have a PR ready the day after tomorrow

[2021-05-27 23:41] utam0k commented on #32
@Furisto Wow! I am amazed at how fast you work.

[2021-05-28 01:26] #33 closed

[2021-05-28 08:19] YJDoc2 commented on #14
Hey, I think it'd be better if you see more of my commits/PRs and then decide, I have made only 1 PR till now :sweat_smile:
But I would like to work on this for sure. Thank for giving the chance , I am getting to learn a lot about containers and Linux by doing this :)

[2021-05-28 08:25] YJDoc2 commented on #14
I had a question about the code, in load_console_socket, what is exactly the console part? I understood the socket for the tty from given socket path; but in second half of function, fcntl open call is given only "console", what is it meant to open? I tried it in C, but it always returned -1.

If possible can you comment and give outerview for the spec file? I tried to go through it and understand

[2021-05-29 05:01] utam0k opened #44 "First release blog"
Write an article for the first release of youki.

[2021-05-31 00:43] utam0k opened #51 "fix unstable ci test"
e.g. https://github.com/utam0k/youki/runs/2706688448

[2021-05-31 23:24] utam0k commented on #51
This issue may be caused by UDS.
https://github.com/utam0k/youki/runs/2714118427

[2021-06-01 15:23] utam0k commented on #32
@tsturzl
Thanks for your hard work in supporting v2. It was very nice work!

BTW, I'd like to talk to you about how to proceed with v2 support for each subsystem.
I think it is better to proceed with the project in the same way as https://github.com/utam0k/youki/issues/9.
What do you think about it?

[2021-06-01 22:53] Furisto commented on #32
@utam0k
I think it is a good idea. I am investigating one open issue, once that is solved we can split up the work for the different subsystems. The issue is that the cgroup manager gets the pid of youki and not of the container process. If i do this

`sudo docker run -d --rm -m 30m  --runtime youki progrium/stress --cpu 2 `

then the process tree looks like this:

[code]
The cgroup manager gets p

[2021-06-02 00:14] utam0k commented on #32
@Furisto
Maybe applying cmanager in` fork_init()` instead of `fork_first()` will fix it.
https://github.com/utam0k/youki/blob/52b9a15d5168b590770d5aa79f9cebdee04d7604/src/process/fork.rs#L56

The flow in this image is old, and some of it may be wrong, but it's about right.
![image](https://user-images.githubusercontent.com/13010913/120404928-699d1880-c382-11eb-9b5d-02642f4b38d9.png)

[2021-06-02 09:30] utam0k opened #56 "impl: original integration test."
Youki is currently using the integration tests from rutime-tools, but there are some areas where this isn't sufficient (e.g. cgv2), so we will implement our own.

[2021-06-02 09:32] minakawa-daiki commented on #56
@utam0k I'd like to try it.

[2021-06-02 09:32] utam0k commented on #56
Sure! I assigned you to it. I'm looking forward your PR.

[2021-06-02 09:48] utam0k commented on #51
I'll try to implement pipe insted of using unix domain socket.

[2021-06-03 08:52] nimrodshn commented on #24
@utam0k  With you're permission - I have created a slack channel for `youki`; https://join.slack.com/t/youki-group/shared_invite/zt-r7n7tnfn-Xv2uWSz312OAiPXnlmvbOA

[2021-06-03 08:59] utam0k commented on #24
@nimrodshn Thanks! I just felt that it was time for youki to have a place where we could communicate lightly.
However, in OSS cases like this, I find Discord to be preferable. What do you think about it?
Also, can I ask you to help me run a Discord or Slack community?

[2021-06-03 09:05] Furisto commented on #9
@utam0k
I can take over the cpu controller

[2021-06-03 09:08] utam0k commented on #9
@Furisto Thanks! Sure, I assigned it to you.

[2021-06-03 09:16] nimrodshn commented on #24
Yes of course, I haven't used Discord but am happy to try it out - let me create a Discord channel.

[2021-06-03 09:25] utam0k commented on #24
@nimrodshn It's not so different from slack, so I don't think you'll have that much trouble. I would love to have you do this for me.

[2021-06-03 09:30] nimrodshn commented on #24
@utam0k here you go: https://discord.gg/ZnMEPfY2

[2021-06-04 10:32] utam0k opened #60 "change links as owner changes."
Youki changed the owner from `utam0k` to `containers`.
The link needs to be changed accordingly.

[2021-06-04 13:05] JonathanBerhe commented on #25
@utam0k Hi, I'll show you the progress in the next days. I choose to map sys calls to the relative number of each architecture without a complex build system in build.rs

[2021-06-04 13:09] utam0k commented on #25
@JonathanBerhe Copy that. Thank you for keeping me informed of your progress. I'll look forward to it :)

[2021-06-04 21:02] TomSweeneyRedHat opened #62 "Add CODE-OF-CONDUCT.md and SECURITY.md"
Please add a CODE-OF-CONDUCT.md and SECURITY.md to this project.  Feel free to cut/paste the ones from https://github.com/containers/buildah and then just touch up the project name within.  Also, please include a contact email in the README.md if possible so that we can send any security issues to it.

[2021-06-05 09:57] utam0k commented on #51
I found the solution for this issue. Youki needs to handle `ErrorKind::WouldBlock`.
https://github.com/jaemk/mini_http/blob/cb0301c92ebe1c2d6f284c877561bb1e92206b29/src/main.rs#L107

I will try fixing comming soon.

[2021-06-05 10:20] YJDoc2 commented on #14
Hey, what is the meaning of Cond and why is it named so? with respect to cond.rs

[2021-06-05 10:26] utam0k commented on #14
It is means `conductivity`. However, I will try to rename it more clearly. If you are ok, you will try to rename it.

[2021-06-05 11:30] YJDoc2 commented on #14
My suggestions would be :
- Pipe, which will be most clear to understand, but can cause confusion with mio::unix::pipe
- Channel, but I think there are std::sync::mpsc::channel, which can potentially cause confusion
- Connector , should be acceptable
- Tunnel, but I don't think it is particularly good
Let me know if you agree with any of these, I'll change it in my next PR

Also in parent.rs,

htt

[2021-06-05 11:52] utam0k commented on #14
@YJDoc2
I agree with it. In terms of Pipe, I don't think it will be that big of a problem since they both refer to the same thing. I'm going to do a major refactoring of cond and notify_socket.

This number is not significant. It is set to an appropriate timeout value.

If there is a timeout, the code will fail here, so this code will never actually be executed. So `unreachable!()` might be more a

[2021-06-05 13:01] YJDoc2 commented on #14
Ok, I'll leave them as they are in my current PR then.

can you tell me what is util::set_name is meant to do, as it is currently unimplemented. It is called only in fork.rs :
https://github.com/containers/youki/blob/main/src/process/fork.rs#L36
also what is rc-user supposed to signify?
Thanks.

[2021-06-05 13:38] utam0k commented on #14
Sorry, This code is unnecessary now.

https://github.com/containers/youki/blob/main/src/process/fork.rs#L36
also what is rc-user supposed to signify?

[2021-06-05 14:53] utam0k commented on #9
This issue was completed!
Special thanks @0xdco @reynn @tsturzl @Furisto

[2021-06-05 15:17] YJDoc2 commented on #14
Ok, I have removed that call in the PR #64 . Can you tell me for what it was originally intended for?

[2021-06-05 15:21] utam0k commented on #14
Nice work!

The original purpose was supposed to give names to init and child processes. This is a reference to railcar, but it shouldn't be necessary since it's not particularly necessary and the container name is set elsewhere.

[2021-06-06 03:06] tsturzl commented on #9
@utam0k @reynn Are we missing the CPU Accounting subsystem? Is this something we intended to support?

[2021-06-06 03:26] utam0k commented on #9
@tsturzl Is this https://github.com/containers/youki/pull/63?

[2021-06-06 03:56] tsturzl commented on #9
@utam0k You're right, they aren't present in the runtime-tools test suite, however I do see them implemented in runc. We do not implemented cpuacct, prefevent, or freezer which are all implemented by runc. I'm not sure how important or useful they are, or if they're worth including, I just noticed they were implemented in runc but we don't currently have them. It's easy enough to write new control

[2021-06-06 05:29] utam0k commented on #62
@TomSweeneyRedHat It would certainly be nice to have. Can I ask you to review the PR that I will make?

[2021-06-06 06:03] utam0k commented on #9
@tsturzl @Furisto  For example, in response to this, how about leaving it for first contributors? You two are very talented and probably know more than enough to deal with this. I'd love to have you guys around to review, what do you think?
Of course, if no one shows up in the immediate future to do it, we can all deal with it together.

[2021-06-06 09:26] Furisto commented on #9
@utam0k @tsturzl
The cpuset controller was implemented with #63. I think cpuacct and perf_event make sense to implement and basically only require to write the pid into the cgroup.procs file. Freezer I would only implement once we actually use it e.g. if we decide to implement the pause command.

[2021-06-06 23:47] #51 closed

[2021-06-07 14:00] utam0k commented on #9
@Furisto @tsturzl
I updated the description of this issue. Can you please check if it is correct?

[2021-06-07 14:25] TomSweeneyRedHat commented on #62
Certainly, I'd be happy to @utam0k !

[2021-06-07 14:28] utam0k commented on #62
@TomSweeneyRedHat
It's a big help! I have to work during the week so I can't get much time, but I will have the PR ready by this weekend.

[2021-06-07 15:33] jcgruenhage commented on #24
I know I'm no contributor and haven't interacted with you people at all so far, but as containers and rust are topics very near to my heart, this project hits just right. Seeing the communication for this project move from one silo (slack) to another one (discord) feels a bit meh, as there are FOSS alternatives available too. My suggestion (full disclosure: I used to be employed by the company beh

[2021-06-07 15:36] jcgruenhage commented on #24
Oh, and btw: If you need any help regarding setting up channels on matrix, hosting your own infra, managing or moderating the channels or anything else related, I'd be happy to help.

[2021-06-07 15:42] ShadowJonathan commented on #24
One thing i think was forgotten to mention; With matrix it's possible to "bridge" channels/rooms together from one platform to another, so even if a decision cant be reached between full-matrix or full-discord, it is possible to make compromise by still merging both communities together.

[2021-06-07 21:19] tsturzl commented on #9
@utam0k This looks good. I'm not seeing any missing subsystems that I'm aware of.

[2021-06-07 23:34] utam0k commented on #24
@jcgruenhage @ShadowJonathan
Thank you for your input. I am not familiar with the communication tools in this area, so I didn't think about it particularly deeply.
This is a bit far from the topic of this issue, so I would be happy to discuss it here.
https://github.com/containers/youki/issues/10
As the author of youki, one of my opinions is that I would prefer to have basic discussions in an open

[2021-06-08 11:55] Furisto commented on #9
@utam0k Fine from my site as well

[2021-06-08 15:06] YJDoc2 commented on #14
I was documenting linux.rs, and in
https://github.com/containers/youki/blob/main/src/command/linux.rs#L36
I am not sure how this works and passes test, as in the manpage for pivot_root
https://man7.org/linux/man-pages/man2/pivot_root.2.html
it is stated that put_old must be underneath new_root, but here we are giving same path for both.

[2021-06-09 01:24] TinySong commented on #60
already fix by https://github.com/containers/youki/pull/61

[2021-06-09 02:04] TinySong commented on #27
@utam0k i would like take `start`, may be will take some time to fix this

[2021-06-09 02:39] utam0k commented on #14
@YJDoc2
This code is very relative to `prepare_rootfs`.
https://github.com/containers/youki/blob/d72ffa5d6f90a6af92da2bf6e51d36b114329e3f/src/rootfs.rs#L33-L42
And,

It works fine that both arguments of pivot_root are the same directory. This is because mount points are stacked.
See the `NOTES` section of this page for more details.
https://manpages.ubuntu.com/manpages/hirsute/man2/pivot_root.2.ht

[2021-06-09 11:35] utam0k commented on #27
@TinySong Thanks for your interest. I assigned `start` to you. I'm looking forward to your PR :)

[2021-06-09 11:36] #60 closed

[2021-06-09 12:04] utam0k commented on #32
@Furisto Hi! I think the problem mentioned above was solved by https://github.com/containers/youki/pull/69. So Can I create a tracking issue to implement some subsystems for cgv2?

[2021-06-09 12:06] Furisto commented on #32
@utam0k Yes, you can!

[2021-06-09 13:52] utam0k opened #77 "Support for rootless container"
I don't know anything about rootless container yet. I'd like to use this issue to gather references and think about the design. I'm also looking for people to challenge this.

# References
- https://github.com/opencontainers/runc/blob/master/rootless_linux.go
- https://rootlesscontaine.rs/
- https://docs.docker.com/engine/security/rootless/

[2021-06-09 14:04] utam0k opened #78 "[Tracking Issue] Support for cgroups v2"
This issue is for tracking the implementation of [cgroups v2](https://www.kernel.org/doc/Documentation/cgroup-v2.txt).
Since cpu and cpuset of cgoups has already been implemented, you can implement it while referring to it.
If you are interested, you can comment on this issue and I will assign it to you.

- [x] cpu https://github.com/containers/youki/pull/48
- [x] cpuset https://github.com/contain

[2021-06-09 14:06] utam0k commented on #32
I created https://github.com/containers/youki/issues/78.
Let's continue with cgv2 support in this issue!

[2021-06-09 14:07] utam0k commented on #32
Special thanks to @Furisto

[2021-06-09 14:07] #32 closed

[2021-06-09 14:33] Furisto commented on #78
Note: Devices will be more challenging to implement than the other ones because there is no support from cgroups yet. This requires an ebpf based solution.

[2021-06-09 14:35] Furisto commented on #77
I am interested in looking into this.

[2021-06-09 14:40] utam0k commented on #77
@Furisto
I will assign you to this issue.
However, I don't know how big this issue will be. Where would you like to start? You can start with the implementation, but I don't know yet if youki have what it takes to implement it.

[2021-06-09 17:27] Furisto commented on #77
@utam0k
We will need to delegate the creation of the cgroups to systemd. That effort is luckily already underway. We also need to use user namespaces and uid and guidmaps to map the root user to a non root user on the host. I need to read up on the details.

[2021-06-10 08:41] duduainankai commented on #27
@utam0k I would like to have a try on `delete` if you don't mind. And it seems that `state` and `kill` already pass the test.

[2021-06-10 08:41] TinySong commented on #27
@utam0k
there have some problem and don't know how to deal with
 according to [GitHub Actions file ](https://github.com/utam0k/youki/blob/main/.github/workflows/main.yml), we use integration_test.sh to integrate test， the script just run runtime-tools to command-line test. but according to the status of the project https://github.com/opencontainers/runtime-tools, the project looks like it hasn't b

[2021-06-10 08:47] TinySong commented on #27
@duduainankai
It seems  like that above all command-line can pass except `start`
can test by this command:
`sudo RUST_BACKTRACE=1 YOUKI_LOG_LEVEL=debug RUNTIME=/home/ubuntu/development/rust/youki/target/x86_64-unknown-linux-gnu/debug/youki ./validation/create/create.t`

[2021-06-10 09:01] TinySong commented on #8
@utam0k I would like to take ` src/create.rs` or `src/namespaces` tests

[2021-06-10 10:17] PeterYordanov commented on #14
@utam0k

I know you said it's outdated, but I converted your sequence diagram into a PlantUML script that we can embed into the README.
If you want to have this in the README as code that we can update as the project evolves, let me know so that I can create a PR:

`
@startuml

box User Space #LightBlue
    actor       User                     as youki_user
    participant Docker

[2021-06-10 10:31] utam0k commented on #14
@PeterYordanov Thanks for the great suggestion! The image is easier to understand.
I think with images there is less flexibility for changes than with text-based. Also, documentation is one of those areas that people tend to forget to change. I don't think it should be too difficult to change.
If you can address this issue, I'd love to use it.
I would also like to hear @YJDoc2's opinion.

[2021-06-10 10:42] utam0k commented on #14
Perhaps this doesn't need to generate an image for each change?

[2021-06-10 10:51] PeterYordanov commented on #14
I'm not sure what your concern is.
Initially, I thought of using Github's own diagrams, but they were too basic and didn't offer enough. PlantUML covers whatever we need for sequence diagrams and more.

To generate the image above, I personally used [PlantUML  Editor](https://plantuml-editor.kkeisuke.com/), but [Planttext](https://www.planttext.com/) and other online editors do the job well enough

[2021-06-10 11:10] utam0k commented on #14
@PeterYordanov
In general, I think that representing UML with images makes it easier to understand. However, it is a bit more complicated to edit than a text-only representation. I think this is something to be concerned about.
I think there is a trade-off here between clarity and ease of editing.
For example, if I could only just write the following markdown to display UML images, I'd be happy to

[2021-06-10 11:32] PeterYordanov commented on #14
I don't think you understand where I'm getting at. This is not a text-only representation. The tediousness doesn't go up, it's 5 steps forward and 1 step back.

I think it would be best explained with a hypothetical scenario, consider this:
- A new contributor comes in, wants to make a change to the diagram
- In the CONTRIBUTING.md, we can have separate sections for code and documentation contribu

[2021-06-10 12:15] utam0k commented on #14
@PeterYordanov
Thanks for the clear explanation!
I am concerned that the following two steps will raise the hassle of editing the image. If it's just text, this step shouldn't be necessary. I'm a little concerned that this hassle will prevent the images from being updated.

However, considering the benefits of using images to add color and clarity, I think it's a good policy to adopt.
For example,

[2021-06-10 12:26] utam0k commented on #14
I found this to be very useful in this case. It's a good way to create a PR instead of a commit at the end.
https://github.com/cloudbees/plantuml-github-action
https://github.com/marketplace/actions/create-pull-request

[2021-06-10 12:39] PeterYordanov commented on #14
Yeah, agreed, the process should be more automated, so that it eliminates the only flaw right now. I haven't done the research on how, but I'm glad you did. I can take this as a task if everyone else is busy on other things.

[2021-06-10 12:43] YJDoc2 commented on #14
Hey, @PeterYordanov , thanks for making the UML diagram, I agree with you that the complex operations can be understood quite effectively with diagrams so the extra steps that might be needed are worth the hassle. However I also agree with @utam0k 's point that it would be slightly tedious to make the updates require change the text as well as image representation, and it would be better to have s

[2021-06-10 13:00] utam0k commented on #8
@TinySong Thanks for your interest!
I'd love to have you do the `create.rs`, but it might be a bit challenging. If you have the time and seem to be quite interested, I'd like to ask you to do `create.rs`. This will be the core youki file.

[2021-06-10 13:08] utam0k commented on #27
@TinySong runtime-tools is certainly not very active in maintenance.
So I'm thinking of creating an originan integration test.
However, this will take quite some time to complete. So until then, I will use runtime-tools.
https://github.com/containers/youki/issues/56

If the tests that are failing still fail when using runc, then give up on this test case.

[2021-06-10 13:10] utam0k commented on #27
Sure! I assigned you it. For kill and state, can I ask you to give me a PR just to add the test cases?

[2021-06-10 14:08] utam0k commented on #77
@Furisto
This is https://github.com/containers/youki/pull/46, isn't it?

I'm willing to start where you can start implementing outside of this PR, but do you want to start a challenge.

[2021-06-10 14:19] PeterYordanov commented on #14
@YJDoc2 @utam0k
My personal projects are on Gitlab, where I've used mermaid extensively to document and didn't know they provided sequence diagrams too.

Now, I'm no Markdown expert, but maybe someone can step in and fill in missing/incorrect information.

What if we integrate HTML into the README, where we can then import mermaid.js, like this:
https://mermaid-js.github.io/mermaid/#/n00b-gettingS

[2021-06-10 14:27] utam0k commented on #14
@PeterYordanov
I think it would be nice if it could be done. I don't know if this is possible, as I also am not a Markdown expert.
If you try and succeed, I would be happy to adopt it.

https://mermaid-js.github.io/mermaid/#/n00b-gettingStarted?id=_4-adding-mermaid-as-a-dependency

[2021-06-10 14:43] YJDoc2 commented on #14
mermaid js officially indicates that it can be integrated with github (https://mermaid-js.github.io/mermaid/#/./integrations) using either :
- https://github.com/SimonKenyonShepard/mermaidjs-github-svg-generator
- https://github.com/neenjaw/compile-mermaid-markdown-action
The first one will required developers to have node installed on their system, as well as run the command every time with chang

[2021-06-10 15:47] TinySong commented on #27
@utam0k Yeah,I think we can give up the ‘start’ integration test case , testing runc throw out  the same error.

[2021-06-10 16:41] TinySong commented on #8
@utam0k yeah, I love to take that. If i encounter difficulties, I will ask you again，thanks

[2021-06-10 18:26] tsturzl commented on #17
I'm going to reattempt this. I found out that the actual implementation of almost all async runtimes for handling file operations is to just move file IO off into a thread pool. I naively assumed it chose between different kernel APIs depending on the build targets. I think in our case this isn't awesome. The cost of starting a threadpool diminishes and possibly outright negates the potential perf

[2021-06-10 21:16] PeterYordanov commented on #14
Well, we can technically have both.

A simple website that displays a very general, high-level overview explaining what the project is about and simple tutorials/user guide, how to set it up etc.. Then an md book to supplement it with more detailed explanations on how the runtime works on a lower level.

You might think that having both isn't needed, as there's already README, but we're putting wa

[2021-06-10 21:18] Furisto commented on #77
@utam0k Yes, correct.

[2021-06-10 23:46] utam0k commented on #77
@Furisto
I'm willing to start where you can start implementing outside of this PR. Do you want to start a challenge?

[2021-06-11 02:57] duduainankai commented on #27
Sure.

And I think @TinySong is right, all test cases except `start` pass the test already.

I think we may add them all.

![image](https://user-images.githubusercontent.com/9639449/121624070-6cdf8500-caa3-11eb-91cb-09dc400d4c4a.png)

[2021-06-11 05:58] YJDoc2 opened #82 "Refactor Cond.rs"
As discussed in #14 , we can rename cond to pipe as it is more understandable. If you won't mind, I would like to refactor it and its occurrences. Reason to open new issue is that it is more than just documentation, so didn't want to add it in #14. you're fine with it, assign me this issue.
Another good reason to do this, as the module comment for it indicates it is a
[code]
but it is actually rel

[2021-06-11 07:02] utam0k commented on #82
@YJDoc2 I also thought that this refactoring was necessary.
I thought that I could make good use of `Read` Trait and `Write` Trait.
I hope you will give it a try.

[2021-06-11 08:16] utam0k commented on #12
@raravena80
I'm sorry for the late reply. I contacted you via email. Please look at it.

[2021-06-11 10:20] YJDoc2 commented on #82
Hey I was trying to run integration tests before I make any changes, but I am running into some issues :
Initially I could not run the test because of some issues with go :
https://github.com/opencontainers/runtime-tools/issues/718 and
https://github.com/golang/go/issues/30868

after solving those, Now I am having problem, where there are errors while running tests :
[code]
and then several no suc

[2021-06-11 10:25] utam0k commented on #82
@YJDoc2
It is possible that the environment is causing the failure.
We are considering testing this to handle a variety of environments.
https://github.com/containers/youki/issues/39

[2021-06-11 10:31] YJDoc2 commented on #82
That could be one reason, but I am running Ubuntu 20.04 LTS, same distro as used to run the github action tests, so it should work the same, as action on a PR seem to pass

[2021-06-11 10:38] utam0k commented on #27
@TinySong Thanks for checking the runc case. hmm... Since I have no choice, can I ask you to write down in integration_test.sh that the test does not pass even with runc?

[2021-06-11 10:56] utam0k commented on #27
Thank you for your research. Now, I would like to close this issue by stating that only `start` does not pass the test.

[2021-06-11 11:34] utam0k commented on #10
@tsturzl
Hi!  I found `clone(3)` system call. This is a very interesting feature for cgroups and I would love to use it.
I'd like to hear your opinions and level of interest.
https://www.phoronix.com/scan.php?page=news_item&px=Linux-5.7-clone3-new-cgroup

[2021-06-11 11:36] utam0k commented on #8
@TinySong Sure. I assigned you to `create.rs`.

[2021-06-11 11:45] utam0k commented on #17
@tsturzl
I didn't understand much about it because I don't know much about it yet, but I basically agree with you.
However, I thought that 5.1 is too up-to-date and if possible, it would be better to change the behavior depending on the version.
However, I think it is an interesting challenge to use the most advanced features of the linux kernel, which no other container runtime uses.

[2021-06-11 13:01] Furisto commented on #77
@utam0k Yeah, I am planning to work on the necessary adaptations for the create command this weekend.

[2021-06-11 16:30] tsturzl commented on #10
@utam0k This seems really useful! I'm under the impression that youki forks itself twice current, once to essentially create the namespace and another to act as the init process and handle some of the container startup. I'm not fully read up on how this is all done, but it seems like this could potentially save us from forking out the child process and only forking out the init process. Am I corre

[2021-06-11 16:42] YJDoc2 commented on #82
Hey, I checked it some more, and found out that
[code]
This was in fact expected, and not a failed test.
The memory test error :
[code]
Is due to the fact that the kernel I am using is not configured with swap limit capabilities, similar to this podman issue :
https://github.com/containers/podman/issues/6365
Rest of the issues might be due to the similar reasons, which I'll try to check

[2021-06-11 16:55] tsturzl commented on #10
Frankly the more I look at supporting async file operations the more lib_uring seems to be the better option. Currently mio support epoll, however in epoll alone doesn't provide the feature set needed to do async file operations. So currently mio, and thus tokio, doesn't support any means of doing async file IO. Linux has actually 2 different AIO implementations one that is referred to as POSIX AI

[2021-06-11 17:10] tsturzl commented on #10
Getting back to the topic though. We use either the nix crate to handle our forks, perhaps he can make a PR to the nix crate to support this there? The support already seems to be there in libc since libc is pretty much raw bindings to the system's libs.

[2021-06-12 00:56] utam0k commented on #10
@tsturzl
Fortunately, there is no demand yet to use youki with older kernels, so I want to support newer linux kernels as much as possible. Let's leave that to runc. How about targeting the widely used ubuntu20.04 as a standard here? That is the linux kernel 5.4.
io_uring has been around since 5.1, so let's use it aggressively.
clone3 is too up-to-date since it is from 5.7, but it seems to have a

[2021-06-12 01:00] utam0k commented on #10
@Furisto, please let me know if you have any thoughts on this.

[2021-06-12 01:56] tsturzl commented on #10
@utam0k I was actually going to suggest the same! Just track the kernel version of the latest Ubuntu LTS. I think tracking kernel improvements would be useful and a good angle for youki.

[2021-06-12 04:53] tsturzl commented on #10
@utam0k I've been hacking around with lib-uring tonight, and while I think I have a pretty clear path forward here I think working on it while we're trying to get cgroups finished up is going to be contentious and result in a lot of conflicts that I'll probably spend more time than I'd like resolving. I think my effort now might be best spent trying to push the ball forward on cgroups v2. I think

[2021-06-12 05:01] tsturzl commented on #17
Further development on this issue will be postponed and effectively blocked by work happening on the cgroups implementations #9  and #78.

Some details and notes on the desired implementation. I think the ring buffers should be setup in the manager and passed through into each controller, this will likely mean some changes to the controller trait. Additionally the opening of file handles will need

[2021-06-12 05:35] utam0k commented on #10
@tsturzl That's great!
Talk to him about joint work and try it.
However, I'm excited about this feature and can't wait to see it.

[2021-06-12 05:44] tsturzl commented on #78
I'd like to start on the memory controller.

[2021-06-12 09:55] YJDoc2 commented on #39
Hey @tsturzl , can you tell me what direction you have in mind for this? I was working on #82 and when trying to run tests, the cgroup memory limit tests failed, as the kernel I was using was not compiled with that option. But aside from just failing the test, I am now not much confident in making changes required for #82, as I cannot test on my local machine, I might introduce changes that might

[2021-06-12 12:02] flxo commented on #10
You can safe one `fork` by creating the namespaces directly when `cloning` the init process. See [clone(2)](https://man7.org/linux/man-pages/man2/clone.2.html). e.g `CLONE_NEWPID`. The corresponding flags are not exposed via `fork`. The advantage here is speed and just two processes instead of 3. I do the very same `clone`/`fork` thing [here](https://github.com/esrlabs/northstar/tree/master/norths

[2021-06-12 13:31] utam0k commented on #78
@tsturzl Sure. I assigned you it.

[2021-06-12 15:29] utam0k commented on #82
@YJDoc2 I tried it in the same environment as yours and it failed not only with youki but also with runc and crun for the same reason.
It seems that writing to `memory.memsw.limit_in_bytes` fails because the kernel `CONFIG_MEMCG_SWAP_ENABLED` is not set.

[2021-06-12 15:43] YJDoc2 commented on #82
Yes, I tried to run it with runc as well yesterday, and that's how I found out there was an issue with my system and not in youki. That is why I have asked in #39 about how we can create a better testing env so that we can reliably run integration tests, waiting for @tsturzl 's reply on that. I think till then I won't do heavy refactoring of this, apart from necessary name changes etc. as currentl

[2021-06-12 15:52] utam0k commented on #82
@YJDoc2
It is easy to ignore the error on the youki side and make it a warning, but I am not sure if youki should do that for this problem. I also looked at the specs, but didn't find anything like that.
To be honest, I think this is a runtime-tools problem. In other words, I think this is a problem that should be handled by CRI.
I apologize for the inconvenience. I'm implementing my youki's integ

[2021-06-12 16:09] utam0k commented on #17
@tsturzl Why not create a feature branch and work on it there?

[2021-06-12 16:51] YJDoc2 commented on #82
I think for short term we can do that, but for long term we will need to port all test into rust to merge them into cargo test, and then we can have self contained testing, but I think that will be complex, as well as we will need to keep up with changes in OCI runtime tools. I think opening an issue on OCI tools to see what they have to say on the issue of kernel configuration would be a good sta

[2021-06-12 17:26] tsturzl commented on #17
@utam0k I expect things to change quite a bit with cgroups, and that seems like it will be hard to resolve the conflicts between async and the baseline implementation. It wouldn't be able to merge in until most of the cgroup work is done anyway without disrupting other work in flight. I might decide to start before the cgroups are complete, but I'd feel like it's more worth the effort once cgroups

[2021-06-12 19:30] tsturzl commented on #39
@YJDoc2 I did get the base systems mostly setup with the exception of alpine Linux on my fork. Unfortunately I haven't had the time to finish this yet. I'm hoping maybe tomorrow evening I'll have some focus time for this.

[2021-06-12 22:57] Furisto commented on #10
@utam0k
I agree that we should try to make use of the latest kernel features. People that are interested in using youki over more established alternatives are likely to be early adopters in general, so maintaining compatibility with older kernels is less of an issue for us.

[2021-06-13 00:50] utam0k commented on #10
@flxo Thanks for the great information.
It seems to be very helpful. I'll take a closer look later.

[2021-06-13 00:56] utam0k commented on #10
I agree with this opinion.

@Furisto @tsturzl
youki should support Ubuntu LTS kernel version or higher.
When using io_uring, we should update the README as well.

[2021-06-13 01:00] utam0k commented on #82
@YJDoc2
I believe this will be a significant problem in the future, and @minakawa-daiki is now implementing it for us. I think it will take some time to implement, but we are on our way to a solution.

I agree that creating an issue is a good idea. Let's try it. However, since it is not within our control, we may not be able to expect much response.

[2021-06-13 05:37] YJDoc2 commented on #82
I was checking out their issues, and quite a few of them seem to be not responded by the repo. Still, I think it will be worth a try. How about about something along the lines of :
[code]
If you want, you can open the issue, otherwise I'd be happy to, let me know. Thanks

[2021-06-13 06:20] utam0k commented on #82
@YJDoc2
I thoud it would be better to add some examples .
If you don't want to make an issue, I can make one for you, what do you want?

[2021-06-13 08:31] nimrodshn commented on #10
@flxo @utam0k I agree with all the comments above, however for practical purposes I believe that they should be _tracked_ by an issue, with (that is; "Explore the use of `clone` to reduce the number of `forks` `youki` does in creating containers"). Same for the use of `io_uring`.

[2021-06-13 08:34] nimrodshn opened #87 "Explore the use of clone to reduce the number of forks youki does in creating containers"
With the release of `clone` as a new systemcall in kernel version 5.7^, we can now use it to hopefully reduce the number of forks `youki` does when creating a container (See [here](https://github.com/containers/youki/blob/main/src/create.rs#L140-L195)).

cc @utam0k @Furisto @flxo

[2021-06-13 08:36] nimrodshn commented on #10
I have created #87  in order to further track this effort.

[2021-06-13 08:38] utam0k commented on #87
5.7 is indeed too recent, so I think that when we support clone3, we should also support it to work with 5.4 at the same time.

[2021-06-13 10:20] thinking-tower commented on #9
@utam0k I'd like to work on perf_event!

[2021-06-13 10:28] utam0k commented on #9
@thinking-tower Sure, I assigned you it.

[2021-06-13 10:31] utam0k commented on #9
@thinking-tower There are no integration tests in this controller. So, I would like to add unit tests as much as possible. I'm looking forward to your PR :)

[2021-06-13 21:02] minakawa-daiki commented on #56
@utam0k

I would like to report that I was able to reproduce the container lifecycle of the tutorial on rust's `cargo test`, although it is still only in my repository.

And I have a few concerns that I would like to discuss with you.

- I'm planning to run the test by using `sudo` to run the binary generated by `cargo test --no-run`, but is that OK?
- I think the container created by `youki creat

[2021-06-13 21:23] Furisto commented on #77
Update: I can now create a container without being root and map root inside the container to a non root user on the host. I am still investigating problems with bind mounts and getting a shell into the container.

[2021-06-14 01:00] minakawa-daiki commented on #20
@utam0k May I remove the assignment because there may be someone else who wants to work on this issue?

[2021-06-14 03:14] tsturzl commented on #10
@nimrodshn Agreed! Exploring the use of clone should probably be broken out into a ticket, like the one you created. The use of io_uring is mostly just cross talk from #17. Both topics kind of just brought about the conversation on which kernel's we'll want to support. I think this ticket has long just been away to talk about ideas, but maybe it would be a good idea to move more discussion into di

[2021-06-14 05:42] utam0k commented on #10
@tsturzl @nimrodshn Discord is a bit on the closed side, so I'd like to keep the discussion as open as possible. I'd like to make major decisions in open and accessible areas such as issues. I would like to keep this issue for that purpose. If you have any questions about the details (e.g. can't build), please feel free to use the discord.

[2021-06-14 05:57] tsturzl commented on #87
What I got from @flxo's comment on #10, clone2 should give use benefits over the current fork strategy. I say we explore that first.

[2021-06-14 15:18] utam0k commented on #87
I have implemented it with the following considerations in mind.
https://github.com/opencontainers/runc/blob/93a01cd4d0b7a0f08abc36c2ebc85a0543b25647/libcontainer/nsenter/nsexec.c#L680-L725

But now youki may get the advantage by using `clone(2)`. I think this may be a challenge. This area has been well commented on by @YJDoc2 . If anyone wants to try it, I will support it.

[2021-06-14 19:24] Furisto commented on #87
Just a heads up, I am currently also making changes in this area, so please coordinate with me to avoid stepping on each others toes.

[2021-06-15 12:23] YJDoc2 commented on #82
Opened https://github.com/opencontainers/runtime-tools/issues/721 for this, sorry for the delay :sweat:

[2021-06-15 13:12] duduainankai commented on #9
I would like to have a try on freezer.

[2021-06-15 13:22] utam0k commented on #9
@duduainankai of course. I assigned you it.

[2021-06-16 07:59] yjuba commented on #9
I would like to work on cpuacct.

[2021-06-16 08:06] yjuba commented on #9
I overlooked this PR.
You can forget about my earlier comment.

https://github.com/containers/youki/pull/72

[2021-06-16 08:16] utam0k commented on #9
@yjuba Thank you for your interest. There is also a v2 with a similar challenge, what about that one?

[2021-06-16 08:26] yjuba commented on #9
@utam0k
Thank you for your replies.
I will try to work on cpuacct (v2).

[2021-06-16 08:27] Furisto commented on #9
Hey @yjuba, you can have cpuacct if you want it. @PeterYordanov unfortunately doesn't have the time to complete it anymore.

[2021-06-16 13:00] yjuba commented on #9
@Furisto
Thank you for your replies.
I will try to work on v1-cpuacct.

[2021-06-17 23:45] #62 closed

[2021-06-19 05:41] duduainankai commented on #78
I'd like to take freezer v2 too.

And if this finished, should we also add `pause` and `resume` command?

[2021-06-19 05:49] utam0k commented on #78
@duduainankai
Sure! I assinged you it.

The commands `pause` and `resume` are not described in oci-spec, so I don't understand these two commands. However, I think these two commands can be implemented by using `freezer`. If you are interested, why don't you try to implement these commands? Perhaps you can refer to runc.
I think @Furisto  knows more about this area.

[2021-06-19 05:57] duduainankai commented on #78
Yep, I already check in runc, it's implemented by using `freezer`.

[2021-06-19 06:00] utam0k opened #99 "Implement the commands `pause` and `resume`"

[2021-06-19 06:03] utam0k commented on #78
@duduainankai
I have created an issue regarding these commands. Could you please comment on the issue to assign you?
https://github.com/containers/youki/issues/99

[2021-06-19 06:04] duduainankai commented on #99
/assign

[2021-06-19 08:40] YJDoc2 commented on #56
Hey @minakawa-daiki ,sorry for delay in reply. If it is possible, can you try implementing the validation tests first? As once we have those, we can test the changes made on local system, currently the runtime-tools validation works in github action only, see discussion in #82 .

@utam0k can you take a look at the concerns?  I think it would be fine to allow root requirements for running the tests

[2021-06-19 08:50] utam0k commented on #56
@YJDoc2 Thanks for your mention.

[2021-06-19 08:52] utam0k commented on #56
I think it is inevitable that you will need root privileges. I agree with the assumption that root privileges are required, although it is possible that rootless could be used to get around this.

As for rootfs, why not mimic runtime-tools and zip it up and put it in the repository first?

The tutorial uses docker export $(docker create busybox) | tar -C rootfs -xvf - to create a rootfs, what shou

[2021-06-19 08:53] utam0k commented on #56
@YJDoc2 Sorry, he's actually a real friend of mine and I've been supporting him a lot on discord. Thank you for your attention.

[2021-06-19 08:56] utam0k commented on #20
@minakawa-daiki
I understand. Please challenge this again whenever you have time.

[2021-06-19 12:32] YJDoc2 commented on #56
Hey, I just thought that you missed the message, so I mentioned you :sweat_smile:  Also, if possible, let us keep updating main points in issues, even if they are discussed elsewhere, not only for open discussion, but so that we will have history of issues and reason behind implementation at a single place, and can be referenced easily if needed :smiley:

[2021-06-19 12:44] utam0k commented on #56
@YJDoc2 Of cource! I'll do my best to make it so.

[2021-06-19 16:09] Furisto commented on #20
@utam0k
I can take a look at this

[2021-06-19 16:11] utam0k commented on #20
@Furisto I'm looking forward to your PR.

[2021-06-20 14:29] constreference commented on #8
@utam0k I would like to take rootfs !

[2021-06-20 14:35] utam0k commented on #8
@constreference Of course. I'm looking forward to working with you.

[2021-06-20 18:20] Furisto opened #103 "Implement list command"
It would be nice to have an overview of all the containers created by youki and their current state.

[2021-06-23 07:07] duduainankai opened #106 "doc: systemd-dev should be systemd-devel"
![image](https://user-images.githubusercontent.com/9639449/123051157-0c9dfb00-d434-11eb-8bc6-dfb214fad7bc.png)

I tried on Fedora and Centos, I believe it should be `systemd-devel`

[2021-06-23 10:47] nimrodshn commented on #106
Thanks! I've created a fix this issue.

[2021-06-23 12:43] #106 closed

[2021-06-24 14:20] davidhay1969 opened #109 "Does youki require Huge TLB Pages ( hugetlb ) support ?"
I've built `youki` from [here](https://github.com/containers/youki) : -

`apt-get install -y pkg-config`

`apt-get install -y libsystemd-dev`

`apt-get install -y libdbus-glib-1-dev`

`cargo install cargo-when`

`git clone git@github.com:containers/youki.git`

`cd youki`

`./build.sh`

resulting in: -

`file youki`

[code]

`./youki --version`

[code]

I'm then packaging the binary into a Fedora 3

[2021-06-24 15:00] Furisto commented on #109
Youki currently expects that the hugetlb cgroup controller is available. I want to change this, so that we do not care what the system supports as long as we have enough to satisfy the request. I didn't have the time to implement this yet though. I am currently making changes in that area anyway, will ping you when it is done.

[2021-06-24 15:14] davidhay1969 commented on #109
Awesome, many thanks @Furisto happy to test as/when you're ready 🙇

[2021-06-24 21:21] #103 closed

[2021-06-28 02:32] darleybarreto commented on #10
Hi folks, great work so far! Have you considered [zbus](https://gitlab.freedesktop.org/dbus/zbus)  as an alternative to dbus bindings? I am not sure how feature complete it is, but I've found it recently whe  browsing random stuff.

Keep up the amazing work, be safe and take care!

[2021-06-28 05:35] nimrodshn commented on #10
Hey @darleybarreto !

Thanks for the lead! its precisely the part of the code I'm working on.. I will take a look and see if it fits better than [dbus](https://docs.rs/crate/dbus/0.9.2).

[2021-06-29 01:17] #109 closed

[2021-06-29 08:45] davidhay1969 commented on #109
@Furisto @utam0k thanks for the work undertaken here - to close the loop, I rebuilt `youki` from source, and added the updated binary into my Fedora VM ( I've since moved this up to a supported release of Fedora, namely `34` ) and was able to create a container from a bundle: -

`youki create davehay --bundle /tmp/fedora_bundle`

[code]

and confirm that the container had started: -

`youki list`

[2021-06-29 13:42] utam0k commented on #109
@davidhay1969 I just reviewed the PR provided by Furisto, thank you @Furisto.
Thank you Furisto. Also, providing the problem was very helpful. Thank you very much.

[2021-06-30 00:17] TinySong commented on #78
I'd like to start on the pid controller.
/assgin pid

[2021-06-30 01:32] tsturzl commented on #78
@TinySong thanks for your interest! I'll assign you.

[2021-07-01 01:51] utam0k opened #118 "Redesign create.rs"
The create.rs should be split up more, but I don't have a good idea how to split it up, so if you have any suggestions, please let me know.

# Ideas
- builder pattern(https://github.com/containers/youki/pull/117#issuecomment-871488278)
https://doc.rust-lang.org/1.0.0/style/ownership/builders.html

[2021-07-01 16:20] Furisto commented on #118
This is what the preliminary api looks like:

[code]

[2021-07-02 08:01] TinySong commented on #78
io controller /assgin
@utam0k

[2021-07-02 13:35] utam0k commented on #78
@TinySong Sure! I'll assign you.

[2021-07-03 01:28] utam0k commented on #13
@drahnr Hi! Do you have any problems? I don't want to rush you, but if there is anthing I can do to help you, I would be happy.

[2021-07-03 01:30] utam0k commented on #25
@JonathanBerhe Hi! Do you have any problems about it? I don't want to rush you, but if there is anything I can do to help you, I  would be happy.

[2021-07-03 05:49] drahnr commented on #13
It's been a incredibly busy month, I simply didn't get around to it

[2021-07-05 09:40] 0xdco commented on #78
Hi @utam0k

I could take `huge tlb`. You can assign it to me if it is still available.

[2021-07-05 10:31] JonathanBerhe commented on #25
@utam0k Hi, sorry for the late.
I was being pretty occupied with other projects. I'll open a PR asap this week with a dock that describes the solution. 👍

[2021-07-05 15:34] utam0k commented on #78
@0xdco Of course! I have assigned you.

[2021-07-06 07:29] utam0k commented on #25
@JonathanBerhe I understand. No problem at all. I was just wondering if I should wait for this or not since I'm thinking of doing the first release soon.

[2021-07-06 07:31] utam0k commented on #13
I understand. No problem at all. I was just wondering if I should wait for this or not since I'm thinking of doing the first release soon.

[2021-07-06 07:35] drahnr commented on #13
If you want to slate a release, go for it! My current plan is to tackle it within the next 3 weeks, but schedules tend to shift quickly

[2021-07-06 07:59] utam0k commented on #13
@drahnr Of course I don't mean to burden you. I was thinking of making some adjustments if you are almost ready. I hope you can process at your own pace, without being overwhelmed.
BTW, thanks to the help of many developers, the code and function have increased considerably since the beginning, so please take a look :)

[2021-07-06 08:06] drahnr commented on #13
Not a burden at all, just the finite amount of time

[2021-07-08 01:17] duduainankai opened #125 "Add code format check in CI."
cc @utam0k

[2021-07-08 01:19] duduainankai commented on #125
/assign

[2021-07-08 16:42] Furisto opened #126 "Investigate sporadic CI failures"
The CI fails sporadically during the kill command test when calling the start command with  "<containerId> could not be started because it was Stopped". I have not yet been able to reproduce this behavior locally.

This is the output of youki (with additional traces) when running the test successfully.

[code]

This is where we are checking the state.

[code]

It appears like the container process

[2021-07-10 06:28] utam0k commented on #14
@YJDoc2 Hello. Are you busy these days? I'm wondering if you are having any problems.

[2021-07-10 10:40] TinySong commented on #78
if the device controller no assigned, I would like to take the challenge to finish this.
@utam0k

[2021-07-10 10:45] utam0k commented on #78
@TinySong Sure! I am looking forward to your PR!

[2021-07-11 06:39] #118 closed

[2021-07-11 07:41] #125 closed

[2021-07-11 10:28] YJDoc2 commented on #14
Hey, sorry for no activity, I was a bit busy last few days :sweat_smile:
Now only few files in the src are remaining for commenting, files under src/*/ are mostly commented (such as container/builder etc). I will get working again on commenting on these files , so we can be done with the remaining ones. In the mean time can you suggest/decide which way should we create an overall developer documen

[2021-07-11 11:23] YJDoc2 commented on #14
Hey in capabilites.rs,
[code]
This is done, as caps cannot set bounding capabilities, so any extra than in spec are dropped. But I think this should be moved to the implementation of set_capabilities in linux.rs, and the code here should be as
[code]
My reason behind this is that setting capabilites is abstracted in Syscall structure, and separating the bounding capabilities in drop_privileges def

[2021-07-11 16:14] YJDoc2 opened #132 "Cgroups v2 freezer test randomly fails"
While running cargo test on main branch, cgroups v2 freezer test_set_freezer_state seems to fail randomly.
Curiously it seems some kind of race condition makes it fail? Because sometimes when running cargo test, it prints
[code]
and shows that test has failed, with a message
[code]
below result of all running tests,
sometimes it prints
[code]
but still stops running unit and doc tests, with error

[2021-07-11 16:16] YJDoc2 commented on #132
@duduainankai if possible, can you take a look?

[2021-07-12 00:03] utam0k commented on #14
I'm not trying to rush you. I was just wondering if there was any trouble. I can't help it if you're busy, so it's enough if you proceed at your own pace. I would be relieved if you could write the issue that you will be busy and inactive if you can afford it.

[2021-07-12 00:05] utam0k commented on #14
@YJDoc2 This is a nice idea. Of course, you can have it refactored

Let me know if I should refactor the above code along with commenting capabilities.rs

[2021-07-12 01:00] duduainankai commented on #132
@YJDoc2

Got, I will look into it ASAP.

Could you please give a link that test failed ?

[2021-07-12 03:24] duduainankai commented on #132
I do find a potential problem in test: I used a same tmp dir for frezzer files between two different tests and tests would run in parallel, so files maybe overwritten which makes test failed.

[2021-07-12 03:34] duduainankai commented on #132
And I found an interesting phenomenon: test failures info is not shown when do `cargo test` and if tests in `tty.rs` are commented it would show again.
Maybe it's a little annoying if we want to investigate tests failure reason in CI.

Failure test without commenting tests in `tty.rs`.
![image](https://user-images.githubusercontent.com/9639449/125227109-d6ea8480-e304-11eb-91e9-865f2ae397f0.png)

F

[2021-07-12 15:32] JonathanBerhe commented on #25
@utam0k I think that we need to spend some times on testing, since this is a security feature. If you think that we can release a first version without a seccomp implementation for me is ok

[2021-07-12 21:19] yihuaf commented on #87
Can I help to take look at this issue? My understanding is if we can enter user namespace and pid namespace together through a single `clone(2)`, the resulting process can then become the init process (YP -> YI, instead of creating YC). We currently have to fork twice because we need to fork once to enter into user namespace, and fork again to enter into the correct pid namespace. Is this understa

[2021-07-13 00:01] utam0k commented on #87
@yihuaf Thanks for your interest. Your understanding is correct. Would you like to take the challenge? However, I think we need to carefully explore whether the double fork had any security implications, and I'd like you to refer to the runc code and check that as well.
https://github.com/opencontainers/runc/blob/93a01cd4d0b7a0f08abc36c2ebc85a0543b25647/libcontainer/nsenter/nsexec.c#L680-L725

[2021-07-13 00:01] utam0k commented on #87
@Furisto  I'm assuming this is finished, is that correct?

[2021-07-13 00:13] yihuaf commented on #87
You can assign this to me then. I will keep the referenced `runc` code in mind.

[2021-07-13 12:56] utam0k commented on #132
@duduainankai Has this issue already been solved by #133 ?

[2021-07-13 12:57] utam0k commented on #87
@yihuaf I'll assign you. I'm looking forward to your PR :)

[2021-07-13 13:01] duduainankai commented on #132
@utam0k Yep, I think it's solved.

But I think you take a look on https://github.com/containers/youki/issues/132#issuecomment-877943552 .

Maybe we should find a way to solve this (something like separate tests in tty.rs or a more elegant way)

[2021-07-13 14:15] YJDoc2 commented on #14
In the logger module, we set the default log level as :
[code]
Should we change the Warn level to Debug level instead if we are running in debug mode using cfg assertion? As when running debug mode, or running tests, we will always get all the logs possible, and we don't have to explicitly set the level evn var

[2021-07-14 13:50] utam0k commented on #14
@YJDoc2 I forgot I was going to do your suggestion. Could you create a PR?

[2021-07-16 12:22] humancalico opened #140 "implementation of masked paths"
ref: https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#masked-paths

[2021-07-17 17:47] Furisto opened #142 "Support checkpoint and restore"
[Checkpoint](https://github.com/opencontainers/runc/blob/master/man/runc-checkpoint.8.md) and [restore](https://github.com/opencontainers/runc/blob/master/man/runc-restore.8.md) is supported by runc. We should also support these operations. There does not seem to be a crate that allows interacting with [criu](https://criu.org/Main_Page), so we probably have to write it ourselves.  If anyone has mo

[2021-07-18 06:53] #20 closed

[2021-07-18 16:37] #99 closed

[2021-07-19 03:39] duduainankai commented on #142
Is there any thing I can help ?

[2021-07-19 05:16] tsturzl commented on #78
@TinySong @utam0k it might be worth starting a discussion over how the device controller is going to manage eBPF. I don't have any experience with it, but as far as I know eBPF is an actual program that needs to compile to eBPF bytecode for the kernel to JIT compile. I think there are probably a couple of ways to approach this. Surface level search shows rbpf and redbpf are common libraries in Rus

[2021-07-19 13:35] utam0k commented on #142
@Furisto Have you started implementing this yet?

[2021-07-19 14:07] utam0k commented on #78
@tsturzl Thanks for the advice. I'm sorry, I didn't understand this issue very well. I am ignorant in this area, so can I leave it to you, the trustworthy one?

[2021-07-19 20:25] Furisto commented on #142
I have started with the implementation. Will let you know if I need support or if we can divide it up.

[2021-07-20 00:06] utam0k opened #144 "implementation of readonly paths"
ref: https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#readonly-paths

[2021-07-20 00:07] utam0k commented on #144
@duduainankai
Are you interested?

[2021-07-20 00:19] utam0k commented on #132
@duduainankai Sorry, I forgot to reply. Could you prepare a PR for this solution?

[2021-07-20 00:24] utam0k commented on #8
Yuki's codes have changed a lot, so I'll close it once.

[2021-07-20 00:24] #8 closed

[2021-07-20 00:25] utam0k commented on #9
@thinking-tower Do you have any problem? Can I help you?

[2021-07-20 01:21] duduainankai commented on #144
Yeah, I will have a try. Thank you.

/assign

[2021-07-20 01:31] duduainankai commented on #132
Do you mean that we separate out tests in tty.rs to another step CI ?

[2021-07-20 12:52] utam0k commented on #132
@duduainankai Sorry, I read that wrong. It would be nice to be able to test it with our own integration tests that we are working on
. I think this issue should be closed. What do you think?

[2021-07-20 13:04] utam0k commented on #132
@duduainankai Sorry, I misread your sentence. Can I ask you to create an issue that shows the minimum way in which tty tests can fail?
I think we can create that issue and close this issue. What do you think?

[2021-07-20 13:20] duduainankai commented on #132
emm.. That's not what I mean. The tests in tty do not fail.

What I trying to say is:

If we had a test eg. `test_set_freezer_state`  failed , with tty tests we can not read the failure message, and without tty tests(I comment the tests directly) the failure message show up again. You can see difference between the images I posted in comment.

And I think it's a little annoying if another issue li

[2021-07-20 13:30] utam0k commented on #132
I finally understand what you are trying to say. Thank you for the detailed explanation. You mean the messages under the `failures:` section are being eaten by the tty?

Can I ask you to make an issue about this problem?

[2021-07-20 13:46] utam0k opened #145 "implementation of `--preserve-fds`"
ref: https://github.com/opencontainers/runc/blob/master/docs/terminals.md#other-file-descriptors

[2021-07-20 13:54] utam0k opened #146 "implementation of ps command"
ref: https://github.com/opencontainers/runc/blob/master/man/runc-ps.8.md

[2021-07-20 13:55] utam0k opened #147 "impelementation of update command"
This issue creates an implementation that will serve as a template for now, and the other parameters that will be updated will be managed in a separate issue as a `good first issue`.
ref: https://github.com/opencontainers/runc/blob/master/man/runc-update.8.md

[2021-07-20 13:56] utam0k opened #148 "implementation of events command"
ref: https://github.com/opencontainers/runc/blob/master/man/runc-events.8.md

[2021-07-20 13:57] utam0k opened #149 "implementation of checkpoint command"
ref: https://github.com/opencontainers/runc/blob/master/man/runc-checkpoint.8.md

[2021-07-20 14:11] duduainankai commented on #132
haha.  Sorry about my poor explanation. :mask:

I will make another issue.

[2021-07-20 14:36] lizhemingi opened #150 "Make failure message great again"
Right now if we had a test failed when run `cargo test`, the failure message is missing and we can not locate the assert that failed directly.

**And if comment the tests code in `tty.rs`, the failure message show up again. Just like the failure message is eaten by the tty.**

Failure test without commenting tests in tty.rs.
![image](https://user-images.githubusercontent.com/9639449/125227109-d6ea

[2021-07-20 15:14] #132 closed

[2021-07-20 15:35] duduainankai commented on #150
/assign

[2021-07-21 07:01] yihuaf opened #152 "spec.root.path is not correctly handled"
Currently, the spec.root.fs is not correctly handled. When `init_builder` calls `load_and_safeguard_spec`, the copied version of the spec.json doesn't contain the change to canonicalize the rootfs path. As a result, when `youki exec` tries to load the safeguarded spec in `tenent_builder`, the spec.root.path can be incorrect missing the bundle path. As a result, currently, `youki exec` is also brok

[2021-07-21 07:08] yihuaf commented on #152
/assign

[2021-07-21 17:00] tsturzl commented on #78
@TinySong we should talk about how to manage the eBPF program we'll need for the device controller. I'm curious what you have been working with so far if you've started this work already.

[2021-07-22 03:53] #152 closed

[2021-07-22 05:10] yihuaf commented on #145
Maybe I can work on this next?

[2021-07-22 07:56] #87 closed

[2021-07-22 11:01] utam0k commented on #145
@yihuaf Sure.

[2021-07-23 21:19] Furisto commented on #142
Hey @duduainankai I could use your help. What I have [done](https://github.com/furisto/criu) so far:
- I have [generated](https://github.com/tokio-rs/prost) the code for the criu protobuf [messages](https://github.com/checkpoint-restore/criu/blob/criu-dev/images/rpc.proto)
- I can start criu in swrk mode
- I can send a message to criu to dump a [simple](https://criu.org/Simple_loop) process
- The

[2021-07-23 22:22] Furisto commented on #148
I can take this on.

[2021-07-24 07:30] zidoshare opened #159 "implementation of run command"
ref: https://github.com/opencontainers/runc/blob/master/man/runc-run.8.md

[code]
Hello, I am very interested in the container runtime, but I don’t have much relevant experience. I noticed that the run command is not implemented.

And I can try to do it if you agree.

[2021-07-24 07:32] Furisto commented on #159
Sure

[2021-07-24 10:33] zidoshare commented on #149
I can take this on.

[2021-07-24 10:57] utam0k commented on #149
@mrunalp sure!

[2021-07-24 10:59] utam0k commented on #148
Sure 👍

[2021-07-24 14:12] Furisto commented on #149
@utam0k This seems to overlap with #142 . How exactly are you envisioning this?

[2021-07-24 14:36] utam0k commented on #149
@Furisto Ops. I miss it, sorry.

[2021-07-24 14:36] utam0k commented on #149
@zidoshare  Sorry, this issue is duplicated.

[2021-07-24 14:36] #149 closed

[2021-07-24 15:22] Furisto commented on #149
@zidoshare You could instead do #146 or #147

[2021-07-24 15:25] zidoshare commented on #149
@Furisto Thanks, I'm trying to understand the details of the ps command

[2021-07-24 15:27] zidoshare commented on #146
I can take it on.

[2021-07-25 06:10] duduainankai commented on #142
Got. I will check on what you have listed and see what I can do. @Furisto

[2021-07-26 12:04] saschagrunert opened #162 "Sharing types with containrs"
Hey folks, I think I do not have to mention that this is an interesting project. Great work so far! :clap:

 I'd like to point to our other side-project `containrs`, which targets to implement a higher level runtime like containerd and CRI-O: https://github.com/cri-o/containrs

Do you think it would make sense to share some types, for example integrating them into youki and then re-using later on

[2021-07-26 14:17] Furisto commented on #162
Hi @saschagrunert, I wasn't aware of containrs, thank you for bringing this to my attention! Seccomp could be a good candidate I think, as we currently do not have an implementation for this yet. In the medium term I would like to pull more stuff from youki out into separate crates, like we already did for [spec](https://github.com/containers/youki/tree/main/oci_spec) in order to make it easier to

[2021-07-26 14:35] saschagrunert commented on #162
I agree this was also the idea behind conainrs. Glad to hear that the overall goal is the same :+1:

[2021-07-26 15:03] #159 closed

[2021-07-26 15:27] utam0k commented on #162
@saschagrunert Thank you for contacting us.
I think it would be good for youki to allow other projects to use the code that youki is implementing now. It's a good idea to start with spec, what do you think?
Actually, I tried something like that before and it didn't work.
https://github.com/opencontainers/runtime-spec/issues/1106

[2021-07-27 07:22] yihuaf opened #163 "Using clone(2) to create the init container process segfault when build with release version of the youki binary"
When building the released version of youki binary, the clone(2) used to create the container process will fail with the following error from dmesg:
[code]

Preliminary investigation points to the child stack pointer passed to clone(2) call. The debug version of the binary is not affected. Changing the allocated child stack size to 1MB or 2MB seems to make the issue go away, but I'd like a proper

[2021-07-27 07:22] yihuaf commented on #163
/assign

[2021-07-27 09:01] saschagrunert commented on #162
Sounds good to me, especially since the runtime spec is already in a dedicated crate within this repository. I think I can compare the implementations and double-check if we have some gaps between both.

[2021-07-27 09:27] utam0k commented on #162
@saschagrunert Okay, first of all, let's make sure that `oci_spec` is shareable. However, I haven't come up with a good way to proceed as I've never done anything like that before. I have a feeling you know more about that point than I do. Do you have any specific ideas? I am working on OSS activities as a hobby, so my time is limited, but I am happy to help.

[2021-07-27 09:50] saschagrunert commented on #162
Yes, so portability and conformance seems to be the most important parts. It looks like that some types are not optional right now, but the spec mentions them as optional (under certain conditions). Maybe we can use some external verification, for example with the [runtime-tools](https://github.com/opencontainers/runtime-tools).

[2021-07-27 15:06] utam0k commented on #162
Currently, youki still uses runtime-tools. However, it seems that the development is not very active, so we are developing our own integration testing tool in youki.

Sorry, maybe this is my mistake.

BTW, who will take the initiative on this? Perhaps someone should be the driving force behind the project. If no one is interested, I can take the lead.

[2021-07-27 18:47] fbrv commented on #146
I haven't noticed that @zidoshare has taken the issue. I made some experiments and it should be pretty easy to implement, retrieving the container cgroup folder, iterate over it, and on file "cgroup.procs" read the content and show the array, should be enough.
If you have any questions I can help you with this issue

[2021-07-28 00:32] utam0k commented on #146
@zidoshare Have you already started development?

[2021-07-28 02:39] zidoshare commented on #146
sorry, I am busy with work. And I will finish this week.

@fbrv , I see that the state.json file of runc contains a devecies field, but I don’t see similar content in youki. So I am not sure if I need to scan cgroups folder by myself.

[2021-07-28 02:42] zidoshare commented on #146
I don’t have enough experience that I may not be able to start work too quickly. sorry,sorry.

If you are eager to achieve it, you can assign it to others. So sorry about that.

[2021-07-28 03:05] utam0k commented on #146
No problem. If you haven't gotten around to it yet, why don't you give this issue to @fbrv and try something else? It looks like we have one cgroup v1 controller response open.

[2021-07-28 04:19] zidoshare commented on #146
@utam0k
In fact, I only have some questions about scanning the cgroups folder. The other development is basically completed. But I may not have time in the last two days, so you can arrange it for @fbrv . I will try to provide some help.

@fbrv
Have you referenced the implementation of runc?

[2021-07-28 05:44] utam0k commented on #146
We aren't in a hurry for this, so please have @zidoshare be the main implementer. I think it would be great if we can cooperate with @fbrv.

@fbrv
If you're interested, I can prepare another issue for you, what do you think?

[2021-07-28 07:42] saschagrunert commented on #162
Sounds good to me @utam0k! :)

Another note worth mentioning regarding the spec. It looks like that crun's libocispec is providing Rust bindings, too: https://github.com/containers/libocispec/tree/c9b8b9524814550a489aa6d38b2dec95633ffa15

[2021-07-28 12:08] fbrv commented on #146
Yes, sure @utam0k I'm trying to apply what I learn of rust and at the same time I'm learning cgroup, any issue or contribution that potentially can help to understand better these two technologies is more than appreciated. Meanwhile, I could help, if necessary, @zidoshare on is fork on implementing or understand better how to retrieve the root folder and iterate over it

[2021-07-28 13:41] utam0k commented on #162
I'm a little busy, so I may be late, but I'll take care of it.

I've thought about using it too. However, I thought it would be better to use pure Rust take advantage of Rust's advantages.

For example, If I merge youki's oci_spec into cri-o/containers, I'm not sure what I should do about the license. Do you have any recommendations?

[2021-07-28 13:45] utam0k commented on #146
@fbrv
I have a good task available, so I'll send a mention to you.

I'd love to have this one :)

[2021-07-28 13:46] utam0k commented on #9
@thinking-tower I'm sorry, but since there seems to be no response, I'm going to remove the assignment.

[2021-07-28 13:47] utam0k commented on #9
@fbrv Are you interested in implementing `perf_event`?

[2021-07-28 14:06] utam0k commented on #56
@tsturzl @YJDoc2
This is one of the features that youki needs the most right now. However, I think there are still many things to be developed. How about getting collaborators involved to speed up the implementation?

[2021-07-28 14:36] YJDoc2 commented on #56
I agree. I think the work done by @minakawa-daiki has created a great base for integration tests :tada:

Currently we are using integration tests in runtime-tools, which only work in github CI/CD and does not seem to work on local machines, making it really hard to verify that changes made have not accidentally broken things elsewhere. Migrating all tests from runtime-tools to rust would not only

[2021-07-28 14:45] tsturzl commented on #56
I'd be very interested in implementing the runtime integration tests for youki. I think it would be a great benefit for us to eventually build out cgv2 tests, since I think the testing there could be improved.

I agree that the tests output could be improved, and I'd be open to seeing how you're thinking to approach that @YJDoc2.

I think maybe breaking this out into a tracking issue like we've do

[2021-07-28 14:55] utam0k commented on #56
Of course it's a good improvement.

@tsturzl @YJDoc2
I have made it an immediate priority to get rid of runtime-tools as a policy of youki. This was beneficial in the very early stages, but youki has outgrown that phase.
For the time being, I think the goal of this project is to make one test case into a flexible code design by using traits and so on.
In other words, it would be good to design the

[2021-07-28 18:21] fbrv commented on #9
It should be pretty easy to implement, just writing the PID in the ```cgroup.procs``` file.

[2021-07-29 00:39] utam0k commented on #9
This issue was completed!
Special thanks @0xdco @reynn @tsturzl @Furisto @yjuba @fbrv @duduainankai

[2021-07-29 00:39] #9 closed

[2021-07-29 00:41] utam0k commented on #147
@fbrv It's a little more challenging, but are you interested?

[2021-07-29 01:41] minakawa-daiki commented on #56
I understand that you want to push forward with the test implementation as soon as possible.
I will leave it up to you guys to add the test cases, as I have some implementation speed issues.

[2021-07-29 02:58] tsturzl commented on #56
Work has been a bit consuming lately, but I should hopefully have time starting in the middle of next month. I would be interested in taking this on and implementing a few vital pieces and maybe getting some feedback. Unless @YJDoc2 has some ideas here and is interested, or can start on it sooner. I've also been beginning to hack on #17 again, but I think this is generally more important and ultim

[2021-07-29 04:14] yihuaf opened #168 "Replace libc::getrlimit with nix wrapper"
Nix wrapper doesn't have support for getrlimit at the moment. PR is pending https://github.com/nix-rust/nix/pull/1302. #163 will be merged leaving `libc::getrlimit` in place. Using this issue to track, so this will not get lost.

[2021-07-29 05:21] yihuaf commented on #163
@utam0k I suspect in addition to PR #167, we would need to fix the issue mentioned here: https://github.com/nix-rust/nix/issues/919. The whole discussion on boxed closure in https://github.com/nix-rust/nix/issues/919 is a bit hard to wrap my head around, but I think it means the closure (the cb function in the clone call) context (the arguments to the closure) and its ownership belongs to the pare

[2021-07-29 06:19] YJDoc2 commented on #56
Hey, So I have been thinking and came up with two approaches for this:
- Using a test trait
This will define a test trait, which will have methods such as get_name() to get test's name, and test() which will run test and return a Result < ? , ? > . This will have to be registered to some TestController struct and then it can iterate over run each test and build the testanything testdata. For this

[2021-07-29 07:07] saschagrunert commented on #162
I think it would be better to keep the OCI spec in an external crate like it is now. What do you think about that?

[2021-07-29 07:54] utam0k commented on #162
@saschagrunert I think an external crate is a good idea, but I also think it is a good idea to make it selectable using features.
Do you have a design philosophy for the direction you want to take with the containers repository?
https://doc.rust-lang.org/cargo/reference/features.html

[2021-07-29 08:01] saschagrunert commented on #162
I'm fine having features, for example we could also aim for building with no std to increase the portability.

How would we start? Do we wanna keep the oci_spec crate within this repository or do you prefer a new one? If yes, do we want to make this repository a workspace?

[2021-07-29 08:27] thinking-tower commented on #9
@utam0k no worries, thanks for the opportunity!

[2021-07-29 08:40] fbrv commented on #147
Sure, I can give a try

[2021-07-29 08:41] utam0k commented on #162
@saschagrunert
The name seems complicated to provide as a crate in this repository. So, how about creating a new repository in cri-o or modifying the current containers repository?
However, either way, I want someone from youki to have permission to access it.

[2021-07-29 08:42] utam0k commented on #147
@fbrv I'm looking forward to your PR!

[2021-07-29 08:44] saschagrunert commented on #162
@utam0k would it also fit in the `containers` organization?

Something like: [containers/oci-spec-rs](https://github.com/containers/oci-spec-rs) ?

[2021-07-29 08:50] utam0k commented on #162
I think it is good to develop it under the containers organization, but I'm not authorized to create repositories in their organization.

[2021-07-29 09:03] utam0k commented on #56
@YJDoc2 @tsturzl
I'd like @tsturzl to prioritize #17, so I'd like to leave the integration testing to @YJDoc2 . What do you think?

This is the minimum feature that I would like to have, and if this is not possible with traits, then I suggest using hashmap.

👍

[2021-07-29 16:34] YJDoc2 commented on #56
I would like to work on this and let @tsturzl focus on #17 , hopefully I can create a good base for the cgroups v2 tests.

As for the implementation, I'm not saying it would not be possible with traits, we can make the test registering function take test name as well, but my problem with traits is that they will need empty structs to be implemented on, and for tests we would only be interested in

[2021-07-29 17:45] tsturzl commented on #56
@YJDoc2 I think the traits pattern is more familiar to some of the patterns already used in youki, eg the controller managers do dispatch in this way. I think the hashmap approach is simple, but seems less idiomatic and possibly like it could get messy. I think creating empty structs is mostly an issue with the code readability than the actual runtime. I think it'll also be more idiomatic Rust to

[2021-07-29 18:11] tsturzl commented on #56
[code]

Something loosely like this is appealing to me, you could collect tests for a struct into a static array or even a vector and then run them.

[2021-07-29 18:16] tsturzl commented on #56
Might even be worth having our own Test type which is from-able from a anyhow::Result. Something like a TestResult, and this has 3 states which are Ok(T), Err(E), Skip. Skip is good for cases where a test isn't runnable on a system, eg you don't have support for a given cgroup controller. The TestResult can just implement From for the result type we expect, so it's easy to just turn a anyhow::Resu

[2021-07-29 18:50] tsturzl commented on #56
You could even just have a TestGroup be an array of Testables inserted into a hashmap instead. If the given Testable's don't fit a specific usecase you can always make case specific Testable types as well, but for the most part I imagine you can just make reusable Test types with it. Sorry if this was a long rant, but these were some of the ideas I had for a composable and reusable test framework.

[2021-07-30 00:07] #163 closed

[2021-07-30 06:18] YJDoc2 commented on #56
Hey, these are some great ideas! Thanks for sharing them.
No it was very insightful , and will definitely make the test spec better. As this is such an important part, discussion is needed.

I agree that my issue with traits was more of readability and boilerplate, than usage, and traits would in fact be more idiomatic.

The main reason for suggesting a hashmap was to be able to get the tests quic

[2021-07-30 06:36] tsturzl commented on #56
@YJDoc2 you're probably right with the fact that groups shouldn't share any resources, so the ability to do a drop trait there isn't all that useful. We can kinda maintain the order it a BTreeMap by making our own key type and doing hacky things, but they're just that, hacky things. Order of test execution is less of a hard requirement and more of a nice to have, a BTree might be good enough too s

[2021-07-30 06:38] tsturzl commented on #56
Maybe in the morning I can write a more comprehensive example of what I'm thinking.

[2021-07-30 06:42] YJDoc2 commented on #56
Sure, I will also think some more on your as well as my approach in the meantime.

[2021-07-30 15:33] utam0k commented on #56
@tsturzl @YJDoc2 The overall direction of this project is much better than I thought it would be. As long as we don't deviate too far from this direction, I'll leave the decision to you two. Excellent!

[2021-07-30 16:17] saschagrunert commented on #162
I’ll try to get the repo in the next week. Let’s close this for now and focus on the OCI spec.

[2021-07-30 16:17] #162 closed

[2021-07-30 21:11] tsturzl commented on #56
@YJDoc2 This is a comprehensive example of what I'm thinking to combine parts from both our ideas based on our discussion thus far. This avoids having to define structs for each test all together, and therefore also avoids the complexity of making something like a proc macro, and I think has the most reusability and should be clean and relatively easy to start out. I don't think a lot of boiler pl

[2021-07-31 12:13] utam0k commented on #56
`lazy_static` is also well known, and `once_cell` has been heard a lot lately. I'll leave the choice up to you, but just for reference.
https://docs.rs/crate/once_cell/1.8.0

[2021-07-31 14:35] #148 closed

[2021-07-31 17:54] YJDoc2 commented on #56
Hey @tsturzl I saw your code, and I agree with most of your code, but I still don't agree that TestGroup should be a structure :sweat_smile:

I would instead suggest that we use bitflags to specify which group a test belongs to. This will allow a test to be part of multiple groups if needed, as well as give granular control over test to be run.

In the code you suggested, we will need to specify t

[2021-08-02 10:06] #145 closed

[2021-08-02 14:44] saschagrunert opened #179 "Migrate OCI spec into dedicated repository"
We have a new repository available for the OCI spec: https://github.com/containers/oci-spec-rs

The main goal would be now to move over the code, setup the CI and make this repository dependent on it.

[2021-08-02 18:54] yihuaf commented on #140
@humancalico Have you started this yet? Let me know if I can help.

[2021-08-02 18:55] yihuaf commented on #144
@duduainankai Have you started this yet? Let me know if I can help.

[2021-08-02 19:29] tsturzl commented on #56
@YJDoc2 I feel like the way tests are organized in the oci runtime spec is to break them into logical groupings at a more granular level than you propose, and I think there is utility to that. If I'm working on a cgroup controller I might want to run just that group of test before I make a PR, so rather than manually specifying 10-15 tests I can just specify a group pertaining to that. Like with t

[2021-08-02 19:38] tsturzl commented on #56
@YJDoc2 I think in reference to your example, you aren't often going to want to test the entirety of cgv2 when developing. You'll probably mostly care about the specific controller you're working on or the specific controller that is failing tests. This is exactly how running the original tests were. I'd iterate by running the integration tests for the area of concern and make changes until tests

[2021-08-02 19:56] tsturzl commented on #56
I think bitflags for groupings is fine if that works better or looks cleaner. I guess I just see it as cleaner to have a group own the tests it runs versus the tests own which group them belong to. You can create all the groups and then populate them later, and test groups can own a lookup structure for the tests they own.

[2021-08-02 20:20] humancalico commented on #140
@yihuaf Hey sorry I wasn't able to find the time to get started. I'll ping you if I get stuck on anything.

[2021-08-03 00:46] duduainankai commented on #144
@yihuaf  Yeah, I am already working on it. Thanks.

[2021-08-03 12:27] utam0k commented on #179
@saschagrunert
I apologize for the delay in replying. I am sick from the vaccine. When I'm feeling better, I'll try to migrate the current oci_spec code directly to oci-spec-rs. What do you think?

[2021-08-03 13:07] saschagrunert commented on #179
Sounds good and no rush, nothing is pressuring. 😊 Feel better soon!

[2021-08-03 13:08] nimrodshn commented on #179
@utam0k Feel better :pray:

[2021-08-03 17:09] yihuaf opened #182 "Implement container life cycle hooks"
Now that #178 is in, we should implement these hooks. Ref:  https://github.com/opencontainers/runtime-spec/blob/master/config.md#posix-platform-hooks

- [ ] prestart
- [ ] createRuntime
- [ ] createContainer
- [ ] startContainer
- [ ] post start
- [ ] post stop

[2021-08-03 17:29] Furisto commented on #182
@yihuaf This is a duplicate of #13

[2021-08-03 17:30] yihuaf commented on #182
@Furisto Thanks. I missed that ...

[2021-08-03 17:31] yihuaf commented on #13
@drahnr Is it OK if I take this issue? I am planning to work on this next :)

[2021-08-03 18:00] YJDoc2 commented on #56
Hey, So I have been thinking for last couple of days, and after reading your comment, I can see that the group method would be better :sweat_smile: Initially I was thinking that most of our run cases would be either all tests, or particular named tests and groups, but then I realized that either we would run all of our cases or a specific one which has issues, and with your argument about groups p

[2021-08-03 20:58] drahnr commented on #13
@yihuaf go for it! I just started to chip away on my personal backlog 🙃

[2021-08-04 01:34] utam0k commented on #13
@drahnr I am sure that your knowledge of railcar will be useful for youki. If you can spare some time, please come back and give us your opinion.

[2021-08-04 04:43] tsturzl commented on #56
@YJDoc2 no worries! I hope I wasn't too critical. I think having lazy_statics does simplify the design and I wasn't previously aware of that pattern in rust. I'm excited to see how it turns out. As far as having CI tests for the integration testing framework my opinion would be that we don't want to tie in the workflow actions for testing against runc into the youki repo, so I'd either say we shou

[2021-08-04 09:07] utam0k commented on #56
We believe that this integration test will be very useful for the field of container runtime. If it works well, I will consider separating them into different repositories, but I think it's too early to do that now, since managing separate repositories is more or less a burden.

I think it is a good idea to use runc to verify the correctness of the integration test itself. However, I also think it

[2021-08-04 09:10] utam0k commented on #56
This is ideal, it would be great if users could add tests in the form of plugins. For example, I think it would be a very good project if we could add tests with wasm. However this is for use outside of youki, so I think it should be optional.

[2021-08-04 15:30] utam0k opened #184 "Add implementation when the setting is `None`"

[2021-08-05 06:33] yihuaf opened #185 "`youki exec` did not join the correct pid namespace"
~~This will lead `youki exec` to fail at the moment.~~
[code]

Edit: this is just the side effect, where `/proc/self` is not set correctly. The root cause is that the `youki exec` process didn't enter the correct pid namespace. The `setns` for pid namespace require an additional fork/clone to enter into the right namepsace.

[2021-08-05 07:12] yihuaf commented on #185
Looks like we didn't set the `/proc` correctly when doing `youki exec`. As a result, there is no `/proc/self` for the process that executes the `youki exec`. I may have to spend some time trying to go through the prepre_rootfs code.

[2021-08-05 17:59] yihuaf opened #188 "Fix cargo clippy"
Since we have the `cargo clippy` in the CI, we should fix all the warnings as well. While we are at it, we should also add the script to run these fmt and clippy checks locally, so it is easier for developers.

[2021-08-05 18:08] yihuaf commented on #188
Didn't sync the main branch correctly. Seems all the Clippy warning is fixed in #176

[2021-08-05 18:08] #188 closed

[2021-08-05 19:24] Furisto opened #189 "Move cgroups into separate crate"
The cgroup implemenation could also be useful outside of youki. What do you think @utam0k

[2021-08-06 01:04] yihuaf commented on #185
@utam0k @Furisto @tsturzl The root cause of this is that the `youki exec` process didn't join the correct pid namespaces. While `clone` allows us to create new user and pid namespaces by creating only 1 process, the `setns` for pid namespace has the same limitation. When calling `setns` for pid namespace, only the future children will join the pid namespace, instead of the calling process itself.

[2021-08-06 01:20] tsturzl commented on #185
I will take a look and see if I have any ideas, otherwise perhaps the double fork is the right solution for now. I'm not entirely sure what runc and crun are doing, and I'd like to look deeper at what they're doing. I think doing what runc is doing is a pretty reliable baseline for us to work off of, because at worst we are only as efficient as what's currently the standard.

[2021-08-06 01:28] yihuaf commented on #185
Thanks. I have a feeling that we may have to revert to creating two processes but want to take a bit of time to think it over. As far as I know, `crun` uses double fork similar to what we used to do. `runc` internally does two `clone` calls to solve the user and pid namespace issue in a similar way. `runc` actually does one more fork because of the limitation of golang.

[2021-08-06 09:53] utam0k commented on #189
I think it's good. First of all, I want to isolate it to crate in this repository.
cc: @saschagrunert

[2021-08-07 08:56] utam0k commented on #184
https://github.com/saschagrunert/youki/pull/1

[2021-08-09 02:49] #27 closed

[2021-08-09 02:51] utam0k commented on #126
It doesn't happen much anymore...

[2021-08-09 02:52] utam0k commented on #126
How about we wait for this issue to be implemented?
https://github.com/containers/youki/issues/56

[2021-08-10 04:22] tsturzl commented on #189
I see utility in perhaps implementing cgv1 and cgv2 as separate crate features which are both enabled by default, but you could then selectively exclude one or the other. This could be useful for projects with specific requirements, or making builds for platforms which might only support cgv1. It would be a nice to have if it's not too difficult.

[2021-08-10 04:45] tsturzl commented on #185
I'm a bit naive here so forgive any silly questions. Can we not know the pid namespace for the fork until the fork has already happened? It seems like the namespace is derived from the Spec which I assume is known upfront since it seems like the initial process is just passing the loaded spec as is. So those namespaces presumably should be known before the `fork::clone` ever happens. Could we not

[2021-08-10 07:12] unknowndevQwQ commented on #24
`$ sudo podman --runtime /bin/youki --runtime-flag log=/tmp/youki run --rm hello-world`

[code]

It looks like youki is working fine on podman

[2021-08-10 07:30] nimrodshn commented on #24
@unknowndevQwQ yuoki is setting up the `cgroups` properly but isn't setting the container unit under systemd. (See detailed information [here](https://github.com/opencontainers/runc/blob/6023d635d725a74c6eaa11ab7f3c870c073badd2/docs/systemd.md#systemd-cgroup-driver)). That is WIP under #120 .

[2021-08-10 17:14] yihuaf commented on #185
Consider there are two operations for namespaces. Either create or join.
Create will create a new namespace, where the namespace is not known. In
the spec, this is indicated as join a namespace but path to the namespace
is null. Namespaces are identified through /proc/pid/ns path. In the case
of join, we have the namespace path on the /proc, which we use to join that
namespace.

The pid namespace

[2021-08-11 15:10] #144 closed

[2021-08-12 08:40] utam0k commented on #179
@saschagrunert I would like someone from the youki team to have write access to the oci-spec-rs repository, is that possible?

[2021-08-12 09:55] saschagrunert commented on #179
Yes, you should've got an invitation for the repository now.

[2021-08-12 10:02] utam0k commented on #179
I missed it. Thank you!

[2021-08-12 13:13] utam0k commented on #185
@yihuaf Maybe this PR will be helpful to you.
https://github.com/opencontainers/runc/pull/977

[2021-08-12 17:54] #189 closed

[2021-08-12 17:55] #146 closed

[2021-08-12 21:41] Furisto commented on #185
I don't think this will work because for rootless containers the main process has to write the uid and gid mappings for the init process and it cannot do that if it is in the same user namespace.

[2021-08-13 05:37] yihuaf commented on #185
Yes, I agree. Double fork it is. I will put together the PR over the weekend.

[2021-08-13 06:34] utam0k commented on #185
It's good to have our original integration test to prevent a recurrence. @YJDoc2 is now working on this area. I'd like to create a future where we can check automatically.
https://github.com/containers/youki/issues/56

[2021-08-13 06:55] yihuaf commented on #185
Agreed. This should have been caught much earlier with the integration test.

[2021-08-14 06:51] yihuaf opened #201 "Handle annotations correctly for the container state"
Currently, Youki doesn't store annotations into the container state. This also cause the `hook_stdin` test to fail.

[2021-08-14 07:39] yihuaf commented on #10
Not sure about your opinion on using makefile but should we put together a make file for simple operations? Here is a list of things I have in mind:
* `build.sh` or equivalent functionality.
* `cargo fmt --all`
* `cargo fmt --all --check`
* clippy?
* `cargo test`
* integration test
* clean

[2021-08-14 13:40] utam0k commented on #10
@yihuaf Thanks for your suggetion! This is something I'm quite confused about too. I'm not sure if I should use make or add a cargo subcommand. Do you know anything about cargo subcommands in particular?

[2021-08-14 17:51] yihuaf commented on #10
I don't know much about cargo subcommands, unfortunately. The benefit of `make` is that it is a flexible and mature solution that many people are familiar with. It ties the shell scripts together.  From the docs I am reading about cargo subcommand, seems it is a good fit for Rust specific activities, such as format or audit. For more general workflow automation, shell scripts + makefile seems to b

[2021-08-14 18:03] tsturzl commented on #10
I don't see much benefit to using makefiles over bash scripts. We won't be using make to do any incremental builds since cargo handles all the building still. As far as running things like cargo fmt and clippy I'd assume most of us are doing that with an IDE or editor setup to automatically run formatting, linting, etc. If you wanted to add things like clippy and a format check to the CI that woul

[2021-08-14 18:49] tsturzl commented on #17
I'm providing a long overdue update on the progress here. As previously mentioned I had halted my attempts at this, and to reiterate some of the previous hurdles I found out that pretty much every async framework for Rust was pushing file operations off into a threadpool instead of doing async IO for file operations. Turns out Linux has only recently supported a decent way of doing file IO called

[2021-08-15 01:40] utam0k commented on #17
@tsturzl Excellent progress. I'm very curious to see how this code turns out. Is it possible to create a Draft PR, even if it does not work? I'm very interested in this experiment and I'm excited to see how it turns out.

[2021-08-15 09:28] utam0k commented on #10
It is true that make is a very useful tool that is traditionally used, and creating a Makefile is not that difficult. Perhaps the biggest advantage is the ability to set up dependencies for builds. For example, you might have the advantage of having it run after you have built it for installation and so on. Currently, I don't think there is that much dependency between commands.
However, do you wa

[2021-08-15 09:29] utam0k commented on #10
Can you imagine something like this?
https://github.com/datafuselabs/datafuse/blob/master/Makefile

[2021-08-15 14:09] #13 closed

[2021-08-15 14:09] #201 closed

[2021-08-15 14:10] yihuaf commented on #10
Good point. Perhaps we should add a section in the read me. We are running these in CI already.

This is what I had in mind. Individual functionalities are written in shell, so it is smaller. Then we use makefile to tie things together. In general, I don't like giant shellscript (like devtool in firecracker). It's much harder to maintain and debug.

If removing the fmt and clippy, I agree that at

[2021-08-17 00:58] utam0k commented on #78
@TinySong Sorry, you seem to be busy, so I'll unassign it. Please let me know when you have more time!

[2021-08-17 00:59] utam0k commented on #78
@Furisto Are you interested in devices? This is probably not a good first issue.

[2021-08-17 11:11] Furisto commented on #78
@utam0k I do not have experience with epbf, could be an interesting challenge though. My current understanding is that none of the ebpf rust projects support generating an ebpf program on the fly at the moment. This would be required because the device configuration can be different for every container. We would need to write a library that can write ebpf bytecode directly, maybe we can interest o

[2021-08-17 12:56] utam0k commented on #78
@Furisto An ebpf foundation has recently been established and I think it will be an interesting challenge. Do you want to start another issue?

[2021-08-17 22:52] Furisto commented on #78
@utam0k I can take it up.

[2021-08-18 02:52] utam0k commented on #17
@tsturzl
I've noticed a few things that I need to be aware of and I'll share them with you.
If you are dealing with multi-threading in this work, you may need to be careful with namespaces.
- https://www.weave.works/blog/linux-namespaces-and-go-don-t-mix
- https://groups.google.com/u/1/g/golang-nuts/c/ss1gEOcehjk?pli=1

[2021-08-18 03:33] tsturzl commented on #17
@utam0k I'm avoiding threads since I think they'll have more overhead than benefit. I'm currently working through some issues with my implementation using Rio. I am however partially worried with some of the runtime behaviors and caveats. I've just seen that tokio released their uring implementation and I'm curious to give that a try also to see if it's has less pitfalls. I believe I can get the R

[2021-08-18 09:40] utam0k commented on #78
@Furisto I've assigned you.

[2021-08-19 11:54] utam0k commented on #179
Thasnk! @saschagrunert

[2021-08-19 11:54] #179 closed

[2021-08-19 11:54] #184 closed

[2021-08-19 13:14] utam0k opened #207 "Pass the process integration test"
# Overview
The test is failing because youki is not looking at the `cwd` settings. This PR fixes this problem
https://github.com/opencontainers/runtime-spec/blob/master/config.md#process

# Goal
Pass the [process](https://github.com/opencontainers/runtime-tools/blob/master/validation/process/process.go) integration test in runtime-tools.
If you comment in this part and the test passes, you are all

[2021-08-19 13:16] utam0k commented on #207
I'd like to request this issue to @guni1192 who is interested in youki on Twitter.

[2021-08-20 13:30] MoZhonghua commented on #78
@Furisto @utam0k

I created a PoC pr for cgroup v2 devices controller, see https://github.com/containers/youki/pull/208

I'm newbie to rust and want to learn it by writing some code for real project.  This PR is not expected to
be merged (the code is not satisfying),  but should be helpful for you to implement this feature.

[2021-08-20 13:58] utam0k opened #209 "Pass the `root_read_only` integration test"
# Overview
Support read-only root directory.
https://github.com/opencontainers/runtime-spec/blob/master/config.md#process

# Goal
Pass the [root_read_only](https://github.com/opencontainers/runtime-tools/blob/master/validation/root_readonly_true/root_readonly_true.go) integration test in runtime-tools.
If you comment in this part and the test passes, you are all set.
https://github.com/containers/

[2021-08-20 13:59] utam0k commented on #209
This is just the right task for those who haven't touched youki much.

[2021-08-20 14:04] utam0k commented on #78
@MoZhonghua Excellent! If you're interested, you can have @Furisto continue this if he hasn't already started developing it.

[2021-08-20 14:32] utam0k commented on #10
@yihuaf @tsturzl  I think It's not a big advantage if you wrap it with make to align the commands to be executed, but it's not bad.

[2021-08-20 19:50] Furisto commented on #78
This is great @MoZhonghua. I will take a look at this over the weekend.

[2021-08-21 07:26] utam0k commented on #185
@yihuaf I believe the goal of this issue is to pass the below integration test cases. Is that correct? When I organized integration tests, I found that this case is failed.
https://github.com/containers/youki/blob/9acc899239ee0b9d58ea1a81b69884d13ba561fe/integration_test.sh#L37-L40

Please carefully that these test cases use unshare command, so using the current youki breaks your environment.

[2021-08-21 12:19] MoZhonghua opened #213 "mman::mmap() fails with ENOMEM when getrlimit(libc::RLIMIT_STACK) returns u64::MAX"
should check this case and use 8M as default_stack_size

[2021-08-22 07:09] #213 closed

[2021-08-22 08:27] humancalico commented on #10
@utam0k any reason for creating a separate repo for https://github.com/containers/oci-spec-rs instead of adding it as a cargo workspace?

[2021-08-22 08:40] utam0k commented on #10
@humancalico Thanks for your comment. This is because we believe that `oci-spec-rs` will be used in other software for container-related purposes. The oci image spec is not used by youki, but this crate is becoming a more useful crate, supporting it. There is a possibility that cgroup will be provided in a separate repository as well. Do you have any trouble with it?
ref https://github.com/contain

[2021-08-22 08:51] humancalico commented on #10
Ahh thanks for the reply.

No, I was just curious.

[2021-08-22 09:27] #207 closed

[2021-08-22 18:52] yihuaf commented on #185
The goal of this is to fix not entering into pid namespace correctly for `exec`. The fix requires us to go back to the double fork approach. However, passing these integration test is also important. I can follow up these tests.

[2021-08-23 00:32] yihuaf commented on #168
No longer needed due to #217

[2021-08-23 00:32] #168 closed

[2021-08-23 09:53] penumbra23 opened #218 "Prestart hook might be invoked too soon"
Hi folks!

First thing, great project, love the idea and the usage of Rust for a container engine. :+1:

When running a container with `docker` using `youki` as a runtime, listing the network devices lists only the loopback device.
[code]

Docker invokes the network plugins for creating the veth pairs and connecting them to the `docker0` bridge, adding iptable entries and default route. The contai

[2021-08-23 14:07] utam0k commented on #218
Thank you for the detailed report. I'll investigate the details later, but once I tried it at hand with the latest master, I couldn't reproduce it. If you don't mind, I'd like to know the results of `youki info`.
[code]

[2021-08-23 14:13] chenyukang commented on #77
I'm following the README, the this command will trigger error with message:

[code]

[code]

[2021-08-23 14:13] chenyukang commented on #77
Do we need to update the config.json for the rootless container?

[2021-08-23 14:20] Furisto commented on #77
@chenyukang Yes, the current spec does not work for rootless containers. Are you interested in fixing it?

[2021-08-23 14:21] tsturzl commented on #10
@yihuaf I know flame graph does. It's super simple cargo just expects there is to be a executable in path like `cargo-{$subcommand}`. I'm not sure if you can have it in the root of the project or not.

[2021-08-23 14:26] penumbra23 commented on #218
Wow, seems that the development goes rapid here 😄 I've pulled the latest code from the repo and now it works!

Keep the good work running!

[2021-08-23 14:26] #218 closed

[2021-08-23 15:06] chenyukang commented on #77
I'm interested in fixing it.
But I'm still trying to understand the code since this is my first try at it. :)

[2021-08-23 15:08] chenyukang commented on #209
Let me have a try.

[2021-08-23 15:17] utam0k commented on #209
@chenyukang
Of cource!

[2021-08-23 17:15] yihuaf commented on #10
Great. That's a nice example, and building the cargo binary is easy enough. I initially thought he `cargo-subcommand` needs to be distributed independently since many examples shows the subcommand being under `$HOME/.cargo`.  For future reference, here is the flamegraph example: https://github.com/flamegraph-rs/flamegraph/blob/master/src/bin/cargo-flamegraph.rs

We can have:
[code]

[2021-08-23 17:23] yihuaf commented on #10
On a different note, I am curious if we should replace `mio` with a simple `pipe2`. We use mio to communicate between the main process and container process, mainly to sync and send pid back on the same host. After working with the code, I am under the impression that `mio` seems to be an overkill for what we are trying to achieve. We already are sending customized byte messages, so mio doesn't ad

[2021-08-23 17:27] yihuaf commented on #185
This is actually a bug, not an enhancement. In fact, this is a regression because it broke `exec` to enter into the right pid namespace.

[2021-08-24 01:25] chenyukang commented on #14
I add a PR for some trivial fix on doc: https://github.com/containers/youki/pull/220
I'm also not a native English speaker, but sometimes shorter is easier for reading.

One thing I'm not sure about.

[code]

Should be:

[code]
?

[2021-08-24 01:30] chenyukang commented on #14
Another idea is, we should give two separate documents for those who just want to use `Youki` as a runtime and those who want to develop or know the design and details of `Youki`? I think it will be more clearer.

[2021-08-24 02:53] yihuaf opened #221 "Pass the namespace related integration tests"
Pass these tests:
 "linux_ns_itype/linux_ns_itype.t"
 "linux_ns_nopath/linux_ns_nopath.t"
 "linux_ns_path/linux_ns_path.t"
 "linux_ns_path_type/linux_ns_path_type.t"

[2021-08-24 03:26] yihuaf commented on #77
I think `runc` has `runc spec --rootless`. Maybe that's what we should add. @chenyukang Would you like to add it? If so, just create a new issue and ping us if you need any help.

[2021-08-24 03:38] #185 closed

[2021-08-24 04:31] yihuaf commented on #150
@utam0k I wasn't sure if you want to add `--nocapture` to `cargo test` on CI as a solution? This issue is asking for that.

[2021-08-24 04:46] chenyukang commented on #77
Thanks @yihuaf , I use `runc spec --rootless` to generate a config.json, we need to add this to config.json:

[code]

Should we add a demo config.json to repo, maybe add a directory youki_integration_test/config/,...

Currently, we use a gist in README.md, or do I create a gist and fix readme?

[2021-08-24 11:26] Furisto commented on #78
@MoZhonghua I think your code is fine. I have made changes so that it passes CI and some other stuff (will update your PR later), but basically I think we should take this, hide it behind a feature flag and then work on the remaining FIXMEs. Are you interested?

[2021-08-24 12:11] utam0k commented on #150
That may be fine for CI, but what about local execution unit tests...

[2021-08-24 12:14] utam0k commented on #77
When I made this tutorial, there was no spec command yet, so I used gist. Now that the spec command available, I think it would be a good idea to create a tutorial based on it.

[2021-08-24 12:40] utam0k commented on #14
The following PR comment sums up why a two-step fork is necessary.
https://github.com/containers/youki/pull/217#issuecomment-904291533

This is a Japanese blog, but the diagram in this article is very clear. Youki follows almost the same process.
![figure](https://cdn-ak.f.st-hatena.com/images/fotolife/F/FallenPigeon/20210502/20210502181030.png)
https://kurobato.hateblo.jp/entry/2021/05/02/164218

[2021-08-24 12:41] utam0k commented on #14
I think it's a good idea to divide youki into different documents for different audiences, and I think doc-draft is currently where the internal details of youki stand. On the other hand, I'd like to write a README for those who want to use youki, but it's not enough yet.

[2021-08-24 13:33] utam0k commented on #10
The reason for this is very simple: it seems to be lightweight since it only does simple communication processing. I'm in favor of using mio as long as there is no negative impact on performance.

[2021-08-24 15:13] utam0k opened #225 "Upgrade`oci-spec-rs`"
We are now using `oci-spec` by directly specifying the commit hash and repository.
https://github.com/containers/youki/blob/a14ce13bcd7e97787dc3c9bf7f85d78cf728d9c5/Cargo.toml#L32
However, this has already been pushed to crates.io so that you can use it the same way as the others.
https://crates.io/crates/oci-spec

However, there are a few disruptive changes, so it's not straightforward, but none

[2021-08-24 15:16] utam0k opened #226 "Introducing Code Coverage"
I'd like to consider implementing code coverage, referring to the following repository.
The only thing we need to consider is that we can probably only do it nightly.
https://github.com/containers/oci-spec-rs

[2021-08-24 15:55] guni1192 commented on #225
@utam0k  May I try this issue?

[2021-08-24 18:03] yihuaf commented on #150
Sorry I don't follow. For local unit test, you also run `cargo test -- --nocapture` to see the error output in case test fails when developing. It works exactly the same.

[2021-08-24 23:52] utam0k commented on #225
@guni1192 Of course!

[2021-08-24 23:55] utam0k commented on #25
@JonathanBerhe Are you busy? Let me know if you find it difficult to find the time.

[2021-08-25 00:58] yihuaf commented on #77
@chenyukang Yes, we need to add uid, gid mapping and user namespace to the spec. And I agree we should change the readme tutorial to be use `youki spec` and `youki spec --rootless`. I'd rather not copy around snippets if we can avoid it. Just a heads up, there are some cases of rootless Youki is not working quite right yet.

[2021-08-25 01:01] #209 closed

[2021-08-25 01:38] utam0k opened #227 "Pass the masked path integration test"
## Overview

Support masked pass
https://github.com/opencontainers/runtime-spec/blob/82ab996a5bf91804a440391bff43140b17bbadd4/config-linux.md#masked-paths

# Goal
Pass the [linux_masked_paths](https://github.com/opencontainers/runtime-tools/blob/master/validation/linux_masked_paths/linux_masked_paths.go) integration test in runtime-tools.
If you comment in this part and the test passes, you are al

[2021-08-25 01:42] utam0k commented on #227
It is more difficult than the other good first issues.

[2021-08-25 02:29] duduainankai commented on #150
@utam0k @yihuaf

I think `nocapture` can not meet the requirement of this issue.

https://doc.rust-lang.org/cargo/commands/cargo-test.html#display-options

It seems that the `nocapture` option means `do not capture the output of our tested binary`, something like `println` in our code.

But this issue is looking for the output information by `rust test`, something like which assert in which file i

[2021-08-25 10:09] MoZhonghua commented on #78
@Furisto I'm glad to contribute more to this feature. You can create a list of tasks, and assign some tasks to me. Should we create a dedicated tracking issue for this feature?

[2021-08-25 10:23] utam0k commented on #78
@MoZhonghua
Can I ask you to create an issue for devices, because it is too different from other resource controllers?

[2021-08-25 11:56] chenyukang commented on #77
yes, I will fix the readme with `youki spec`.
`youki spec --rootless` is not available right now. We need to add it.
After that add another `rootless` demo in the tutorial.

[2021-08-25 12:18] utam0k commented on #150
I agree with this. However, I don't think this is the root solution.

[2021-08-25 12:23] utam0k commented on #77
@chenyukang
This is a very wonderful initiative. If you'd like, could you create an issue with this?

[2021-08-25 13:05] chenyukang opened #228 "Fix tutorial in readme"
As discussed in #77 , use `youki spec` to make a tutorial.
After `youki spec --rootless` is added, make another demo.

[2021-08-25 23:22] Furisto opened #230 "Improve cgroup v2 device support"
Solve all FIXMEs
- [ ] Add tests for bpf examples
- [ ] Clarify if we should start with deny all
- [ ] Clarify order in which rules should be applied
- [ ] Check if we should use BPF_F_REPLACE
- [ ] Figure out best way to test device controller
- [ ] Should we follow runc's implementation for emulator

cc: @MoZhonghua

[2021-08-27 05:11] yihuaf opened #234 "Implement `youki spec --rootless`"
As the title says. The flag should generate an OCI spec used for rootless container. At minimum, the command should generate user namespace and uid/gid mapping. Comparable to `runc spec --rootless`.

[2021-08-27 15:56] yihuaf opened #237 "Graceful shutdown Youki when forked process returns an error"
Currently, if either the intermediate or the init process errors out, the Youki main process stucks on waiting for child ready message and cause the main process to hang. Some integration tests are deliberately testing for error conditions and requires Youki to shutdown gracefully. Also this is the right thing to do.

[2021-08-27 22:34] Furisto opened #239 "Pass process user integration test"
https://github.com/opencontainers/runtime-tools/tree/master/validation/process_user

[2021-08-27 23:07] yihuaf opened #240 "When using the host mount namespace, we should not pivot_root"
Scary things will happen if we run pivot_root without entering into a mount namespace. According to `runc`, we want to use chroot instead.

[2021-08-27 23:41] chenyukang commented on #77
I merged code from master, the are still an error, the last one is `Failed to add tasks to cgroup manager`

[code]

[2021-08-27 23:52] utam0k commented on #82
There are no problems.

[2021-08-27 23:52] #82 closed

[2021-08-28 01:37] guni1192 commented on #225
@utam0k Sure I can!

[2021-08-28 02:28] yihuaf commented on #77
Yea, and your rootfs will be toasted lol. I just discovered this today as
well and I have a PR out. I will let you know when it is merged. As I said
before, rootless is not quite working yet. My first goal is to pass as many
integration tests as possible. And then we can go about fixing all the
corner cases. You are welcome to start fixing if you notice any issue. Feel
free to start filing issues

[2021-08-28 08:01] utam0k commented on #240
Wow... Can you give me some runc reference in that area?

[2021-08-28 08:34] yihuaf commented on #240
https://github.com/opencontainers/runc/blob/4d26c4a0a14e55fb71a3f7be2d3cd9f228523fff/libcontainer/rootfs_linux.go#L127

[2021-08-28 08:48] #237 closed

[2021-08-30 00:23] yihuaf opened #246 "Pass oom_score_adj related integration test"
The goal of this issue is to uncomment this line and pass the integration test.
https://github.com/containers/youki/blob/2d02d22caf2763dd249d943f95d90374618eb10f/integration_test.sh#L64

The oom_score_adj is implemented already.
[code]

However, it is not play nice with `prctl dumpable`, so the operation is actually not having the effect. Likely we have to understand how dumpable and oom_score_adj

[2021-08-30 00:30] utam0k commented on #246
The goal of this issue is to uncomment this line and pass the integration test.
https://github.com/containers/youki/blob/2d02d22caf2763dd249d943f95d90374618eb10f/integration_test.sh#L64

[2021-08-30 03:54] #240 closed

[2021-08-30 04:02] yihuaf commented on #221
"linux_ns_itype/linux_ns_itype.t" won't fix because runtime-tools has a bug causing the test to hang on Github Action. Ref: https://github.com/opencontainers/runtime-tools/issues/698

[2021-08-30 05:43] #221 closed

[2021-08-30 08:11] Onyinye91-ctrl commented on #246
@utam0k I will like to work on this issue

[2021-08-30 12:37] utam0k commented on #246
@Onyinye91-ctrl sure!

[2021-08-30 13:59] utam0k opened #249 "Pass the mounts integration test"
## Overview
Some of the mounts tests don't pass, so we'll pass the tests.

# Goal
Pass the [mounts](https://github.com/opencontainers/runtime-tools/blob/master/validation/mounts/mounts.go) integration test in runtime-tools.
If you comment in this part and the test passes, you are all set.
https://github.com/containers/youki/blob/d86932dd130a11789b51d654d6843d3611599dc7/integration_test.sh#L55

[2021-08-31 05:59] yihuaf commented on #230
Now it works :)

[2021-08-31 06:16] yihuaf opened #252 "[Tracking Issue] Pass the rest of integration tests"
Excluding the tests are also failing with `runc`, here are the rest that we have not investigated. Let's finish this :)

- [x] "linux_process_apparmor_profile/linux_process_apparmor_profile.t #300
- [x] "linux_rootfs_propagation/linux_rootfs_propagation.t" #256
- [x] "linux_seccomp/linux_seccomp.t" #25
- [x] "linux_uid_mappings/linux_uid_mappings.t" #255
- [x] "mounts/mounts.t" #249
- [x] "linux_m

[2021-08-31 11:23] #246 closed

[2021-08-31 11:54] Furisto commented on #252
I can take a look at the apparmor test.

[2021-08-31 12:43] utam0k commented on #252
I'd like to make something relatively simple as a good first issue.

[2021-08-31 13:39] utam0k commented on #126
I haven't encountered it at all lately, so I'll close once.

[2021-08-31 13:39] #126 closed

[2021-08-31 14:26] utam0k commented on #226
I'd like to measure the coverage of the cgroups directory as well, but is it difficult?
As far as the current page is concerned, it only measures below src. I would like to measure cgroups as well if possible.
https://app.codecov.io/gh/containers/youki

[2021-08-31 18:06] yihuaf commented on #252
Absolutely. The goal for this is to track what's left. seccomp and apparmour likely will require some effort. Maybe uid_mapping and rootfs propagation can be a good first issue.

[2021-08-31 18:16] yihuaf opened #255 "Pass uid_mapping test"
## Overview
`uid_mapping` integration test currently fails. However, all the failure seems to be related to mount device having the wrong type, not related to `uid_mapping` itself.

# Goal
Pass the [uid_mapping](https://github.com/opencontainers/runtime-tools/tree/master/validation/linux_uid_mappings) integration test in runtime-tools.
If you comment in this part and the test passes, you are all s

[2021-08-31 18:25] yihuaf opened #256 "Pass rootfs propagation test"
## Overview
Need to pass the linux_rootfs_propagation integration test

# Goal
Pass the [rootfs propagation](https://github.com/opencontainers/runtime-tools/blob/master/validation/linux_rootfs_propagation/linux_rootfs_propagation.go) integration test in runtime-tools.
If you comment in this part and the test passes, you are all set.
https://github.com/containers/youki/blob/ef4b7932e80a91c67503325a

[2021-09-01 07:17] MoZhonghua commented on #230
@Furisto I think it's better to assign this issue to you, I'll be busy with work and don't have many time for this.

[2021-09-01 10:57] chenyukang commented on #234
Removed `nix` from PR : https://github.com/containers/oci-spec-rs/pull/49

[2021-09-01 17:36] yihuaf commented on #239
#243 merged

[2021-09-01 17:36] #239 closed

[2021-09-01 19:10] Furisto commented on #230
@MoZhonghua Sorry to hear that. Please feel free to contribute again when you have more time.

[2021-09-02 07:04] duduainankai commented on #249
/assign

[2021-09-02 07:13] utam0k commented on #249
sure!

[2021-09-02 12:31] guni1192 commented on #225
@utam0k

`oci-spec-rs` and `youki` seem to use different rust toolchain.

`oci-spec-rs` v0.4.0 using unstable of rust features.

[code]

Therefore, `oci-spec-rs` must use nightly rust.
Now, `oci-spec-rs` use nightly rust on CI.
https://github.com/containers/oci-spec-rs/blob/a7b03bd2c7a20303550f9a0a5b4d17aa14ef7a77/.github/workflows/ci.yml#L78

However, youki uses stable rust on CI.
https://github.

[2021-09-02 12:53] guni1192 commented on #225
@utam0k Oh, sorry. My rustc is an old version(1.52.0)
After `rustup update`,  I did `cargo build` .
That error didn't happen!
Thanks!

[2021-09-02 12:53] utam0k commented on #225
@guni1192 np :+1:

[2021-09-02 13:10] guni1192 commented on #225
`FreezerState` has been removed from oci-spec-rs
https://github.com/containers/oci-spec-rs/pull/20

I'm thinking of porting it to `cgroups` crate if I implement it, is that ok?

[2021-09-02 23:09] humancalico commented on #140
Hey @utam0k @yihuaf could it be that this might be already implemented? I tried uncommenting https://github.com/containers/youki/blob/6dfad07c024bb93b202cdc96fb37e6db5aa6c98b/integration_test.sh#L40 and running the `integration_test.sh` script and it seems like the tests are running fine. Could you verify this?

[2021-09-03 01:37] yihuaf commented on #140
Test is not running OK for me:
[code]

[2021-09-03 13:43] utam0k commented on #225
@guni1192 I owe you an apology. There may be another new version released. There is a possibility that this version will have a major change that will make the builder pattern the default. However, your efforts to upgrade to `0.4.0` will not be in vain.
The transition from `0.4.0` to `0.5.0` may be a bit tedious. Would you like to try it? If it looks boring, you can support up to `0.4.0` for once.

[2021-09-03 15:30] guni1192 commented on #225
@utam0k I'm in the process of working on this issue, but some of the fixes are taking a while.
I'm currently taking some time to fix a destructive change that caused `FreezerState` to disappear from `LinuxResource` in `oci-spec-rs`.

The transition to `0.5.0` is also quite interesting.
I'll start working on it as soon as I'm done migrating to `0.4.0`, if that's okay.

[2021-09-05 02:36] utam0k commented on #225
Of course! Thank you very much. I'm looking forward to your PR :)

[2021-09-05 10:48] guni1192 commented on #225
@utam0k Hi, I would like to discuss a policy to fix a disruptive change in the oci-spec-rs update.

In oci-spec-rs, it was changed so that `caps::Capability` is no longer used for the type representation of `Capability`.
There are two possible implementation plans for youki.

- One is to create a layer to convert `caps::Capability` from `oci_spec::LinuxCapability`.
- The other is to change the imp

[2021-09-05 13:20] utam0k commented on #225
@guni1192 Because I don't see any problem with dependence on the `caps` crate,  I prefer to create a layer that converts to `caps::Capability`. I think it is fine to use the `From` trait.
The only reason we removed the dependency on caps in `containres/oci-spec-rs` is to make the `oci-spec` crate a more generic crate, so don't worry about it.

[2021-09-05 14:56] guni1192 commented on #225
@utam0k OK. I understand.
I'll use the `From` trait.

[2021-09-06 06:24] #249 closed

[2021-09-06 08:42] guni1192 commented on #225
It should not have been possible to define a trait for a structure or enum defined in an external crate.
It is not possible to implement the `From` trait in youki source code for `caps::Capabilitiy` and `oci_spec::runtime::Capability`.
Therefore, I have implemented a temporary helper function in `src/capabilities.rs`.
If I have a better idea, I'll switch to it.

[2021-09-06 12:47] utam0k commented on #225
Oops... You can use a helper function, or you can define a trait as shown in utils and have it implemented and extended.
https://github.com/containers/youki/blob/3cffe18944b3a0607c0a88a4322fee870f4b53fe/src/utils.rs#L16-L20

[2021-09-06 15:57] chenyukang commented on #140
This is duplicated with #227 .

[2021-09-06 15:58] chenyukang commented on #140
Sorry, I didn't notice you are working on it.

[2021-09-06 16:01] #227 closed

[2021-09-06 16:02] #140 closed

[2021-09-06 16:59] guni1192 commented on #225
It's a good idea. I try it.
Thanks.

[2021-09-07 13:58] utam0k opened #279 "Increate the code coverage of `src/` to 75%"
## Why?
Since youki is a container runtime, it is software that should be security-sensitive. Therefore, it should be covered as much as possible by unit tests to avoid bugs as much as possible.
However, because it is a container runtime, it is difficult to write unit tests because it is difficult to handle mocks. In other words, this is a challenge. It is also a chance to design well.

## How to

[2021-09-07 17:12] YJDoc2 opened #282 "Set up utils and port one integration test"
As we are trying to port the integration tests to rust, we have created test framework, as well as set up container lifecycle tests in #186 . Now we have to set up utils required to port rest of the tests and set up one of the integration test to show as a template. After this we can create a tracking issue and open tickets for rest of the tests as well.

[2021-09-07 19:03] yihuaf opened #284 "Github action error: Error when evaluating 'strategy' for job 'check'."
[code]

First observed in https://github.com/containers/youki/actions/runs/1210634803.

The change is a readme change, so likely it is not caused by the PR.

[2021-09-08 04:59] YJDoc2 commented on #284
Yes , it is not caused by the PR itself.
The reason behind it is :

currently the CI first runs a job called `changes` which checks which specific directories have changed : https://github.com/containers/youki/blob/main/.github/workflows/main.yml#L10-L23

This maps the files changed according to path and maps them to provided values, which in our case are directories. These values are given as out

[2021-09-10 01:43] tommady commented on #255
Hi, I am a newbie of container runtime wanna do some practice, is it suitable for me to take this issue for practicing? 🙇🏻

[2021-09-10 01:51] yihuaf commented on #255
This is may involve some work and time, but I would encourage you to give it a try. I would suggest you first to read the diagram we have in the README and the `src/container/builder_impl.rs` and `src/process/init.rs` to get a sense of how a container is created. After that, run to run the integration test locally and see the failure and logs. `./integration_test.sh uid_mapping` after you uncommen

[2021-09-10 05:11] tommady commented on #255
hi @yihuaf,
I just did what you guided me to from the current main branch:
1. uncomment the **"linux_uid_mappings/linux_uid_mappings.t"** at integration_test.sh:53
2. run `./integration_test.sh uid_mapping`

and the result that comes out to me is like below
[code]

I am not sure if this means the test passed from my local❓
please guide me if I did something wrong.

thank you

[2021-09-10 05:15] yihuaf commented on #255
Did you check all of the tests? It is a long list lol.

It is possible some changes went in that fixed the test. As mentioned, the test was failing for some other reason, not directly uid mapping related. If so, please create a PR and see if CI also passes.

[2021-09-10 05:48] tommady commented on #255
sorry to make you confused...
ya, there has six not ok cases,
thank you for the guidance.

[2021-09-10 20:01] yihuaf commented on #255
Yes, that looks like what we observed earlier. Let us know if you are stuck.

[2021-09-11 06:25] utam0k commented on #255
Special thanks @tommady

[2021-09-11 08:12] tiqwab commented on #256
Can I take it if no one started yet?

[2021-09-11 08:15] utam0k commented on #256
@tiqwab No one has started yet. I will assign you.

[2021-09-11 08:40] #226 closed

[2021-09-11 11:04] tommady commented on #279
Hi @utam0k ,
may I take this challenge (or part of it)?

I am very inexperienced on both 1. the rust and 2. the container runtime.

about the rust, I only have some small contributions to
* [spodifyd](https://github.com/Spotifyd/spotifyd)
* [ta-rs](https://github.com/greyblake/ta-rs)
* [gbdt-rs](https://github.com/mesalock-linux/gbdt-rs)

and a small project I owned
[fugle-rs](https://github.com/t

[2021-09-11 13:19] utam0k commented on #279
@tommady Of cource! Can I ask you to try adding tests to it?
https://codecov.io/gh/containers/youki/src/main/src/capabilities.rs

[2021-09-11 14:43] #284 closed

[2021-09-12 08:33] #225 closed

[2021-09-12 08:47] utam0k opened #295 "Refactoring the code for intermediate and init process handling"
# Goal
These two processing parts are very difficult to write tests for, but they are the places where tests should be written. I would like to expand the tests while refactoring them.

related https://github.com/containers/youki/issues/279

[2021-09-12 08:48] utam0k commented on #295
I'm looking for ideas for refactoring.

[2021-09-12 09:42] Furisto commented on #295
- For stuff like sysctls that just write to files introduce a file system facade that is replaced by a mock when testing
[code]
- Likewise for things like readonly paths we can extend the syscall mock that we already have to e.g. check that the expected mounts have been executed with the right parameters. With proper use of generics we can even avoid having to box the abstractions.
- Another optio

[2021-09-12 09:47] utam0k commented on #295
@Furisto Thank you very much. These are issues that we need to think about too. I think I should also rethink the directory structure a bit. It would be nice to have a great name for the init and intermediate processes together. What do you think?

[2021-09-12 09:58] Furisto commented on #295
The structure seems alright to me, how would you like to change it?

[2021-09-12 10:32] utam0k commented on #295
I think that at least init and intermediate should be separated by file or module.

[2021-09-12 12:40] chenyukang commented on #295
I think the structure is alright, but why cgroup is in top level of the repo?

[2021-09-12 13:16] utam0k commented on #295
I'm going to try not to make too many changes since people didn't seem to find it a big problem. Thanks for the input.

This is because we believe that group can eventually be provided as a crate, just like oci-spec-rs. Also, having a separate crate has the advantage of speeding up compilation in some case.

[2021-09-12 17:04] yihuaf commented on #255
@utam0k I don't think this issue if fixed yet. I think @tommady was confused since the output list is very long and he missed the `not ok`, 6 out of 265.

@tommady Do you still want to work on this?

[2021-09-12 17:06] yihuaf commented on #255
Ignore what I said: fixed by #289

[2021-09-12 17:06] #255 closed

[2021-09-12 17:20] yihuaf commented on #295
First of all, I think this code path is heavily tested by the integration tests, so the priority is not that high in terms of confidence that the code works. With that being said, we should definitely increase unit tests, even just for better debugging for ourselves. Mocking syscall is one way, but I think it will only making sure the syscall is invoked. To be more thorough, we need to
1. fork a p

[2021-09-13 02:44] tommady commented on #279
hi @utam0k please help to review #296
thank you 🙇🏻

of course, I'd glade to

[2021-09-13 14:03] utam0k commented on #279
@tommady Can I ask you to update the test coverage for this file?
https://app.codecov.io/gh/containers/youki/blob/main/src/hooks.rs

If you want something more difficult, I can ask for the most difficult, init.rs or intermediate.rs. Please take a look at these files after you have done the previous ones first and let me know if you want to try them. Implementing unit tests for these files will be

[2021-09-13 14:05] utam0k commented on #295
Wow, I'm interested in this. However, we can get feedback faster by running unit tests than by running integration tests. I'm not saying perfect code coverage, but I think we should try to do as much unit test effort as possible. I believe this will help future developers include me and encourage loosely coupled code.

[2021-09-13 20:21] yihuaf commented on #295
I understand. And I agree we should write as many unit tests as possible, and that will allow us to think about the test-ability of our code. In that way, I think we should be mindful about breaking syscalls into their own functions and we can test that. Example would be `readonly_path` and etc. For the intermediate and init process, I think `mock` syscalls is probably easier to do.

[2021-09-14 14:05] utam0k commented on #295
That's right. My initial codes were not well organized in this area, and I ended up in this state. I'd like to organize them out a bit. By mock syscalls, do you mean the current `src/syscall/tests.rs`?

[2021-09-14 16:05] yihuaf commented on #295
That's what I imagined. If we use test syscall to mock everything, then we would run the intermediate and init to completion without invoking the actual syscall. At the end, we just check if each syscall is called. Not sure how much this will achieve though, compared to the integration test which will test for the correctness. Breaking the syscall out into their own testable unit probably will ach

[2021-09-14 23:07] yihuaf commented on #279
For hook.rs, there is a test that tests the timeout path, but it's skipped at the moment. The min timeout is 1 second, so the unit test would take at least 1 second to run. I wasn't sure if we should include that. Maybe remove the #[skip] and try again for the coverage first?

[2021-09-15 01:04] tommady commented on #279
hi @yihuaf
I have a chat with @utam0k ,
and we agreed that changing the timeout of oci_spec.Hook

from current
`timeout:  Option<int64>`
to
`timeout: Option<time::Duration>`

is a better way.

because:
1. the naming and the type will not get confused by other people.
2. this way can make the timeout testing easier because we can define our own Duration

What do you think?

[2021-09-15 01:12] yihuaf commented on #279
Go ahead. SGTM :)

On Tue, Sep 14, 2021 at 6:04 PM tommady ***@***.***> wrote:

[2021-09-15 03:09] yihuaf opened #299 "[Tracking Issue] Upgrade `oci-spec-rs`"
There are a few major and breaking changes since `oci-spec-rs` repo is broken off. We should catch up as soon as possible to avoid bigger gap. Using this as tracking issue.

- [X] Upgrade to 0.4.0 #266
- [x] Upgrade to 0.5.0 #303
- [x] Upgrade to 0.5.1 #303
- [ ] Upgrade to 0.5.2 #329

[2021-09-15 13:39] utam0k commented on #299
@guni1192 Has development already started?

[2021-09-15 14:28] utam0k commented on #295
Yes, I totally agree with your opinion. In the long run, I believe unit tests will benefit us differently than integration tests.

[2021-09-15 21:56] yihuaf opened #300 "Pass linux_process_apparmor_profile integration test"
## Overview
Need to pass the linux_process_apparmor_profile integration test

# Goal
Pass the [apparmor](https://github.com/opencontainers/runtime-tools/blob/master/validation/linux_process_apparmor_profile/linux_process_apparmor_profile.go) integration test in runtime-tools.
If you comment in this part and the test passes, you are all set.
https://github.com/containers/youki/blob/ef4b7932e80a91c6

[2021-09-16 00:14] utam0k commented on #300
@Furisto may have already started developing this.
https://github.com/containers/youki/issues/252#issuecomment-909166445

[2021-09-16 11:43] #25 closed

[2021-09-16 20:10] yihuaf commented on #299
If @guni1192 hasn't started, I can help to finish this. This is probably a higher priority.

[2021-09-16 20:11] yihuaf commented on #300
@Furisto I see a lot of things on your plate. Let me know if I can help with this one or any other.

[2021-09-16 22:28] Furisto commented on #300
I have started working on this but encountered some difficulties. Runc also fails this test on my system with the same error as my solution. Considering that this I use the same distro as our CI I expect the problem to manifest also there. I will continue to investigate this. Should I not be able to make progress until next monday, I will open this up to anyone else who is interested.

[2021-09-17 01:55] guni1192 commented on #299
@utam0k @yihuaf
The cgroup crate has been updated to oci-spec-rs 0.5.1.
Work is in progress on youki.
There may be a lot of rewriting of tenant_builder.rs.
I'm trying to submit a Draft PR on Saturday.

[2021-09-17 14:43] utam0k commented on #299
@guni1192  Is it possible to send out PR only for cgroups first? I believe separate PRs for `src` and `cgroups` would be simpler to review.

[2021-09-17 23:25] guni1192 commented on #299
@utam0k OK, I'll give it a try.
However, it may fail to resolve some dependencies.

[2021-09-19 01:13] utam0k opened #307 "seccomp notify"

[2021-09-19 01:13] utam0k commented on #307
@yihuaf Are you interested in this?

[2021-09-19 01:54] yihuaf commented on #307
I will take this.

[2021-09-19 20:15] Furisto commented on #300
Ok, got it. The test uses an apparmor profile that does not exist. We need to create it ourselves and install it before the test is run.

[2021-09-20 03:57] yihuaf commented on #300
Great find. May be manually verify it with installing the required apparmor profile and adds a comment to integration_test.sh? We will have our own integration framework done soon and will start porting the tests. I don't think it is worth it to put it into the CI workflow.

[2021-09-20 15:24] #256 closed

[2021-09-20 19:42] Furisto opened #313 "Capitalization of error messages"
We have mixed capitalization in error messages in youki e.g.
[code]
I so far have used lowercase with no period because that is what is described in the [api guidelines](https://github.com/rust-lang/api-guidelines/issues/79) and also what the compiler itself [uses](https://github.com/rust-lang/rust/issues/442). Personally I do not really care what we use as long as we do it consistently.  We do no

[2021-09-20 23:19] yihuaf commented on #313
I think we should follow the api guideline. I don't really have a preference either way, but I agree we should standardize it. The api guideline looks reasonable and something we can point to in the future.

[2021-09-20 23:19] yihuaf commented on #300
Fixed by #312

[2021-09-20 23:19] #300 closed

[2021-09-21 00:30] utam0k commented on #300
@yihuaf I want to track it so that I don't forget to create the original integration test. How about using this issue to complete that?

[2021-09-21 00:37] yihuaf commented on #300
@utam0k We certainly can. With that being said, I think we will have to port over all integration tests to our own framework, and this app armor test is only one of the 50ish tests. We also have a number of tests don't pass for runc and are commented out at the moment. May be we should create separate issues for the porting effort? I am sure we will not forget about this, since we have the list in

[2021-09-21 05:34] YJDoc2 commented on #313
I don't have a preference, but agree that we should have some consistent formatting.

I'd suggest rather than fixing messages in a dedicated commit, and possibly causing conflicts, let us update message in whichever files we change, and uphold this formatting in new PRs, that way eventually most/all messages will confirm to this.

[2021-09-21 06:14] YJDoc2 opened #316 "Discussion for addition of Code coverage in integration tests"
Currently we use cargo tests along with cargo-llvm-cov in CI to generate code coverage report. Even though it provides a good way to measure coverage, currently not all functions are tested, and in fact some are very hard to test.

Thus, should we think of using the OCI validation tests as well to generate the data? I asked the maintainer of cargo-llvm-cov if taking coverage report from an externa

[2021-09-21 06:53] rganesan opened #317 "Support running Youki in foreground mode"
I'm trying the tutorial steps:

[code]

After this instead of changing the process args in config.json, I set terminal to true and try the following runc command `runc run [command options] <container-id>`. I just ran `sudo runc run 1` (where 1 is the container-id I picked). This runs the container and shows the shell prompt from the container as expected.

[code]

With youki, I get first the cont

[2021-09-21 13:06] utam0k commented on #316
How about using debug builds for PR and other CI, and automatically running tests with release builds on the main branch once daily?

[2021-09-21 13:15] utam0k commented on #313
You're right, it's better to unify. If we are going to unify, we want to follow the api guidelines. It would be great to have a tool to check them.
This is a bit off topic, but I'm also thinking a bit about introducing thiserror.

[2021-09-21 13:22] utam0k commented on #279
Sure! I look forward to your PR. I believe the following codes help you.
https://github.com/containers/youki/blob/88879550370e48d1cb20041b3f66b4e714ef9c40/src/container/builder_impl.rs#L197-L290

[2021-09-21 15:26] Furisto commented on #313
Great! Then the decision is to follow the rust api guidelines and use lower case for error messages.

[2021-09-21 15:26] #313 closed

[2021-09-22 03:38] yihuaf commented on #316
I think this is reasonable. I think debug build for CI, validation, and coverage. I don't think we need to run coverage again for release build.

[2021-09-23 07:09] zidoshare opened #321 "Vagrant error"
When I use Vagrantfile to start the VM, it returns Killed when it executes yum install git gcc docker systemd-devel dbus-devel. I think this is the reason why the memory is too small, I think the memory configuration should be increased in the Vagrantfile。

In addition, it will display `Module yaml error: Unexpected key in data: static_context` when performing the installation. I ran `yum update`

[2021-09-23 07:29] #321 closed

[2021-09-24 13:38] YJDoc2 opened #328 "Invalid TLB configuration still creates cgroup, and youki process"
@utam0k @Furisto @tsturzl please take a look

I was implementing HugeTLB test as part of #282, and for the invalid TLB version, as per https://github.com/opencontainers/runtime-tools/blob/master/validation/linux_cgroups_hugetlb/linux_cgroups_hugetlb.go#L62-L89 I found an issue :
When testing with runc, the runc process starts, founds out that the TLB config is invalid, and exists with message :
[c

[2021-09-24 16:04] Furisto commented on #328
Thanks for the report, I will take a look.

If the path is absolute it has to be "cgroup mount point/cgroup_path", so that would not be correct. If it is relative, this  can be added to a runtime determined location in the hierarchy but for us this should also be "cgroup mount point/cgroup_path".

[2021-09-24 21:16] Furisto commented on #328
@YJDoc2 Are you providing a cgroup path? "Youki" should only be added if no cgroup path is provided. Runc deletes the cgroup if an error is encountered during container creation. I will adapt our code so that it behaves similarly.

[2021-09-25 04:21] YJDoc2 commented on #328
@Furisto No, I am not providing any explicit path for cgroups. To be exact, the command that is run is
[code]
where ID is replace by the container id, and rumtime_cmd is either runc or youki.

This exact command makes runc create a directory in /tmp with ID, and with correct config, a cgroups at path `/sys/fs/cgroup/hugetlb/ID` and keep a runc process running in background for valid configuration.

[2021-09-25 06:18] guni1192 opened #329 "Fetch oci-spec-rs from crates.io."
Fetch oci-spec-rs from git, not from crates.io.
We are using git hash to modify the version of oci-spec-rs.
This is because a version incorporating this PR (https://github.com/containers/oci-spec-rs/pull/69) has not yet been released.
We will update the minor version of oci-spec-rs as soon as it is released.

ref: #303

[2021-09-25 08:29] utam0k opened #331 "Run tests used in various high-level container runtimes"
## Overview
The actual use of youki is high-level container runtime. So the ci should be included to make sure that it can be used with some of the major high-level container runtimes.

## Target
- Docker
- Podman
- containerd
- cri-o

[2021-09-25 08:30] utam0k commented on #14
This issue has served its purpose well.
Special thanks @YJDoc2

[2021-09-25 08:30] #14 closed

[2021-09-25 08:44] tommady commented on #279
hi, as discussed with @utam0k
I'll be going to add unit tests for
1. src/rootfs.rs
2. src/container/container.rs

thanks!

[2021-09-25 09:31] utam0k opened #332 "Support for cgroup mount types"
We are looking for a challenger for this issue.

We will have to look at the runc code to determine what needs to be done.
https://github.com/containers/youki/blob/4224d5635dccc345ca6864fe661527a251b1a08b/src/rootfs.rs#L57-L59

[2021-09-25 14:35] Furisto commented on #332
Looks like we need to add the Init process to the cgroup from Main, then notify Intermediate that we have done so, which will send it to Init. Init in the meanwhile is waiting to receive the notification that the cgroup has been applied, then it can proceed with setting up rootfs.

[2021-09-25 14:38] utam0k commented on #332
Did you read the runC code? I you don't mind, can you give me a link to the code that handles that area?

[2021-09-25 15:05] Furisto commented on #332
Looks like they somewhat recently reworked the code in that area and I was looking at an outdated version but these commits give a good overview:
- https://github.com/opencontainers/runc/commit/df3fa115f97407713ec6ebe37a5ccf13b81dafd2
- https://github.com/opencontainers/runc/commit/5110bd2fc026c0a9849e35322d5b81a3f28c716d

[2021-09-25 17:07] Furisto commented on #328
I think runc creates the cgroup but then [deletes it on error](https://github.com/opencontainers/runc/blob/e999e29a288630b5dfbfd8bc789975e5b94e6102/libcontainer/process_linux.go#L400-L405). I kind of liked that containers were grouped under the youki directory, but I guess we should follow the lead of runc here.

[2021-09-25 23:03] Furisto commented on #332
I can take this

[2021-09-26 00:47] yihuaf commented on #317
We don't have complete support for foreground at the moment. Fixing will take a bit time.

[2021-09-26 14:46] zidoshare opened #337 "Delete a container that has been created but is not running"
Why is it not allowed to delete a container that has been created but is not running?

when I run
[code]

This is successful in runc：

[code]

[2021-09-26 17:56] Furisto commented on #337
You can delete it if you specify --force. The runtime spec specifies that trying to delete any container that is not in state stopped [must create an error](https://github.com/opencontainers/runtime-spec/blob/master/runtime.md#delete). So if runc allows that, it is a violation of the spec.

[2021-09-26 21:24] #252 closed

[2021-09-27 01:44] #328 closed

[2021-09-27 07:13] zidoshare commented on #337
I understand, I will close this issue

[2021-09-27 07:13] #337 closed

[2021-09-27 21:11] nasirhm commented on #331
Sure, I would like to work on it.

[2021-09-28 13:07] Ofenhed opened #342 "Faulty Path/String assumptions"
I've noticed multiple bugs regarding data types in utils.rs. Since they are of the same type, I made it a single ticket.

[First bug](https://github.com/containers/youki/blob/884428a0444a122c406ee6caf378f4a4d33ea08b/src/utils.rs#L41) appends two paths with the `format!` macro instead of using [`Path::join`](https://doc.rust-lang.org/std/path/struct.Path.html#method.join).

[Second bug](https://git

[2021-09-28 14:17] Furisto commented on #342
Thanks for the report. Would you be interested in fixing it?

[2021-09-28 17:02] Ofenhed commented on #342
In the near future I'm afraid I wouldn't have time for that.

[2021-09-28 19:23] nasirhm commented on #331
Thank You @utam0k , Are we planning to set up CI Pipelines to test Youki with Docker, Podman, Containerd and CRI-O ?

[2021-09-28 23:25] yihuaf commented on #342
I can help fix this. I've noticed this before and have a feeling we have to revisit some of this code.

[2021-09-28 23:46] utam0k opened #344 "Create a flat design version of the icon 🙏"
I'm not very good at design, so I'm looking for someone who is good at it. Please refer to the README logo for an image.

[2021-09-29 02:06] #282 closed

[2021-09-29 02:09] utam0k commented on #331
Yes, however,  if you have a better way, that is fine.

[2021-09-29 23:13] yihuaf opened #346 "Implement secure join"
We need a `secure_join` implementation that's similar to `https://github.com/cyphar/filepath-securejoin`. In short, this function guarantee `secure_join(rootfs, path)` the `path` is within `rootfs`. When `path` is `../../` or other malicious symbolic links, it can cause youki to make changes outside of rootfs, creating security issue. This can be a follow up to #342

An example of usage in runc:

[2021-09-30 11:04] Ian-Yy commented on #346
Hi, I'm quite new to youki. Can I try to work on this?

[2021-09-30 17:13] yihuaf commented on #346
@Ian-Yy Sure. Do you know where to start? Please don't hesitate to ask us on how we can help you.

[2021-10-01 04:33] Ian-Yy commented on #346
@yihuaf I will try going through the code first. Thanks.

[2021-10-01 08:39] Ian-Yy commented on #346
Hi @yihuaf , correct me if I am wrong. This task require me to implement a new function ```secure_join``` in the trait ```PathBufExt```? Is that right?

[2021-10-01 15:59] hle0 commented on #279
Hi, I'd love to try my hand at this. I don't have experience with youki, but I do have a tiny bit of experience with rust (few dozen hours maybe, a lot of that is documentation reading). Is there anything I could do? Thank you!

[2021-10-01 16:51] yihuaf commented on #346
Yes that's a very good idea. Or you can just implement a function `secure_join(rootfs: Path, path: Path)` as a single function.

[2021-10-01 17:01] yihuaf opened #351 "Implement From<Spec> for SpecBuilder"
We really need this so we don't have a lot of boiler plate code when modifying the spec.

Or waiting on this PR https://github.com/colin-kiegel/rust-derive-builder/pull/215 from derive-builder.

[2021-10-01 17:51] yihuaf commented on #279
Welcome :) Since you are new, I would suggest take a look at https://app.codecov.io/gh/containers/youki and see where the coverage is low. Then read the code and see if you can help writing tests. Also let us know if any comments is not enough to understand what the code is doing.

Once you are done with that, then let us know what function you would like to help write the test for. I would sugges

[2021-10-01 18:13] Ian-Yy commented on #346
Sorry but there's one thing I'm quite unsure of now. The implementation of ```secure_join``` in ```https://github.com/cyphar/filepath-securejoin``` uses a lot of ```filepath.Clean``` and we do not have it in Rust. I saw there's a crate [https://docs.rs/path-clean/0.1.0/path_clean/index.html] that does exactly the same as Go ```filepath.Clean``` but is quite old. Should I use this crate or code it?

[2021-10-01 18:17] yihuaf commented on #346
Let's use it to at least prototype.

[2021-10-02 18:46] Ian-Yy commented on #346
Hi @yihuaf , I've done with a prototype with some tests for it. After working on it for some time, I realized I don't need to use the crate ```path_clean``` as mentioned above. Please let me know if there's anything wrong with the PR.

[2021-10-03 06:17] utam0k commented on #279
@hle0 Hi! welcome. I'm sorry for the delay in getting back to you. How about this file? If you feel that this is too easy, please contact me. I can prepare a more difficult one for you.

[2021-10-04 13:51] YJDoc2 opened #361 "[Tracking Issue] Implement Integraion Tests"
As per #56 , we are porting the OCI validation tests into rust. This is the tracking issue for the same.
The folder /youki_integration_test contains the currently implemented tests which are lifecyle, creation and huge_tlb

Here is the documentation for developing the integration tests:
https://youki-dev.github.io/youki/developer/e2e/rust_oci_test.html

**Please only work at one test at a time, an

[2021-10-04 13:52] YJDoc2 commented on #361
Waiting for #360 , which moves test_framework into youki_integration_test, but other than that , ready for individual test claiming.

[2021-10-04 13:56] dolmen commented on #279
Coverage had dropped to 68%. Merging pull request that decrease code coverage should be blocked.

[2021-10-04 16:19] #346 closed

[2021-10-04 21:31] #351 closed

[2021-10-04 23:24] yihuaf commented on #299
Use #329 to track.

[2021-10-04 23:24] #299 closed

[2021-10-04 23:48] yihuaf commented on #234
Fixed

[2021-10-04 23:48] #234 closed

[2021-10-05 00:31] utam0k commented on #279
It is possible for code coverage to drop as new files are added. There is a trade-off between that and increased test coverage. There are a few files that can easily increase code coverage. If you do that, you can easily reach 70%.
However, this issue is a means to an end, not an end in itself, to increase test coverage. The goal is to refactor the structure to be more testable. Think of 75% as ju

[2021-10-05 07:57] utam0k commented on #361
@YJDoc2 That's great! It would be a good idea to add a link to the sample implementation you implemented to the description of this issue.

[2021-10-06 02:26] tsturzl commented on #361
I'll have some free time soon and I'd love to pitch in on this effort! I think this tooling will be a force multiplier and I think it's really impactful. Are there any pain points that I could tackle that anyone can think of that might not be a good first issue? Otherwise I'm more than happy to just jump in on cgroups controllers where I'm pretty familiar.

[2021-10-06 04:10] tsturzl opened #366 "Youki build fails on platforms using libseccomp version lower than 2.5"
My system uses libseccomp 2.4.3. This is specifically missing `seccomp_notify_fd` which is included in the binding as well as used by youki. So currently the build fails with a lot of confusing link time outputs. I think there are two things we need to consider here. Firstly, we should really make changes to check for the proper libseccomp version on the system before building, and then provide be

[2021-10-06 04:13] tsturzl commented on #366
This is the build error: https://gist.github.com/tsturzl/084af46412bb0af1b0cb287baaf01d7e
This is probably the most interesting excerpt:

[code]

[2021-10-06 05:47] yihuaf commented on #366
Follow up discussion
1. What minimum version should we support?
2. Someone also brought up this before, but should we also build libseccomp as part of the build, instead of relying on the host? We would get libseccomp as a submodule and invoke build. This will make a `build.rs` a bit more complicated but it will be isolated to the seccomp. I know @utam0k mentioned not to complicate the `build.rs`,

[2021-10-06 05:49] yihuaf commented on #366
I will also do some research on how `runc` and `crun`, since they would have to solve this problem as well. As a guiding philosophy, we should follow what they do unless we have a clear reason not to.

[2021-10-06 06:05] tsturzl commented on #366
These are great points. If we can vendor libseccomp then the version really only depends on the kernel support yeah? And I believe there is an unofficial rule that we're supporting whatever the mainline kernel for the latest Ubuntu LTS is, simply because that's what a lot of people are using and it's usually somewhat conservative.

One thing to keep in mind, if we vendor and distribute the libsecc

[2021-10-07 13:01] utam0k opened #369 "Decide which architectures to support, etc."
- Distros: which distros do are we expect to support at which versions? Different distros have different system libraries and kernels.
- Kernel: which minimum kernel version are we supporting? I know we talked about this, but maybe just getting something official and written down somewhere.
- Architecture: Some architectures might not support certain features, which architectures should we conside

[2021-10-08 02:53] yihuaf commented on #369
We should also differentiate short term and long term, perhaps? Limiting what we support in short term can allow us to focus on building new features. For long term, we can be more flexible.

[2021-10-08 02:54] yihuaf commented on #329
@utam0k I was thinking may be we should maintain git commit hash for this until `oci-spec-rs` is stable? It seems that we constantly are finding kinks to iron out between the spec repo and youki.

[2021-10-08 05:31] YJDoc2 commented on #361
Hey @tsturzl , sorry for late reply. Currently there are no obvious pain points that I know, and as you are already familiar with cgroups, it'd be great if you can work on those tests. Also if you take any test from the first list (which oci-tools have) please comment here, so we can keep track.

@utam0k  I am a bit busy for few days, but after that I'm planning to work on either pid test or ns_it

[2021-10-08 11:52] utam0k commented on #361
@WormOn
Sure. I assigned you.

[2021-10-08 12:58] utam0k commented on #329
I agree with you :+1:

[2021-10-08 21:01] tsturzl commented on #361
I'll start off with `linux_cgroups_cpus`, I think it will be an easy one to start off with.

[2021-10-08 23:40] #329 closed

[2021-10-13 08:44] yihuaf opened #382 "Put libseccomp behind a feature flag"
If libseccomp is not supported, we should provide a way to disable it in Youki. Also this will help in the case that we want to support older kernel version without libseccomp support.

[2021-10-14 09:12] #332 closed

[2021-10-14 13:04] rosds opened #385 "Container IDs with ':' cause an issue in `procs` crate when getting their `cgroup` configuration"
Hi everyone,

I was having issues creating containers in `youki` with a ':' in their identifier. It fails with an error of "no such file or directory" for the cgroup directories. Turns out the issue was originated in the `procs` crate. Submitted the fix [here](https://github.com/eminence/procfs/pull/152).

The solution would be to update `procs`'s version to `0.11.0`

[2021-10-14 22:30] #385 closed, assigned to nobody

[2021-10-16 09:34] utam0k commented on #369
@yihuaf @tsturzl @Furisto @YJDoc2
Thanks for all input.
As for OS support, only Linux is fine. However, this should be considered when someone is motivated to support other OSes. I think it's worth considering.
Let's set s kernel version to 5.4 for once. However, it should be noted that the supported version may be increased if new features using io_uring are introduced.
There is a good chance tha

[2021-10-17 03:27] yihuaf commented on #369
Agree that we should increase the min kernel version supported in the future and we should not be afraid to do so. As far as architecture is concerned, I think we should focus on x86-64 first. I know many may be interested in Arm. Most of what we do are not architecture dependent, so supporting it should not be hard. I think other architectures are a nitch and accessing hardware of other architect

[2021-10-18 00:25] yihuaf opened #393 "Implement seccomp notify integration tests"
Ref: https://github.com/opencontainers/runc/tree/master/contrib/cmd/seccompagent
and
Ref: https://github.com/opencontainers/runc/blob/master/tests/integration/seccomp-notify.bats

[2021-10-18 10:51] yihuaf opened #396 "[Discussion] Share code between youki_integration_test and youki"
It is inevitable that the youki_integration_test and youki will share some code. For example, the definition of container state is already duplicated, as well as tempdir from util. Should we find a way to share code between youki and youki_integration_test?

One proposal is to make most part of Youki into a library crate and Youki binary as another crate. Then we can make youki_integration_test an

[2021-10-19 21:51] Furisto commented on #12
If @yihuaf wants to do the presentation, it is fine with me. I can join the call if I have time and would be available for questions.

[2021-10-19 22:41] utam0k commented on #12
@raravena80 @Furisto @yihuaf Thank you for your cooperation. Let's continue to communicate on this issue. I'll join the meeting when I have time.

@raravena80 What should we do next?

[2021-10-19 23:15] utam0k commented on #12
NP. I think I can participate.

[2021-10-20 05:16] utam0k opened #398 "Redesign status subcommand"
There is a lot of waste in the current status command.  It statically updates the state of the container process, but it's doesn't make sense because it is dynamically updated every time when this executes.

[2021-10-20 07:55] yihuaf commented on #396
This is almost exactly what I have in mind as well. A few minor things. How about we call `containers` crate `libcontainer` to reflect that it is a library crate? Should we separate integration tests and the test framework into first level crate as well?
[code]

[2021-10-20 09:37] Furisto commented on #396
I would like to do it. I have a free day tomorrow, so even if it turns out to be more complicated I should be finished tomorrow latest.

[2021-10-20 10:17] yihuaf commented on #396
Go right ahead then :)

[2021-10-21 04:43] utam0k commented on #396
Thanks for the great suggestion. Let's try it. `lib*` is a traditional name in the container runtime community, but I haven't seen it used elsewhere as a library much. Let's try to find a name that works best for us.
Please add me as a PR reviewer.

[2021-10-21 04:57] #398 closed

[2021-10-21 05:07] utam0k opened #400 "Using `thiserror`"
Considering using both `thiserror` and `anyhow` to show error messages more accurately.
It may be a little more challenging, but we are looking for a challenger.

[2021-10-22 03:46] yihuaf commented on #12
Nov. 4th works for me.

[2021-10-22 22:16] Furisto opened #404 "Switch to new Rust edition"
Now that a new rust edition has been [released](https://blog.rust-lang.org/2021/10/21/Rust-1.56.0.html) we should [switch](https://doc.rust-lang.org/edition-guide/editions/transitioning-an-existing-project-to-a-new-edition.html) to the new edition, provided we do not see an [increase](https://old.reddit.com/r/rust/comments/qdivb5/156_compile_time_is_through_the_roof/) in compile times.

[2021-10-24 00:47] #396 closed

[2021-10-24 11:24] chenyukang opened #423 "Add implementation for --log-format"
According to runc,
[code]

We have this option added in main.rs, but didn't take care of it currently.

[2021-10-29 13:46] unknowndevQwQ opened #442 "Dependencies issues for youki"
I'm writing arch linux pkgbuild files for youki, and I recently noticed that elfutils and libseccomp have been added to youki's dependencies, and I noticed that runc and crun are also relying on them, but I'm not sure if youki only needs elfutils and libseccomp for build time

[2021-10-30 02:47] utam0k opened #443 "Support for Intelrdt"
https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#intelrdt

[2021-10-30 13:42] unknowndevQwQ opened #444 "unsupported cgroup subsystem terminology style issues"
https://github.com/containers/youki/blob/d35fb3ceb926debc59dfc5e90b64b73fd32db99e/crates/libcgroups/src/v1/manager.rs#L35

According to the description in https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v2.html#terminology, cgroup is never capitalized, but the output in the log is capitalized, should we consider changing it

[2021-10-30 13:59] utam0k commented on #444
@unknowndevQwQ Are you interested working on this issue? If you don't have the time to fix it, I can fix it.

[2021-10-30 14:01] yihuaf commented on #442
You will need libseccomp both for building and running. I think we only need elfutils for building, but I am not sure. The best way to to try it.

[2021-10-31 01:31] unknowndevQwQ commented on #444
I have time, but I am not familiar with English

[2021-11-01 05:04] utam0k commented on #444
@unknowndevQwQ Don't worry. We'll support you ;)

[2021-11-01 12:21] #423 closed

[2021-11-02 03:35] unknowndevQwQ commented on #444
@utam0k  offtopic: Can you create a telegram group for general questions and discussion?

[2021-11-02 05:50] utam0k commented on #444
We have a discord group for the discussion and questions. How about this? There is the link of discord in README.md.

[2021-11-03 02:33] unknowndevQwQ commented on #444
Because electron, discord's client has unbearable lag in my case

[2021-11-03 04:41] yihuaf commented on #442
Please reopen if needed.

[2021-11-03 04:41] #442 closed

[2021-11-03 06:47] tsturzl commented on #361
I'm nearly done with the linux_cgroups_cpus integrations tests. I'd like to take on the memory cgroups tasks. I'd really like to fix a problem that currently exists in the current oci validations with these specific tests.

[2021-11-03 06:51] tsturzl commented on #361
Also, maybe we should limit the context of this tracking issue to cgroups v1 and just generally getting this on par with oci runtime-tools? Perhaps then we can open another tracking issue to detail out what cgroups v2 tests should look like and what needs to get implemented.

[2021-11-03 12:44] utam0k commented on #444
@unknowndevQwQ Can you use a browser?

[2021-11-03 12:49] unknowndevQwQ commented on #444
It's not a good experience for me, maybe my computer is too slow

[2021-11-03 12:56] utam0k commented on #444
I'm sorry, but I don't have the plan to create another community :cry:

Maybe you can use this issue.
https://github.com/containers/youki/issues/10

[2021-11-03 13:07] YJDoc2 commented on #361
Hey @tsturzl , sure you can take memory next :smile: , I'll assign it to you then.
It is a good idea that we use this only for tracking migration, and open separate one for cgroup v2, but I feel it'd be good to mention cgroups v2 here, until we have opened that issue, then we can link that here.

[2021-11-03 13:12] YJDoc2 commented on #361
Hey @WormOn, how is the implementation going? Let know if you need any help in working on the test implementation :+1:

[2021-11-04 02:16] unknowndevQwQ commented on #444
Ask a question about it in #10?

[2021-11-04 12:39] unknowndevQwQ commented on #10
Can we bridge discord and telegram?

[2021-11-05 08:43] yihuaf commented on #10
Can you elaborate on the reason/usecase? Can you also propose/research a solution on how would we do this? Without more context, we can't evaluate this question :)

[2021-11-05 14:05] unknowndevQwQ commented on #10
https://github.com/containers/youki/issues/444#issuecomment-959000243

https://github.com/TediCross/TediCross

[2021-11-05 14:45] utam0k commented on #10
@unknowndevQwQ
Thanks for your interest. I'm sorry, but I don't plan to support `TediCross` because few people need it. We aren't a company, so we believe that our operational resources should be minimized. I am sorry to hear that I could not meet your expectation :bow:

[2021-11-05 15:20] unknowndevQwQ commented on #10
I can provide resources to run tedicross

[2021-11-05 15:24] unknowndevQwQ opened #453 "bug: youki does not run through docker when adding some flags"
/etc/docker/daemon.json:
[code]

run `sudo docker --debug --log-level debug run --runtime youki --rm hello-world`

[code]

[2021-11-05 15:32] unknowndevQwQ opened #454 "Feature request: add `--debug` flag to enable debug logging"
It is useful to use youki as a model to observe some of the behavior of other OCI runtimes
Also this may help to find bugs in youki in the future

~~offtopic: I'm looking for the default folder location when runsc doesn't specify --root~~

[2021-11-05 15:33] unknowndevQwQ commented on #454
It's probably more like runsc's --debug and --debug-log

[2021-11-06 03:58] utam0k commented on #453
@unknowndevQwQ
Thanks for your report! It may be a bug, however, I don't predict what kind of behavior you are expecting.
Please let me know the expected behavior if you want.

[2021-11-06 04:28] chenyukang commented on #10
I'm some how curious about the performance comparing between `crun` and `youki`, here I tried with memory limitation:

[code]

[code]
will hung up.

More than 2M for `youki` will be Ok.

[2021-11-06 04:30] chenyukang commented on #10
Another issue I met is when we run with `podman` and `youki`, why we need sudo permission.
This command will failed with message:

[code]

[2021-11-06 04:49] unknowndevQwQ commented on #453
works fine and the corresponding flags work

[2021-11-06 07:24] tommady commented on #10
Hi @chenyukang,
I tried your two scenarios.

below are my results
[code]
[code]

what I did is build youki with cargo build --release, hoping this can resolve your problem.

[2021-11-06 07:42] chenyukang commented on #10
Yes, I also use current commit and with `--release`.

[2021-11-06 09:02] tommady commented on #10
hey @chenyukang,
I traced both logs with --log-level debug

I found out that youki will hang a bit longer than crun at this point
[code]

but the output of logs seems they went through exactly the same processes with exactly the same args.
after all, on my local computer, it is just a hang longer than crun, not hangup entirely.

I am very interested in this case, could you please open an issue the

[2021-11-06 11:37] stappersg commented on #10
On Sat, Nov 06, 2021 at 02:02:48AM -0700, tommady wrote:

and use this issue for ideas ...

[2021-11-06 12:25] chenyukang opened #457 "Debug issue with podman with limited memory resource"
[code]
will hangup.

OS version:
[code]

podman version:
[code]

[2021-11-06 12:28] chenyukang commented on #457
In my case, it blocked at this step:

[code]

[2021-11-07 05:58] utam0k commented on #12
@yihuaf @raravena80 @Furisto Thanks!

[2021-11-07 05:58] #12 closed

[2021-11-07 09:51] YJDoc2 commented on #404
Hey, now that #405 is merged, can we close this issue?

[2021-11-07 10:07] Furisto commented on #404
@YJDoc2 yes

[2021-11-07 10:07] #404 closed

[2021-11-07 12:59] utam0k commented on #453
@unknowndevQwQ As far as I know,  `--log` and debug options aren't specified in the oci spec. However, youki has a similar feature, In the youki case, youki can change log level by using the environment variable. How about this?
https://github.com/containers/youki/blob/ac9639931ea65a60b238cf93fcc829ec12215af3/crates/youki/src/logger.rs#L9-L14

[2021-11-07 13:01] utam0k commented on #454
@unknowndevQwQ As far as I know, --log and debug options aren't specified in the oci spec. However, youki has a similar feature, In the youki case, youki can change log level by using the environment variable. How about this?

[2021-11-07 13:02] utam0k commented on #453
Unify the discussion here.
https://github.com/containers/youki/issues/454

[2021-11-07 13:02] #453 closed

[2021-11-07 15:29] unknowndevQwQ commented on #454
Can you give an example?

[2021-11-07 20:57] Furisto commented on #454
`
sudo YOUKI_LOG_LEVEL=debug youki create ...
`

[2021-11-08 01:16] unknowndevQwQ commented on #454
How do I tell podman to pass the environment variable to youki?

[2021-11-08 05:02] utam0k commented on #454
There may be no way to pass environment variables to podman. I have never used it that way.
I agree with adding the `--debug` option. How about making this option have the same behavior as `YOUKI_LOG_LEVEL=debug`?